.container.container--fullwidth {

  aside.aside {

    padding-top: 40px;
    display: block;
    float: left; 
    width:100%; 

    .relateditem {

      padding: 0px;

      ul.panel__list li.panel__item {
        width: 100%;
        background: none;
        color: $aside-link-color;
        padding: 0px;

        @media (max-width: 600px) {
          width: 100%; 
        }

        &:hover {
          background: none; 
        }

        a {
          color: $aside-link-color;

          &:hover {
            color: $link-color-darken;
          }
        }
      }
    }
  }
}

@media (min-width: 840px) {
  .template--panel.body--aside, .template--list.body--aside, .template--blog, body.template--default, .template--documentsection, .template--formsservice {
    .container.container--fullwidth {
      max-width: 1170px; 

      .maincontent .a-heading, .maincontent .a-intro, .maincontent .a-body {
        max-width: none;
      }

      main.maincontent {
        width: 70%;
        float: left;
        clear: none;
      }

      aside.aside {
        width: 30%;
        float: left;
        clear: right;

        //test removing padding from feature cards - move this to correct css file if this is signed off with promo card work
        .a-panel--feature .grid__cell--feature .grid__cellwrap {
            padding: 10px 0;
        }

        .a-panel .a-panel__content {
          padding: 0px;
        }

        .relateditem {
          ul.panel__list li.panel__item {
            width: 100%;
            background: none;
            color: $aside-link-color;
            padding: 0px;

            @media (max-width: 600px) {
              width: 100%;
            }

            &:hover {
              background: none;
            }

            a {
              color: $aside-link-color;

              &:hover {
                color: $link-color-darken;
              }
            }
          }
        }
      }
    }
  }

  body.template--panel.body--no-aside .container.container--fullwidth aside.aside, body.template--list.body--no-aside .container.container--fullwidth aside.aside, .template--blog .container.container--fullwidth aside.aside, body.template--documentsection .container.container--fullwidth aside.aside, body.template--formsservice .container.container--fullwidth aside.aside {
    width: 100%;
  }
}



.body--no-aside {
  .container.container--fullwidth {
    .maincontent .a-heading, .maincontent .a-intro, .maincontent .a-body {
      max-width: 750px;
    }

    main.maincontent {
      width: 100%;
    }

    aside.aside {
      width: 100%;

      .a-panel .a-panel__content {
        padding: 0px;
      }

      .relateditem {
        ul.panel__list li.panel__item {
          width: 50%;
          background: none;
          color: $aside-link-color;
          padding: 0px;

          @media (max-width: 600px) {
            width: 100%;
          }

          &:hover {
            background: none;
          }

          a {
            color: $aside-link-color;

            &:hover {
              color: $link-color-darken;
            }
          }
        }
      }
    }
  }
}
