$breadcrumb-color: $grey-4 !default;
$breadcrumb-text-color: $black !default;
$breadcrumb-border-color: $grey-3 !default;
$breadcrumb-chevron: $breadcrumb-chevron-gray !default;

.breadcrumb__nav {
  padding: 0px;
  border: solid $breadcrumb-border-color 1px;
  background-color: $breadcrumb-color;
}

.breadcrumb {
  padding: 10px 0px;
  border: none;
  background-color: transparent;

  .breadcrumb__crumb {
    padding: 0px;
  }

  .breadcrumb__crumb a {
    color: $breadcrumb-text-color;
    text-decoration: none;
    font-weight: 600;

    &:hover {
      color: $breadcrumb-text-color;
      text-decoration: none;
      border-bottom: solid $breadcrumb-text-color 2px;
      line-height: normal;
    }
  }
  .breadcrumb__crumb:after { //in use
    content: "";
    background-color: transparent;
    background-image: $breadcrumb-chevron;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 24px 24px;
    display: inline-block;
    width: 24px;
    height: 24px;
    position: relative;
    margin: 0px;
    top: -1px;
  } 
}