/* 4632 Text links state indicator standardisation (Chill template)*/
// Focus & Focus+Hover
.gi-sitenav__link:focus,
/*.a-panel.a-panel--pt.a-panel--stage, */
.gi-sitenav--stage .gi-sitenav__link--lvl1:focus:hover {
  @include chill-sitenav-focus;
  text-underline-offset: 0.2578em;//0.1578em
  width: max-content;
  margin-left: auto;
  margin-right: auto;
}

.gi-sitenav__item--lvl1:first-child .gi-sitenav__link--lvl1:focus{
  padding-left: 10px;
}

// Hover
.gi-sitenav__link:hover {
  @include chill-sitenav-hover;
}

.item__sublink:focus:hover {
  text-decoration: none;
}