.block--cookie-consent-prompt {
    margin-bottom: 0;
    border: 0px;
    max-width: 90%;
    top: 50%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    
} 
    
#cookie-consent-prompt {
    content: "";
    position: fixed;
    background: rgba(0,0,0,0.6);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 99;
    backdrop-filter: blur(8px);
}
    
    
    
.block--cookie-consents-updated-confirmation {
    position: relative;
    padding-right: 70px;
    z-index: 9999;
    top: auto !important;
    left: auto !important;
    transform: translateX(0px) translateY(0px) !important;
    width: 100% !important;
    max-width: 100% !important;
    bottom: 0;
    position: fixed !important;
}

//5468
.cky-btn-revisit-wrapper:has(button.cky-btn-revisit:focus) {
    @include element-focus;
}
button.cky-btn-revisit:focus {
    box-shadow: none;
}