.gi-disclosure--body .gi-disclosure__toggle {
  border: solid transparent 4px;
  padding: 20px 90px 20px 10px;
}

h2.gi-disclosure__heading .gi-disclosure__toggle-text {
  font-size: 2rem;
}
h3.gi-disclosure__heading .gi-disclosure__toggle-text {
  font-size: 1.5rem;
}

.gi-disclosure--body .gi-disclosure__toggle:hover {
  background-color: $grey-5;
}

.gi-disclosure--body .gi-disclosure__toggle:focus { 
  border: solid $focus-color 4px;
  outline: 4px solid $black;
  outline-offset: 0px;
  position: relative;
  z-index: 1;

  &::after {
    border-bottom: solid $black 3px; 
    color: $black;
    background-color: $focus-color;
    background-image: url("data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20width='12'%20height='8'%20viewBox='0%200%2012%208'%20fill='none'%3E%3Cpath%20d='M1.41%200.579956L6%205.16996L10.59%200.579956L12%201.99996L6%207.99996L0%201.99996L1.41%200.579956Z'%20fill='%23050505'/%3E%3C/svg%3E");
  }
}

.gi-disclosure--body .gi-disclosure__toggle[aria-expanded=true]:focus {
  &::after {
    border-bottom: solid $black 3px;
    color: $black;
    background-color: $focus-color;
    background-image: url("data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20width='12'%20height='8'%20viewBox='0%200%2012%208'%20fill='none'%3E%3Cpath%20d='M10.59%207.41992L6%202.82992L1.41%207.41992L1.2414e-07%205.99992L6%20-7.87258e-05L12%205.99992L10.59%207.41992Z'%20fill='%23050505'/%3E%3C/svg%3E");
  }
}

.gi-disclosure--body .gi-disclosure__toggle::after {
  content: "Show";
  font-family: 'Assistant', 'Open Sans', sans-serif;
  font-size: 1.25rem;
  font-weight: 700;
  background-color: transparent;
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20width='12'%20height='8'%20viewBox='0%200%2012%208'%20fill='none'%3E%3Cpath%20d='M1.41%200.579956L6%205.16996L10.59%200.579956L12%201.99996L6%207.99996L0%201.99996L1.41%200.579956Z'%20fill='%234840e3'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: 95% 50%;
  background-size: 18px 18px;
  display: inline-block;
  top: 50%;
  transform: translateY(-50%);
  padding-right: 28px;
  border-bottom: solid 3px transparent;
  color: $link-color;
}

.gi-disclosure--body .gi-disclosure__toggle[aria-expanded=true]::after {
  content: "Hide";
  font-family: 'Assistant', 'Open Sans', sans-serif;
  font-size: 1.25rem;
  font-weight: 700;
  background-color: transparent;
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20width='12'%20height='8'%20viewBox='0%200%2012%208'%20fill='none'%3E%3Cpath%20d='M10.59%207.41992L6%202.82992L1.41%207.41992L1.2414e-07%205.99992L6%20-7.87258e-05L12%205.99992L10.59%207.41992Z'%20fill='%234840e3'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: 95% 50%;
  background-size: 18px 18px;
  display: inline-block;
  top: 50%;
  transform: translateY(-50%);
  padding-right: 28px;
  border-bottom: solid 3px transparent;
  color: $link-color;
}

.event .event__body .gi-disclosure.gi-disclosure--body {

  border: none;

  .gi-disclosure__toggle {
    border: solid 4px transparent;
    padding: 0px 40px 10px 0px;

    position: relative;
    width: 200px;
    color: $link-color;
  }

  h3.gi-disclosure__heading .gi-disclosure__toggle-text {
    font-size: 1.25rem;
  }

  .gi-disclosure__toggle:hover {  
    background-color: transparent;
    color: $link-color-darken;
  }

  .gi-disclosure__toggle:focus {
    background-color: $focus-color;
    border-color: $focus-color;
    outline: solid 4px $black;
    color: $black;
  }


  .gi-disclosure__toggle::after {
    content: "";
    height: 50%;
    right: 0px;
    top: 50%;
  }

  .gi-disclosure__toggle:focus {
    &::after {
      border-bottom: solid 3px transparent;
    }
  }
}

// 3831 Buttons part 2

button.btn--disclosure-toggle {
  padding: 5px 35px 5px 12px;
  box-sizing: border-box;
  margin: 0 10px 10px 0;
  font-family: inherit;
  position: relative;
  display: inline-block;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 600;
  text-decoration: none;
  transition: all .5s cubic-bezier(.25,.8,.25,1);

  &:hover {
    cursor: pointer;
    box-shadow: inset 0 0 20em rgba(0,0,0,0.2);
    text-decoration: underline;
    border-bottom: 0px !important;
  }

  &:focus {
    background-color: $focus-color;
    color: $black;
    box-shadow: 0 2px 0 $black;
    outline: none;
    transition: none;
    text-decoration: none;
  }
  &:hover {
    text-decoration: underline;
  }
}
