.gi-disclosure--body .gi-disclosure__toggle {
  border: solid transparent 4px;
  padding: 20px 90px 20px 10px;
}

.gi-disclosure__toggle-text {
  font-size: 1.75rem;
}

.gi-disclosure--body .gi-disclosure__toggle:hover {
  background-color: #eee;
}

.gi-disclosure--body .gi-disclosure__toggle:focus {
  border: solid $focus-color 4px;
  outline: 4px solid #050505;
  outline-offset: 0px;
  position: relative;
  z-index: 1;

  &::after {
    border-bottom: solid #050505 3px;
    color: #050505;
    background-color: $focus-color;
    background-image: url("data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20width='12'%20height='8'%20viewBox='0%200%2012%208'%20fill='none'%3E%3Cpath%20d='M1.41%200.579956L6%205.16996L10.59%200.579956L12%201.99996L6%207.99996L0%201.99996L1.41%200.579956Z'%20fill='%23050505'/%3E%3C/svg%3E");
  }
}

.gi-disclosure--body .gi-disclosure__toggle[aria-expanded]:focus {
  &::after {
    border-bottom: solid #050505 3px;
    color: #050505;
    background-color: $focus-color;
    background-image: url("data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20width='12'%20height='8'%20viewBox='0%200%2012%208'%20fill='none'%3E%3Cpath%20d='M10.59%207.41992L6%202.82992L1.41%207.41992L1.2414e-07%205.99992L6%20-7.87258e-05L12%205.99992L10.59%207.41992Z'%20fill='%23050505'/%3E%3C/svg%3E");
  }
}

.gi-disclosure--body .gi-disclosure__toggle[aria-expanded=false]::after {
  content: "Show";
  font-family: 'Assistant', 'Open Sans', sans-serif;
  font-size: 1.25rem;
  font-weight: 700;
  background-color: transparent;
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20width='12'%20height='8'%20viewBox='0%200%2012%208'%20fill='none'%3E%3Cpath%20d='M1.41%200.579956L6%205.16996L10.59%200.579956L12%201.99996L6%207.99996L0%201.99996L1.41%200.579956Z'%20fill='%232D5AB4'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: 95% 50%;
  background-size: 18px 18px;
  display: inline-block;
  top: 50%;
  transform: translateY(-50%);
  padding-right: 28px;
  border-bottom: solid 3px transparent;
  color: $link-color;
}

.gi-disclosure--body .gi-disclosure__toggle[aria-expanded=true]::after {
  content: "Hide";
  font-family: 'Assistant', 'Open Sans', sans-serif;
  font-size: 1.25rem;
  font-weight: 700;
  background-color: transparent;
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20width='12'%20height='8'%20viewBox='0%200%2012%208'%20fill='none'%3E%3Cpath%20d='M10.59%207.41992L6%202.82992L1.41%207.41992L1.2414e-07%205.99992L6%20-7.87258e-05L12%205.99992L10.59%207.41992Z'%20fill='%232D5AB4'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: 95% 50%;
  background-size: 18px 18px;
  display: inline-block;
  top: 50%;
  transform: translateY(-50%);
  padding-right: 28px;
  border-bottom: solid 3px transparent;
  color: $link-color;
}
