.template--eventsearch {
  .maincolumn > .container.container--fullwidth {
    max-width: none;
  }
  .maincolumn #maincontent {
    width: 100%;
  }
  .maincolumn #maincontent > .container {
    max-width: none;
    padding: 0px;
  }

  .a-heading.a-heading--eventsearch {
    position: absolute;
    width: 100%;  
    max-width: none;
    margin: auto;

    h1.a-heading__title {
      color: $black;
      text-align: center;
    }
  }
}

.event-search {

  .event-search__label {
    color: $black;
    font-size: 1.25rem;
    font-weight: 600;
  }

  .event-search__options {
    border: none;
    padding: 40px 0px;
    padding-top: 120px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    max-width: none;
    float: none;
    background: #fff;
    // background: ('https://www.museums.norfolk.gov.uk/-/media/museums/images/events/stage-img-1.jpgblue');

    form#eventsearch {
      max-width: 1170px;
      margin: auto;
    }

    .event-search__selections .event-search__option {
      background-color: transparent;
      border: none;

      select.event-search__dropdown {
        border-radius: 10px;
        color: $black;
        text-decoration: none;//3289 Remove underlining from Events Search
      }
    }

    .event-search__option--keywords {
      background: transparent;

      .event-search__keywords {
        display: flex;
      }

      .event-search__input--keywords {
        height: 100%;
        width: 80%
      }

      .event-search__submitwrap {
        padding: 0px;
        width: 20%;
        height: auto;
      }

      input.event-search__submit--keywords {
        background-color: $teal;
        border-radius: 0px 8px 8px 0px;
        width: 100%;
        height: 100%;

        &:hover {
          text-decoration: underline;
        }
        &:focus {
          box-shadow: none;
          background-color: $focus-color;
          outline-color: $black;
          outline-offset: -3px;
        }
      }

      input.searchform__inputtxt--event-search {
        border-radius: 8px 0px 0px 5px;
      }
    }
  }

  select.event-search__dropdown {
    &:focus {
      background-color: $white;

      option {
        background-color: $white;

        &:active, &:focus, &:current, &:target {
          background-color: $focus-color;
        }
      }
    }
  }

  input.searchform__inputtxt.searchform__inputtxt--event-search {
    &:focus {
      background-color: $white;
      text-decoration: none;//3289 hide underline text
    }
  }
}

.event-search .grid__cell--searchresults {
  max-width: 1170px;
  margin: auto;
  float: none;

  .grid__cellwrap {
    display: flex;
    flex-direction: column;
  }
}

.event-search__details {
  margin-left: 20px;
}

.event-results {
  display: flex;
  justify-content: stretch;
  flex-wrap: wrap;

  .event-instances__time {
    display: none;
  }

  .event-instances__to:not(:has(.event-instances__date)) {
    display:none;
  }

  .event-results__item {
    width: calc(33% - 40px);
    float: none;
    display: flex;
    flex-direction: column;
    margin: 20px;
    padding: 0px 0px 20px 0px;
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    position: relative;

    .event-results__imagecontainer {
      order: 0;

      aspect-ratio: 16/9;
      overflow: hidden;
      padding: 0px;
      width: 100%;
      border-radius: 8px 8px 0px 0px;

      img.event-related__image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        @include ani;
      }
    }

    .event-results__info {
      order: 1;
      padding: 0px 20px 20px 20px;
      width: 100%;
    }
    .event-instances {
      padding: 20px;
      margin: 0px;
      min-height: 110px;

      .event-instances__heading {
        .event-instances__title.event-instances__title--date, .event-instances__title.event-instances__title--location, .event-instances__title.event-instances__title--actions, .event-instances__title.event-instances__title--price {
          display: none;
        }
      }

      > .event-instances__item {
        background-color: transparent;
        display: flex;
        flex-direction: column;
      }
      > .event-instances__item ~ .event-instances__item {
        display: none;
      }

      .event-instances__value.event-instances__value--date {
        width: 100%;
        padding: 0px;
               
        a {
          color: $grey-2;
        }
      }
      .event-instances__value.event-instances__value--location {
        width: 100%;
        padding: 0px;
      }
      .event-instances__value.event-instances__value--actions {
        display: none;
      }
      .event-instances__value.event-instances__value--price {
        display: none;

        padding: 0px;
        color: $grey-2;
        width: 100%
      }
      .event-instances__viewall {
        display: none;
      }
    }

    .event-results__link--title {
      font-size: 1.75rem;
      font-weight: 700;

      &::before {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1;
        content: "";
      }
    }

    .event-results__link, .event-instances__link {
      color: $black;
      &:hover {
        color: $black;
        text-decoration: underline;
      }
    }

    .event-instances__link {
      font-weight: 700;
    }

    .event-results__intro {
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 4;
      text-overflow: ellipsis;
      overflow: hidden;
    }

    &:hover {
      .event-results__imagecontainer img.event-related__image {
        transform: scale(1.1);
      }
    }
  }
}

// @media only screen and (max-width: 1000px)
@include mq(lg, max) {

  .event-results .event-results__item {
    width: calc(33.33% - 40px);
  }

  .event-results__imagecontainer {
    margin: 0px;
  }
}

// @media only screen and (max-width: 720px)
@include mq(sm, max) {

  .event-search .event-search__options .event-search__option--keywords {
    .event-search__input--keywords {
      width: 60%;
    }
    .event-search__submitwrap {
      width: 40%;
    }
  }

  .event-results {
    flex-direction: column;
    padding: 20px;

    .event-results__item {
      margin: 0px 0px 20px 0px;
      width: 100%;

      .event-instances__value.event-instances__value--date a {
        color: $grey-2;
      }
    }
  }
}

/*===================================================
5658 Error message contrast - Museums event search
===================================================*/
.event-search__datepicker-error-message--from,
.event-search__datepicker-error-message--to,
.event-search__datepicker-error-message--empty,
.event-search__datepicker-error-message--order{
  color: #990000;
}

