footer.footer {
  font-weight: 600;
  background-color: $footer-background-color;
}

footer.footer * {
  color: $footer-color;
}

footer.footer-bottom {
  background-color: #050505;
}

.utilitymenu--bottom .utilitymenu__link {
color: $footer-color;
}