
footer.footer {
  font-weight: 600;
  background: $footer-background-color !important;
  border-top: 10px solid $grey-0;
}

footer.footer * {
  color: $black;
}

footer.footer-bottom {
  background-color: $grey-4; //#dee0e2;
  //padding: 0 0 50px;
  border-top: 10px solid $grey-2; //#727a82;
}

.utilitymenu--bottom .utilitymenu__link {
  color: $black;
}

.grid--footer>.grid__cell:first-child {
  width: $footer-first-column-width;
}

.grid__cell.grid__cell--utilities.grid__cell--cols1 .utilitymenu--bottom {
  column-count: $footer-first-column-count;
}

.utilitymenu--bottom .utilitymenu__item {
  break-inside: avoid-column;
}

//Move Copyright below the rest of the footer
.grid--footer>.grid__cell:last-child {
  clear: both;
  text-align: center;
  width: 100%;
}

@media (max-width: 560px) {
  .grid--footer>.grid__cell:first-child {
    width: 100%;
  }
  .grid__cell.grid__cell--utilities.grid__cell--cols1 .utilitymenu--bottom {
    column-count: 1;
  }
}