.icmform {
    max-width: 750px;

    .icmcheckcontainer label::before, input, textarea, select, .icmradiocontainer label::before, .icmsinglecheckbox label::before {
        border: 2px solid #000000;
        border-radius: 6px;
    }

    .field_upload input {
        border: none;
        font-size: 1.1875rem;
    
        /*&::file-selector-button, &::-webkit-file-upload-button { 
            background-color: #FFFFFF;
            padding: 5px;
        }*/
    }
    .field_upload input.icmlfile.icmlfile--clear {
        padding-left: 2px; // ugly solution but it fixes the focus overlap issue
    }

    .icmformleft label, .icmformright label {
        font-size: 1.1875rem;
        font-weight: 400;
    }
    
    .btn {
        background-color: #00823b;
        color: #FFFFFF;
        font-size: 1.125rem;
        font-weight: 600;
        line-height: 1;
        border-radius: 6px;
        transition: all .5s cubic-bezier(0.25,0.8,0.25,1);
        &:hover {
            //box-shadow: inset 0 0 20em rgba(0,0,0,0.2);
            background-color: #005a30;
            color: #FFFFFF;
            box-shadow: 0px 0px 0px 3px #fd0;
        }
    }

    .icmradiocontainer label::before {
        border-radius: 18px;
    }

    input[type=button] {
        font-size: 1.125rem;
        font-weight: 600;
        line-height: 1;
    }


    button, input[type=button], input[type=button].icminput--contrast, input[type=submit].icminput--contrast, input[type=reset].icminput--contrast {
        &:focus {
            //outline: 3px solid #0064ff;
            background-color: #fd0;
            //box-shadow: 0px 0px 0px 3px #fd0, 0px 0px 0px 6px #000000; 
            //box-shadow: none;
            color: #000000;
            box-shadow: 0 2px 0 #000000; //#002d18;
            outline: none;
        }
    }

    input:focus, select:focus, textarea:focus, 
    .icmsinglecheckbox input[type=checkbox]:focus+label::before, 
    .icmcheckcontainer input[type=checkbox]:focus+label::before, 
    .icmradiocontainer input[type=radio]:focus+label::before {
        //box-shadow: 0px 0px 0px 3px #fd0, 0px 0px 0px 6px #000000; 
        outline: 3px solid #fd0;
        //outline-offset: 0;
        box-shadow: inset 0 0 0 2px;
    }

    input[type=button].icminput--contrast:hover {
        background-color: #000000;
        box-shadow: 0px 0px 0px 3px #fd0;
        color: #FFFFFF;
    }

    input[type=button]:hover {
        background-color: #dbdad9;
        //box-shadow: 0px 0px 0px 3px #fd0;
        box-shadow: inset 0 0 0 3px;
        outline: 3px solid #fd0;
    }

    input[type=text].icmstext:focus {
        background-color: transparent;
        text-decoration: none;
    }


    // zebra - alternate table gray row background
    .zebra tbody tr:nth-child(odd) {
        background-color: #f9f9f9;
     }

    td {
        width: auto;
        word-break: normal;
     }

    // Coroners Inquest styling

    .icmformdatavalue--inquest {
    background-color: #FD0000;
    }
    .icmformdatavalue--opening {
    background-color: #56A91D;
    }
    .icmformdatavalue--juryinquest {
    background-color: #42145F;
    }
    .icmformdatavalue--review {
    background-color: #4B85D8;
    }
    .icmformdatavalue--pre-inquest, .icmformdatavalue--preinquest {
    background-color: orange;
    }
    .icmformdatavalue--inquestinwriting {
    background-color: #8b8680;
    }
}

//metadata modifiers for fullwidth column for .icmforms
.body--full-width .icmform {
max-width: none;
}

.body--full-width .maincontent .a-heading,.body--full-width .maincontent .a-intro, .body--full-width .maincontent .a-body {
    max-width: none;
}

//2078 Mobile view fix for forms (put div round table with class and scroll within div)
.icmform .table-responsive {
    overflow-x: auto;
}