// Header

/*
Variables to change:
  - $header-color (background colour)
  - $header-text-color
  - $burger-menu-color
*/


.header {
  background-color: $header-color;
  padding: 20px 0px;
}

.gi-sitelogo--header .gi-sitelogo__image {
  object-fit: contain;
}


.gi-sitenav.gi-sitenav--desktop.gi-sitenav--hassearch {
  margin: 0px;
}

.utilitymenu--top .utilitymenu__link, .utilitymenu--top .utilitymenu__text, .utilitymenu--mobile .utilitymenu__link, .utilitymenu--mobile .utilitymenu__text {
  color: $header-text-color;

  &:hover {
    color: $header-text-color;
  }

  &:focus {
    color: #050505;
    background-color: $focus-color;
  }
}

.utilitymenu--top .utilitymenu__link {
  background-color: $header-utilitymenu-color;
}

.gi-sitenav__link {
  color: $header-text-color;

  &:hover {
    color: $header-text-color;
  }

  &:focus {
    color: #050505;
    background-color: $focus-color;
  }
}

.gi-sitenav__item--lvl1 {
  float: inline-start;
  display: inline-block;
}

// Dropdown menu

.gi-sitenav__list.gi-sitenav__list--lvl2 {
  background-color: #fff;
  color: #050505;

  .gi-sitenav__item.gi-sitenav__item--lvl2 .gi-sitenav__link.gi-sitenav__link--lvl2 {
    color: #050505;
  }
}

.gi-sitenav__link.gi-sitenav__link--lvl1 {
  font-size: 1.125rem;

  &:hover {
    text-decoration: underline;
  }
}

.gi-sitenav__link--lvl1 {
  margin: 0 0 0 15px;
  padding: 0;
}

.utilitymenu.utilitymenu--mobile {
  margin-top: 0px;//80px;
}

.utilitymenu--mobile .utilitymenu__link {
  font-size: 1.125rem;
}

// burger menu

.gi-mobilenavtoggle__mtrotate.gi-mobilenavtoggle__mtrotate--mobilemenu * {
  background-color: $burger-menu-color;
}
.gi-mobilenavtoggle__btn[aria-expanded="true"] .gi-mobilenavtoggle__mtrotate * {
  background-color: $burger-menu-color;
}

// Stage / banner

header .imagebanner {
  display: none;
}

.body--showbanner .imagebanner {
  display: block;
}

//Mobile Menu
.sitemenu--mobile .sitemenu__item {
  text-align: $header-mobilemenu-text-alignment;
}





