//4580 Session timeout styling - popup on forms that time out
.dialog__close, .dialog__closefallbackinner {
  color: $black;//$white
   background-color: transparent;
   
}

.gi-carousel__linkswrapper {
    text-align: center;
    position: absolute;
    bottom: 10px;
}

.gi-carousel--imagegalleryinline .gi-carousel__controls {
    margin: 0 0 20px 0;
    width: 100%;
    position: absolute;
}



.dialog--imagegalleryinline .dialog__content {
    min-height: calc(100vh - 36px);
    background: $grey-0; // #222
    display: flex;
    flex-direction: column;
}

//4580 Session timeout styling - popup on forms that time out
h2.dialog__header, .h2.dialog__header {
    color: $black;//$white
}

.dialog--imagegalleryinline .dialog__body {
    height: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
        p {color: $white;}
}

.gi-carousel--imagegalleryinline {
    padding: 0;
    flex-grow: 2;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}


.gi-carousel__play {display: none;}


.gi-carousel--imagegalleryinline .gi-carousel__links {    padding: 0px;
    background: $grey-0; // #333
    color: $white; 
    border-radius: 6px;
    overflow: hidden; position: relative;
    bottom: 10px;}


.gi-carousel--imagegalleryinline .gi-carousel__itemlinkbtn {
    border-radius: 0;
    border: 0px;
    background-color: transparent;
    margin: 0;
    color: $white;
}


.gi-carousel--imagegalleryinline .gi-responsiveimage__imagewrapper {width: auto; height: auto;}

.gi-carousel--imagegalleryinline .gi-carousel__previous, .gi-carousel--imagegalleryinline .gi-carousel__next {
    position: absolute;
    top: 50%;
    width: 44px;
    height: 44px;
    transform: translateY(-50%);
    border: 1px solid $grey-3;
    border-radius: 32px;
    background-color: $white;

    &:hover {
        color: $black;
        background-color: $black;
    }
    &:focus {
        color: $black;
        background-color: $focus-color;
    }

}

.gi-carousel--imagegalleryinline .gi-carousel__next  {right: 0;}
.gi-carousel--imagegalleryinline .gi-carousel__prev  {left: 0;}


.gi-carousel__play:hover, .gi-carousel__play:focus, .gi-carousel__previous:hover, .gi-carousel__previous:focus, .gi-carousel__next:hover, .gi-carousel__next:focus {
    color: $white;
    background: $black;
    outline: 2px solid $focus-color; 
}

.gi-carousel__previous::after {
  font-size: 18px;
    position: absolute;
    top: calc(50% + 2px);
    left: calc(50% - 1px);
    transform: translateY(-50%) translateX(-50%);    
}
.gi-carousel__next::after {
    font-size: 18px;
      position: absolute;
      top: calc(50% + 2px);
      left: calc(50% + 1px);
      transform: translateY(-50%) translateX(-50%);    
  }


.gi-carousel__links {
    
    .gi-carousel__itemlink {     border-radius: 0; display: inline-block; border-right: 1px solid $grey-3;}
    .gi-carousel__itemlinkbtn--selected {background-color: $teal;  }

}

.gi-carousel__itemlinkbtn:focus::before {
    content: "";
   
    box-shadow: 0 0 0 0px #0064ff; // remove???
    outline: 2px solid $focus-color;
   
    border-radius: 0;
}


.gi-carousel__itemlinkbtn:hover, .gi-carousel__itemlinkbtn:focus {
    color: $black;
    background-color: $focus-color !important;
}


li.gi-carousel__slide {

.gi-responsiveimage--imagegallery {  
    display: flex;
    justify-content: center;    
    }

}

.imagegalleryinline{

    .grid--5col>.grid__cell:nth-child(5n+1) {
        clear: none;
    }



    .grid__cell {
        width: 25%;
        padding: 5px;
    
        

        .grid__cellwrap {

            @include aspect-ratio;

            figure.gi-responsiveimage {
               
                @include aspect-ratio;
            }


        }
    
    
    }


}

/*====================================
5117 Gallery dialog colour contrast
====================================*/
.imagegalleryinline {
    h2.dialog__header,
    .dialog__header#imagegallery-dialog-i31455350107764_header,
    .dialog__close{
        color: $white;
    }

    .dialog__close{
        width: 45px;
        height: 45px;
        font-size: 25px;
    }

    dialog__close:focus,
    .gi-carousel--imagegalleryinline .gi-carousel__next:focus,
    .gi-carousel--imagegalleryinline .gi-carousel__previous:focus,
    .gi-carousel--imagegalleryinline .gi-carousel__next:focus:hover,
    .gi-carousel--imagegalleryinline .gi-carousel__previous:focus:hover{
        outline: none;
        background: $focus-color;
        border: 3px solid $black;
        color:$black;
    }

    .dialog__close:hover,
    .gi-carousel--imagegalleryinline .gi-carousel__next:hover,
    .gi-carousel--imagegalleryinline .gi-carousel__previous:hover{
        background: $white;
        color: $black;
        outline: none;
        text-underline-offset: 3px;
    }

    .gi-carousel__next:hover::after,
    .dialog__close:hover::before,
    .gi-carousel__previous:hover::after, 
    .gi-carousel--imagegalleryinline .gi-carousel__next:focus:hover,
    .gi-carousel--imagegalleryinline .gi-carousel__previous:focus:hover{
        text-decoration: underline;
    }

    ::marker {
        content: "";
    }
} 

/*===========================================
5118 Image link/button focus styling
===========================================*/
.a-body__image figure.gi-responsiveimage:focus, 
.a-body__image .gi-responsiveimage__imagewrapper:focus, 
.a-body__image .gi-responsiveimage__image:focus,
.imagegalleryinline__button:focus,
.n-stage__link--logo:focus {
    box-shadow: 0 0 0 5px $black;
    outline: 3px solid $focus-color;
}

.n-stage__link--logo:focus{
    outline: 3px solid $black;
    border: 3px solid $focus-color;
    background: none;
    margin-bottom: 5px;
}