// Image caption text

.gi-responsiveimage__caption {
    font-size: 1rem;
    font-weight: 500;
  }

/* Fix caption width #2991 */

.a-body__image .gi-responsiveimage__caption {
    caption-side: bottom;
    display: table-caption;
  }

  .a-body__image .gi-responsiveimage {
    display: table;
    width: auto;
    }

// Fixing panel interaction with auto-height JS

// .a-panel--pt.a-panel--list .item__content, .a-panel--pt.a-panel--hasbackground .a-panel__content .item.item--article {
//   min-height: 10px !important;
// }

// Option to hide page title

.body--hide-title {
  main .a-heading.a-heading--panel .a-heading__title {
    position: absolute;
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    padding: 0 !important;
    margin: -1px !important;
    overflow: hidden !important;
    clip: rect(0,0,0,0) !important;
    white-space: nowrap !important;
    border: 0 !important;
  }  
}

// visually hidden

.visually-hidden {
  position: absolute;
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0,0,0,0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}

//GovMetric smileys
.feedback {
  position: static;
  float: inherit;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 0px;

  h2.feedback_heading {
    text-align: center;
    font-size: 1.125rem;
    margin-bottom: 10px;
  }

  .smileys {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 150px;
  }

  a.feedback_option {
    margin: 0px 5px;
    display:block; 

    &:hover, &:focus {
      transform: scale(1.1);
      outline: 5px solid $focus-color;
      background: $focus-color;
      box-shadow: none; //3832
    } 
  } 
}

// Site alert 

.sitealert {
  height: auto; //60px;
  /*=========================================================
  1117 Sitealert bug-fix
  =========================================================*/
  display: flex;
  align-items: left;
  padding: 0 15px;

  .container {
   // height: 100%;
    display: flex;
    flex-direction: column;
    align-items: left;
    width: 100%;

    .sitealert__heading {
      margin: 0px 0px 5px 0px;
      font-weight: bold;
    }

    .sitealert__content{
      margin: 0;
      white-space: normal;
      overflow: hidden;
      word-wrap: break-word;
      padding-top: 0px;
      padding-bottom: 0px;
    }

    .sitealert__content p{
      margin: 0;
    }

    .sitealert__content a:hover{
      color: #4840e3;
    }
  }
}

@media(max-width: 768px){
  .sitealert{
    height: auto;
    padding: 10px;
  }

  .sitealert .container{
    flex-direction: column;
    align-items: flex-start;
  }

  .sitealert .container.sitealert__heading{
    padding-bottom: 0px;
    margin-bottom: 0px;
  }

  .sitealert .container .sitealert__content{
    white-space: normal;
    overflow: hidden;
    word-wrap: break-word;
    margin-top: 0;  
  }

  .sitealert__content p{
    margin: 0;
  }

  .sitealert .container .sitealert__content a:hover{
    color: #4840e3;
  }
}
/*=======================================================
                           END
=======================================================*/

iframe {
  @include mq('lg', 'max') {
    width: 100%;
  }
}

//Highlight boxes
.alert--none, .alert--contrast.alert--warn {
  h2, h3, h4, h5, h6 {
    color: $black;
  }
}
.alert--contrast.alert--none, .alert--contrast.alert--error, .alert--contrast.alert--info {
  h2, h3, h4, h5, h6 {
    color: $white;
  }
}
.alert--info {
  h2, h3, h4, h5, h6 {
    color: $pale-blue;
  }
}
.alert--warn {
  h2, h3, h4, h5, h6 {
    color: $pale-orange;
  }
}
.alert--error {
  h2, h3, h4, h5, h6 {
    color: $pale-red;
  }
}
p.gi-info {
  color: $black;
}
p.gi-info--alert, p.gi-info--primary, p.gi-info--secondary {
  color: $white;
}


//Quick exit
#qe {
  z-index: 10000;
  right: 0;
  left: auto;
  background: #002649;
  padding-right: 20px;
  text-align: center;

  &.cta-link--qe::after {
    content: none;
  }

  .desktop {
    display: none;
  }
}

@include mq('sm', 'min') {
  #qe {
    top: 200px;
    padding: 1em;
    border-radius: 0.5em 0 0 0.5em;
    bottom: auto;
    
    span {
      display: block;
      font-size: 1.4em;
    }

    .desktop {
      display: block;
    }
  }
}

// Pagination

li.paging__item.paging__item--current {
  span.paging__text, span.paging__value {
    color: $black;
  }
}

li.paging__item a.paging__link {
  &:hover {
    color: $black;
    text-decoration: underline;
  }
  &:focus {
    box-shadow: none;
    text-decoration: underline;
    outline-color: $black;
  }
}


// Tablist GOSS Tabs

.gi-tabs__tab.gi-tabs__tab {
  margin: 0;
  padding: 10px 20px;
  border: solid 1px $grey-3;
  background: $white;
}
.gi-tabs__tab.gi-tabs__tab[aria-selected="true"] {
  background: $white;
  border-bottom: 1px $white solid;
  text-decoration: none;
}
.gi-tabs__tab.gi-tabs__tab[aria-selected="false"] {
  text-decoration: underline;
}

.gi-tabs__tab.gi-tabs__tab:hover,.gi-tabs__tab.gi-tabs__tab:focus {
  text-decoration-thickness: 2px;
  text-decoration-skip-ink: auto; 
}
.icmform button.gi-tabs__tab:focus {
  outline: 3px solid rgba(0, 0, 0, 0);
  box-shadow: 0 -2px $focus-color, 0 3px $black;
  background-color: $focus-color;
  text-decoration: none;
  /* text-underline-offset: 6px; */
}
.gi-tabs__tab.gi-tabs__tab {
  margin: 0;
  padding: 10px 20px;
  border: solid 1px $grey-3;
  background: $white;
}

.icmform .gi-tabs__panel.gi-tabs__panel:focus{
  background-color: transparent;
  outline: none;
  text-decoration: revert;
}

// 2190 - block quote styles
//TODO - where should blockquote styles go?

.blockquote_base {
  border-left: none;
  padding: 0px 40px 20px 40px;
  border-radius: 25px;
  &::before {
    content: "";
    display: block;
    width: 32px; 
    height: 32px;
    margin-bottom: 40px;
  }
}
.maincontent .a-body:has(blockquote) {
  max-width: 100%;
}

.a-body {

  blockquote p {
    display: inherit;
    font-size: 1.25rem;
    font-weight: 400;
    //color: #fff;

    &:first-child {
      display: inherit;
      font-size: 1.5rem;
      font-weight: 600;
      //color: #fff; 
      margin-top: 10px;
    }
  }

  .blockquote_blue {
    @extend .blockquote_base;
    background-color: #212b55;
    color: $white;
    &::before {
      color: $white;
      $string: "data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='4 0 24 24'%3E%3Ctitle%3Eformat-quote-open%3C/title%3E%3Cpath d='M10,7L8,11H11V17H5V11L7,7H10M18,7L16,11H19V17H13V11L15,7H18Z' fill='%23fff'/%3E%3C/svg%3E";
      $string2: str-replace($string, ' ', '%20');
      background-image: url($string2);
    }
    
  }

  .blockquote_white {
    @extend .blockquote_base;
    background-color: $white;
    color: $black;
    &::before {
      color: $black;
      $string: "data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='4 0 24 24'%3E%3Ctitle%3Eformat-quote-open%3C/title%3E%3Cpath d='M10,7L8,11H11V17H5V11L7,7H10M18,7L16,11H19V17H13V11L15,7H18Z' fill='%23000'/%3E%3C/svg%3E";
      $string2: str-replace($string, ' ', '%20');
      background-image: url($string2);
    }
  }

  .blockquote_theme {
    @extend .blockquote_base;
    background-color: $header-color;
    color: $header-text-color;
    &::before {
      color: $header-text-color;
      //TODO - work out what the quote colour should be because the theme text colour could be white or black
      
      $theme: str-replace("" + $header-text-color, '#', '%23'); //prefix header colour text with empty string so that the function treats it as a string otherwise it errors on compilation.

      $string: "data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='4 0 24 24'%3E%3Ctitle%3Eformat-quote-open%3C/title%3E%3Cpath d='M10,7L8,11H11V17H5V11L7,7H10M18,7L16,11H19V17H13V11L15,7H18Z' fill='" + $theme + "'/%3E%3C/svg%3E";
      $string2: str-replace($string, ' ', '%20');
      background-image: url($string2);
    }
  }
}