// Image caption text

.gi-responsiveimage__caption {
    font-size: 1rem;
    font-weight: 500;
  }

// Fixing panel interaction with auto-height JS

// .a-panel--pt.a-panel--list .item__content, .a-panel--pt.a-panel--hasbackground .a-panel__content .item.item--article {
//   min-height: 10px !important;
// }

// Option to hide page title

.body--hide-title {
  main .a-heading.a-heading--panel .a-heading__title {
    position: absolute;
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    padding: 0 !important;
    margin: -1px !important;
    overflow: hidden !important;
    clip: rect(0,0,0,0) !important;
    white-space: nowrap !important;
    border: 0 !important;
  }  
}

// visually hidden

.visually-hidden {
  position: absolute;
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0,0,0,0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}

//GovMetric smileys
.feedback {
  position: static;
  float: inherit;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 0px;

  h2.feedback_heading {
    text-align: center;
    font-size: 1.125rem;
    margin-bottom: 10px;
  }

  .smileys {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 150px;
  }

  a.feedback_option {
    margin: 0px 5px;

    &:hover, &:focus {
      transform: scale(1.1);
      outline: 5px solid $focus-color;
      background: $focus-color;
    }
  }
}

// Site alert

.sitealert {
  height: 60px;

  .container {
    height: 100%;
    display: flex;
    align-items: center;

    .sitealert__heading {
      margin: 0px 0px 5px 0px;
    }
  }
}


iframe {
  @include mq('lg', 'max') {
    width: 100%;
  }
}

//Highlight boxes
.alert--none, .alert--contrast.alert--warn {
  h2, h3, h4, h5, h6 {
    color: #000;
  }
}
.alert--contrast.alert--none, .alert--contrast.alert--error, .alert--contrast.alert--info {
  h2, h3, h4, h5, h6 {
    color: #fff;
  }
}
.alert--info {
  h2, h3, h4, h5, h6 {
    color: #31708f;
  }
}
.alert--warn {
  h2, h3, h4, h5, h6 {
    color: #8a6d3b;
  }
}
.alert--error {
  h2, h3, h4, h5, h6 {
    color: #a94442;
  }
}
p.gi-info {
  color: #000000;
}
p.gi-info--alert, p.gi-info--primary, p.gi-info--secondary {
  color: #FFFFFF;
}

