// Image caption text

.gi-responsiveimage__caption {
    font-size: 1rem;
    font-weight: 500;
  }

// Fixing panel interaction with auto-height JS

// .a-panel--pt.a-panel--list .item__content, .a-panel--pt.a-panel--hasbackground .a-panel__content .item.item--article {
//   min-height: 10px !important;
// }

// Option to hide page title

.body--hide-title {
  main .a-heading.a-heading--panel .a-heading__title {
    position: absolute;
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    padding: 0 !important;
    margin: -1px !important;
    overflow: hidden !important;
    clip: rect(0,0,0,0) !important;
    white-space: nowrap !important;
    border: 0 !important;
  }  
}

// visually hidden

.visually-hidden {
  position: absolute;
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0,0,0,0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}

//GovMetric smileys
.feedback {
  position: static;
  float: inherit;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 0px;

  h2.feedback_heading {
    text-align: center;
    font-size: 1.125rem;
    margin-bottom: 10px;
  }

  .smileys {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 150px;
  }

  a.feedback_option {
    margin: 0px 5px;

    &:hover, &:focus {
      transform: scale(1.1);
      outline: 5px solid $focus-color;
      background: $focus-color;
    }
  }
}

// Site alert

.sitealert {
  height: 60px;

  .container {
    height: 100%;
    display: flex;
    align-items: center;

    .sitealert__heading {
      margin: 0px 0px 5px 0px;
    }
  }
}


iframe {
  @include mq('lg', 'max') {
    width: 100%;
  }
}

//Highlight boxes
.alert--none, .alert--contrast.alert--warn {
  h2, h3, h4, h5, h6 {
    color: #000;
  }
}
.alert--contrast.alert--none, .alert--contrast.alert--error, .alert--contrast.alert--info {
  h2, h3, h4, h5, h6 {
    color: #fff;
  }
}
.alert--info {
  h2, h3, h4, h5, h6 {
    color: #31708f;
  }
}
.alert--warn {
  h2, h3, h4, h5, h6 {
    color: #8a6d3b;
  }
}
.alert--error {
  h2, h3, h4, h5, h6 {
    color: #a94442;
  }
}
p.gi-info {
  color: #000000;
}
p.gi-info--alert, p.gi-info--primary, p.gi-info--secondary {
  color: #FFFFFF;
}


//Quick exit
/*$WarningSVG: "data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='30' height='28' xml:space='preserve' version='1.1' viewBox='0 0 30 28' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cg%3E%3Cimage width='30' height='28' xlink:href=='data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAcCAYAAAB2+A+pAAAAAXNSR0IArs4c6QAAAbxJREFUSEvFllFSwjAURe9jGEarH2QHsAPZAexAvqVKd+AO1BW4hDKWf9kBuAN2ADtIP6Q6yhCnpYDQJnlxOmP+2rzcM6/JvQ3hD0O+XAxBKsyX9oWfTFxlyHWBDJtN1L8WAJr52hjrRlsEceyi5Q6OvEcADyeQJ+En6Xv2cALL8KyFei3ttjjWm7YIPpdcsht47IVQGGrEJ8JP+pWDZXTZBTZTs3CtJ/z3GQfO7lhG51OAumZRNRP+R68ysIy8awCvHEEoCsTtamSrZXUsx94CCq2DmJoB9JY9E+6O5ghLfDc6NntZwXJ8fg9Fzzr7aLbAai8juCQsdvy9sAYcY73pmOxlBpeHRQq3gdMtGIlBEuj2Wgs2hgUHnBH19tKDzWFh7zgD6+1VCmaEBROcssvtpQFbw4IP1tirAGaGBR+8PV0FexXBhbAoPZeu4MI/+wisCYsysiu4YK892BAWttjlz9eoI25W823S5kPqw4IvbK082CsDW8KiRM7wk7DCkV0Ot2BzWFSzxzsVwlIMkjYxwqJacG4v4t0sTthpKCiVX+zo6tdV1/6htxUxychT3Ooq6/4R7H6wqmh8/gOAL+tl1ggv9gAAAABJRU5ErkJggg=='/%3E%3C/g%3E%3C/svg%3E";
$WarningSVG2: str-replace($WarningSVG, ' ', '%20');*/

#qe {
  z-index: 10000;
  right: 0;
  left: auto;
  background: #002649;
  .desktop {
    display: none;
  }
}

@include mq('sm', 'min') {
  #qe {
    cursor: pointer;
    background: #002649;
    position: fixed;
    right: 0;
    top: 200px;
    padding: 1em;
    border-radius: 0.5em 0 0 0.5em;
    //padding-right: 50px;
    bottom: auto;
    left: auto;
    border: 3px solid white;
    
    .desktop {
      display: block;
    }

    /*:nth-child(2):after {
      padding-bottom: 10px;
    }*/

    span {
      display: block;
      text-align: center;
      font-size: 1.4em;
      font-weight: 400;

      strong {
        color: #FFFFFF;
      }
    }

  }

  .cta-link--qe::after {
    content: none;
  }
}



/*
$string: "data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20.1273 17.9047L20.8042 14.3423H16.8636V13.0826C16.8636 11.2 17.6282 10.4758 19.6063 10.4758C20.2207 10.4758 20.7151 10.4904 21 10.5193V7.28995C20.4605 7.14521 19.1418 7 18.3772 7C14.346 7 12.4877 8.83958 12.4877 12.8073V14.3423H10V17.9047H12.4877V25.6569C13.4211 25.8804 14.3972 26 15.4021 26C15.897 26 16.3843 25.9707 16.8636 25.9148V17.9047H20.1273Z' fill='black'/%3E%3Ccircle cx='16' cy='16' r='14.5' stroke='black'/%3E%3C/svg%3E";
$string2: str-replace($string, ' ', '%20');
.a-share__link:nth-child(2) .a-share__image {
    content: '';
    background-image: url($string2);
    background-size: contain;
    width: 32px;
    height: 32px;
}*/