body {
    counter-reset: css-counter 0;
  }
  
  .numbered-step {
    counter-increment: css-counter 1;
    /*width: 500px;*/
    margin: 0px;
    padding: 10px;
    padding-left: 40px;
    position: relative;
  }
  
  .numbered-step:before {
    content: counter(css-counter);
    width: 33px;
    height: 33px;
    text-align: center;
    border: solid 3px $grey-3; // #bfc1c3
    position: absolute;
    border-radius: 16px;
    z-index: 2;
    padding: 4px 0px 0px 0px;
    left: 0px;
    background: $white;
    color: $grey-0; // #212529
  }
  
  .numbered-step:after {
    content: "";
    display: block;
    width: 2px;
    background: $grey-3; // #bfc1c3
    position: absolute;
    left: 16px;
    height: 100%;
    top: 0;
  }