


.template--documentsection {

    .contents__listitem::before {
        content: "-";
        font-family: inherit;
    }



    .contents__list{

        columns: 1;
        @include mq('sm') {
            columns: 2;
        }
       // li.contents__listitem { }


    }



    .document-pagination {
        
        .document-pagination__link{width: 50%;}
        .document-pagination__link--next { float: right;}
        .document-pagination__link--prev {float: left;}


    }



}


//Share this page icons
.a-share__link:nth-child(2) .a-share__image {
    content: url("/image/266/Facebook-icon/original.png");
    background-size: contain;
    width: 32px;
    height: 32px;
}
.a-share__link:nth-child(3) .a-share__image {
    content: url("/image/267/Twitter-icon/original.png");
    background-size: contain;
    width: 32px;
    height: 32px;
}
.a-share__link:nth-child(4) .a-share__image {
    content: url("/image/268/Email-icon/original.png");
    background-size: contain;
    width: 32px;
    height: 32px;
}
.a-share__link:nth-child(6) .a-share__image {
    content: url("/image/269/Print-icon/original.png");
    background-size: contain;
    width: 32px;
    height: 32px;
}

