.template--documentsection {
 
    .contents__title, .document-print {
        display: none;
    }

    .contents__listitem::before {
        content: "";
        margin-left: unset;
        padding-right: unset;
    }

    &.body--doc-nonumbering {
        
        .contents__listitem {
            list-style-type: none;

            &::before {
                content: "-";
                font-family: inherit;
                margin-left: -25px;
                padding-right: 10px;
            }
        }        
    }

    .contents__listitem {
        list-style-type: decimal;
    }

    .contents__list{

        columns: 1;
        @include mq('sm') {
            columns: 2;

            .contents__listitem {
                -webkit-column-break-inside: avoid;
                page-break-inside: avoid;
                break-inside: avoid;
            }
        }
       // li.contents__listitem { }


    }

    .contents__listlink {
        &:hover {
            /*text-decoration: underline;*/
            //color: $link-color-darken;
            @extend %a-link-hover; //3832
        }
        &:focus {
            /*text-decoration: underline;
            color: $black;
            outline: solid 2px $black;*/
            @extend %a-link-focus; //3832
        }
    }

    .document-pagination { 
        
        .document-pagination__link {
            width: auto;

            &:hover {
                //text-decoration: underline;
                //color: $link-color-darken;
                text-decoration: none;
                @extend %a-link-hover; //3832
                
                .document-pagination__pagetitle {
                    text-decoration: underline;
                }
            }
            &:focus {
                //text-decoration: underline; //3832
                //outline: solid 2px $black;
                box-shadow: none;

                span { //3832
                    @extend %a-link-focus;
                    &.document-pagination__direction {
                        box-shadow: none;
                        box-shadow: 0 2px $focus-color;
                    }
                }
            }
            &:focus:hover .document-pagination__pagetitle  { //3832
                text-decoration: none;
            }

            //3832
            .document-pagination__link--prev .document-pagination__direction {
                display: inline;
                &::before {
                    top: 27%;
                }
            }
            
        }

        .document-pagination__pagetitle {
            text-decoration: none;
        }
    }


    //NEXT
    .document-pagination__link--next { 
        float: right;

        span {
            padding-right: 30px;
            padding-left: 0px;
            margin-left: 0px;

            //3832
            &.document-pagination__pagetitle {
                padding-right: 0px;
                margin-right: 30px;
            }
        }

        .document-pagination__direction {
            padding-right: 0px;

            &::before {
                content: ""; 
            }
            &::after {
                content: "\e827";
                float: right;
            }
        }
    }

    //PREV
    .document-pagination__link--prev {
        float: left;
    }
}

.document-pagination__link--prev, .document-pagination__link--next { 
    .document-pagination__direction::after {
        content: "";
        display: block;
    }
}


/*3448 - //Share this page icons
.a-share__link:nth-child(2) .a-share__image {
    content: url("/image/677/Facebook-icon/original.png");
    background-size: contain;
    width: 32px;
    height: 32px;
}
.a-share__link:nth-child(3) .a-share__image {
    content: url("/image/679/Twitter-icon/original.png");
    background-size: contain;
    width: 32px;
    height: 32px;
}
.a-share__link:nth-child(4) .a-share__image {
    content: url("/image/676/Email-icon/original.png");
    background-size: contain;
    width: 32px;
    height: 32px;
}
.a-share__link:nth-child(6) .a-share__image {
    content: url("/image/678/Print-icon/original.png");
    background-size: contain;
    width: 32px;
    height: 32px;
}*/

/** 2403 - inline document links **/
.a-body__inner .media-link {
    display: inline;
    margin-left: 0px;

    .media-link__text::before {
        position: static;
        padding-right: 5px;
        display: none;//2404 Document inline links - remove icon
    }
}

// 5904 Document inline links - remove icon in body panels
.a-body--panel .media-link {
    margin-left: 0px;
    
    .media-link__text::before {
    display: none;
    }
}
  
/** End of 2403 - inline document links **/

// ANCHOR PAGE SPECIFIC

/*.body--sticky-jumplinks .container {
    width: 1170px;
        max-width: 100% !important; rebased
}*/

.body--sticky-jumplinks .a-body__inner{
    display: flex;
    flex-wrap: wrap;
}

#anchor-contents {
    width: 70%; 
}


.gi-jumplist {
    display: block;
    width: 100% !important;
   
    top: 0;
    height: 100%;
    float: left;

    padding-bottom: 20px;
    margin-bottom: 20px;

    border-bottom: solid $grey-3 1px;
}

.body--sticky-jumplinks .gi-jumplist {
    width: 30% !important;
    position: sticky; 
    padding-right: 25px; //fix for sticky  
    
    border-bottom: none;
    

}

body.template--default.body--no-aside .container.container--fullwidth .maincontent .a-heading, body.template--default.body--no-aside .container.container--fullwidth .maincontent .a-intro, body.template--default.body--no-aside .container.container--fullwidth .maincontent .a-body:has(.gi-jumplist) {
    max-width: 1170px; // TEMP 
}

body.template--default.body--sticky-jumplinks.body--no-aside .container.container--fullwidth {
    .maincontent .a-heading, .maincontent .a-intro, .maincontent .a-body {
        max-width: 1170px;
      }
}

.a-body ul li.gi-jumplist__listitem { 
    list-style-type: none; 
}
.gi-jumplist__listitem::before {
    content: "-";
    font-family: inherit;
    position: relative;
    bottom: 2px;
}

// @media (max-width: 1170px)
@include mq(xl, max)
{
.container.container--fullwidth {
    max-width: 100% !important;
} // this may be temp

}

//@media (max-width: 1050px)
@include mq(lg, max)
{
    .body--sticky-jumplinks .gi-jumplist, .body--sticky-jumplinks #anchor-contents, #anchor-contents {
        width: 100% !important;
    }

    .body--sticky-jumplinks .gi-jumplist, .gi-jumplist {
        position: relative;
        padding-right: 0px; // remove padding on mobile

        padding-bottom: 20px;
        margin-bottom: 20px;

        border-bottom: solid $grey-3 1px;
    } 
    


} 

.a-share {
    display: none;
}


//4411 Jump links article body container narrow
body:not(.body--sticky-jumplinks) #anchor-contents {
    width: auto;
}

//---------------------------------------------------------------------------------------------------
// MM 4718 - In page body set rounded images (MM - body--rounded-images)
//---------------------------------------------------------------------------------------------------
.body--rounded-images .maincontent .a-body .a-body__inner .a-body__image .gi-responsiveimage__image{
    border-radius: $rounded-corner-border-radius;
  }
// 4718 end //---------------------------------------------------------------------------------------

  
