// Panel headers

/*
Variables to change:
  - $list-panel-link-color
  - $list-panel-link-color-hover
  - $card-border-radius
*/

.a-panel.a-panel--carousel .a-panel__title {
  color: #fff;
}
.a-panel.a-panel--hasbackground .a-panel__title {
  color: #fff;
}

.a-panel--pt .a-panel__content, 
.a-panel--pt.a-panel--hasbackground .a-panel__content, 
.a-panel--pt.a-panel--parallax .a-panel__content
{
  border-radius: $panel-border-radius;
}

.a-panel.a-panel--pt .a-panel__content .a-panel__list {
  margin: 20px 20px 0px 20px;

  .grid.grid--list {
    padding: 0px;
  }
}

// PANEL PADDING

// default
.a-panel.a-panel--pt.a-panel--render, .a-panel.a-panel--pt.a-panel--render.a-panel--default {
  padding: 16px 20px;
}
// default with bg
.a-panel.a-panel--pt.a-panel--render.a-panel--hasbackground, .a-panel.a-panel--pt.a-panel--render.a-panel--default.a-panel--hasbackground {
  padding: 16px 20px;
}

// default + body
.a-panel.a-panel--pt.a-panel--body, .a-panel.a-panel--pt.a-panel--default.a-panel--body {
  padding: 16px 20px;
}
// default + body with bg
.a-panel.a-panel--pt.a-panel--hasbackground.a-panel--body, .a-panel.a-panel--pt.a-panel--default.a-panel--hasbackground.a-panel--body {
  padding: 80px 20px;
}

// default + parallax
.a-panel.a-panel--pt.a-panel--render.a-panel--parallax, .a-panel.a-panel--pt.a-panel--render.a-panel--default.a-panel--parallax {
  padding: 16px 20px;
}
// default + parallax with bg
.a-panel.a-panel--pt.a-panel--render.a-panel--hasbackground.a-panel--parallax, .a-panel.a-panel--pt.a-panel--render.a-panel--default.a-panel--hasbackground.a-panel--parallax {
  padding: 40px 20px;
}

// blog
.a-panel.a-panel--pt.a-panel--render.a-panel--blog {
  padding: 16px 20px;
}
// blog with bg
.a-panel.a-panel--pt.a-panel--render.a-panel--blog.a-panel--hasbackground {
  padding: 80px 20px;
}

// doc and doc
.a-panel.a-panel--pt.a-panel--render.a-panel--document {
  padding: 16px 20px;
}
// doc and doc with bg
.a-panel.a-panel--pt.a-panel--render.a-panel--document.a-panel--hasbackground  {
  padding: 80px 20px;
}

// redirect
.a-panel.a-panel--pt.a-panel--render.a-panel--redirect {
  padding: 16px 20px;
}
// redirect with bg
.a-panel.a-panel--pt.a-panel--render.a-panel--redirect.a-panel--hasbackground  {
  padding: 80px 20px;
}

// forms service
.a-panel.a-panel--pt.a-panel--render.a-panel--formsservice {
  padding: 16px 20px;
}
// forms service with bg
.a-panel.a-panel--pt.a-panel--render.a-panel--formsservice.a-panel--hasbackground  {
  padding: 80px 20px;
}

// forms service
.a-panel.a-panel--pt.a-panel--render.a-panel--formsservice {
  padding: 16px 20px;
}
// forms service with bg
.a-panel.a-panel--pt.a-panel--render.a-panel--formsservice.a-panel--hasbackground  {
  padding: 80px 20px;
}

// "panel"
.a-panel.a-panel--pt.a-panel--render.a-panel--panel {
  padding: 16px 20px;
}
// "panel" with bg
.a-panel.a-panel--pt.a-panel--render.a-panel--panel.a-panel--hasbackground  {
  padding: 80px 20px;
}

// list
.a-panel.a-panel--pt.a-panel--render.a-panel--list {
  padding: 16px 20px;
}
// list with bg
.a-panel.a-panel--pt.a-panel--render.a-panel--list.a-panel--hasbackground  {
  padding: 80px 20px;
}

// stage
.a-panel.a-panel--pt.a-panel--render.a-panel--stage {
  padding: 16px 20px;
}
// stage with bg
.a-panel.a-panel--pt.a-panel--render.a-panel--stage.a-panel--hasbackground  {
  padding: 80px 20px;
}

// #2296 - H1 headings after stage border not being honoureed - put in this fix at this lower level to see if it will resolve this
.a-panel {
  float: none;
}
 
// feature
.a-panel.a-panel--feature {
  padding: 8px 20px;
}

// related assets (not a panel?)
.relateditem  {
  padding: 8px 20px;
}

.imagebanner__title {
  color: #fff;
}

.imagebanner__searchholder .searchform__inputtxt {
  width: 100%;
}

.grid.grid--list.grid--4col {
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
}

// feature groups

.a-panel--feature:nth-child(even), .a-panel--feature:nth-child(odd) {
  background-color: #fff;
}

.grid.grid--feature.grid--4col, .grid.grid--feature.grid--2col {
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
  justify-content: center;
}

.grid__cell.grid__cell--feature.grid__cell--cols1 {
  padding: 0px;
}

.a-panel--feature {

  .grid__cell--feature .grid__cellwrap {
    height: 100%;
    padding: 10px;
  }

  .item.item--article {
    background-color: #fff;
    height: 100%;
    border: solid #B0B0B0 1px;
    border-radius: $feature-panel-border-radius;
    overflow: hidden;

    .item__content {
      padding: 20px !important;
    }

    .item__imagecontainer {
      display: block;
    }

    .gi-responsiveimage__fallback, .gi-responsiveimage__image {
      object-fit: cover;
      max-height: 125px;
     
    }
    .gi-responsiveimage.gi-responsiveimage--item.gi-responsiveimage--loaded {
      margin: 0px;
    }
  }

  .grid--2col>.grid__cell:nth-child(2n+1) {
    clear: both;
  }
}

.body--no-aside .a-panel--feature .item.item--article {
  &:not(:has(.item__imagecontainer)) {
    padding-top: 64%;
  }
}

.body--no-aside.body--hide-feature-images .a-panel--feature .item.item--article {
  &:not(:has(.item__imagecontainer)) {
    padding-top: 0px;
  }
}

.body--hide-feature-images .a-panel--feature .item.item--article {
  .item__imagecontainer {
    display: none;
  }
}

@media only screen and (max-width: 1079px) {
  .a-panel--feature .item.item--article:not(:has(.item__imagecontainer)) {
    padding-top: 0;
  }
}

.a-panel.a-panel--hasbackground .a-panel__title {
  color: #050505;
  font-weight: 700;
}

h2.a-panel__title {
  color: #050505;
  font-weight: 700;
  font-size: $h2-font-size;
}

.a-panel--feature h2.a-panel__title {
  display: block;
  visibility: visible;
  border: 0;
  clip: rect(0 0 0 0);
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  color: #000;
  background: #fff;
}

.body--display-feature-title .a-panel--feature h2.a-panel__title {
  color: #050505;
  font-weight: 700;
  font-size: $h2-font-size;
  width: auto;
  overflow: visible;
  margin: revert;
  height: auto;
  
  position: relative;
}

.item.item--article .item__title a {
  color: $list-panel-link-color;
  border-bottom: solid 2px $list-panel-link-color;
  text-decoration: none;

  &:hover {
    color: $list-panel-link-color-hover;
    border-bottom: solid 2px $list-panel-link-color-hover;
    text-decoration: none;
  }

  &:focus {
    color: #050505;
    background-color: $focus-color;
    border-bottom: solid 2px #050505;
    text-decoration: none;
  }
}

.item__content .item__sublink {
  color: $link-color;
  // border-bottom: solid 1px transparent;
  border-bottom: none;

  &:hover {
    color: $link-color-darken;
    // border-bottom: solid 1px $link-color-darken;
    border-bottom: none;
    text-decoration: underline;
  }

  &:focus {
    color: #050505;
    background-color: $focus-color;
    // border-bottom: solid 1px #050505;
    border-bottom: none;
    text-decoration: underline;
  }
}

@media only screen and (max-width: 600px) {
  .a-panel__content {
    padding: 30px 10px;
  }
}

.a-panel.a-panel--related .a-panel__content .grid--related {
  display: flex;
  align-items: stretch;
}
.a-panel.a-panel--related .grid__cellwrap {
  height: 100%;
}

/* .a-panel__link Link button used in Panels now set in _buttons.scss  */

.ra-block {
  height: 100%;
}

.ra-block .ra-block__content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

// 643 - first related image

.a-relimage {
  display: none;
}

// 644 - list templates

.item__content {
  padding: 20px;
}

.item.item--article {
  border: 1px solid #fff;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.12), 0 0 2px rgba(0, 0, 0, 0.12);
  padding: 0px; 
  margin: 0;
  text-align: left;
}
.item.item--article .item__title {
  font-weight: 700;
  margin: 15px 0px 10px 0px;
  margin-top: 0 !important;
}
.item.item--article .item__title a {
  font-size: $h5-font-size;

  &:focus {
    outline: none;
  }
}
.item.item--article .item__body {
  margin-block-end: 16px;
}



.grid--2col>.grid__cell:nth-child(2n+1) {
  clear: none;
}

.grid--2col[data-grid-maxcols="2"]  {
  .grid__cell {
    width: 50%;
  }
}

@media only screen and (max-width: 850px) {
  .grid--2col[data-grid-maxcols="2"]  {
    .grid__cell {
      width: 100%;
    }
  }
}

// stage

.a-panel.a-panel--pt.a-panel--stage {

  .n-stage .n-stage-alert {
    background-color: $button-primary-color;
    color: #fff;

    .n-stage-alert__title {
      color: #fff;
    }

    &:hover {
      color: #fff;
      .n-stage-alert__title {
        text-decoration: underline;
        color: #fff;
      }
    }
    &:focus {
      color: #050505;
      .n-stage-alert__title {
        text-decoration: underline;
        color: #050505;
      }
    }
  }

  .a-panel__summary, p {
    color: #fff;
  }

  .gi-sitenav--stage .gi-sitenav__link--lvl2 {
    background-color: #fff;
  }

  .gi-sitenav--stage .gi-sitenav__link--lvl1 {
    &:hover {
      box-shadow: none;
      color: #fff;
    }
  }

  // menu button
  .gi-sitenav--stage .gi-sitenav__item--lvl1:last-child {
    margin-left: 15px;

    .gi-sitenav__link--lvl1 {
      background-color: $button-primary-color;
      margin: 0px;
      padding-left: 55px; // (40 + 15)
    } 
  }

  .card__actions {
    align-self: flex-end;
  }

  .card__actions .cta-link--stage {
    background-color: $button-primary-color;
    text-align: right;
    padding: 10px;
  }
  .card__actions .cta-link::after {
    content: none;
  }

  .card--stage .card__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .card__innercontent {
      margin-bottom: 20px;
    }

    .card__imagecontainer {
      margin-bottom: 10px;

      figure.gi-responsiveimage, .gi-responsiveimage__imagewrapper, .gi-responsiveimage__image {
        max-height: 280px;
      }
    }
  }
}

// Peeky swiper

.a-panel--pt.a-panel--carousel-pt.a-panel--peeky-swiper {
  padding: 16px 0px;
}

.a-panel--pt .a-panel__linkwrap::before {
  z-index: 99;
}

// removetitle fix
.a-panel--peeky-swiper.a-panel--removetitle .gi-carousel__slide .a-panel__title {
  height: auto;
  width: calc(100% - 20px);
  clip: unset;
  clip-path: unset;
  margin: 0px 0px 20px 0px;
}

.a-panel--peeky-swiper {

  .gi-carousel__controls {

    .gi-carousel__next, .gi-carousel__previous {
      width: 32px;
      height: 32px;
      box-shadow: rgba(0,0,0,.14) 0 1px 1px 1px;
      background-color: #fff;
      border-radius: 50%;
      border: none;
      transition: all .3s cubic-bezier(.25,.8,.25,1);

      &:hover {
        box-shadow: 0 1px 4px rgba(0,0,0,.25) !important;
        background-color: #ddd !important;
        border: none !important;
        outline: none !important;
        color: #050505 !important;

      }
      &:focus {
        box-shadow: 0 1px 4px rgba(0,0,0,.25) !important;
        background-color: $focus-color !important;
        border: none !important;
        outline: none !important;
        color: #050505 !important;

      }
    }
  }

  ul.gi-carousel__list {
    padding: 16px 0px;
  }

  .gi-carousel__slide {

    aspect-ratio: 1/1;

    .a-panel.a-panel--pt {
      background: transparent;

      .container {
        height: 100%;
      }
    }

    .a-panel--pt.a-panel--hasbackground {
      padding-left: 5px;
      padding-right: 5px;
    }

    .a-panel--list .container .a-panel__content {
      padding: 0px;
    }

    .a-panel--list .container .a-panel__content .a-panel__list {
      display: none;
    }

    .a-panel--list .container .a-panel__content .a-panel__linkwrap {
      position: relative;
      display: block;
      height: 100%;
      width: 100%;
    }

    .a-panel--list .container .a-panel__content .a-panel__linkwrap::before {
      display: block;
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      content: "";
      overflow: hidden;
      white-space: nowrap;
      z-index: 99;
    }

    .a-panel.a-panel--pt.a-panel--render {
      padding: 80px 0px;
      padding-top: 0px;
      padding-bottom: 0px;
      height: 100%;

      .container {
        padding: 0px 5px;
      }
    }

    .a-panel__content {
      box-shadow: 0 0 1px rgba(0,0,0,.25), 0 1px 4px rgba(0,0,0,.25);
      transition: all .3s cubic-bezier(.25,.8,.25,1);
      border-radius: 6px;
      overflow: hidden;
      padding: 0px;
      height: 100%;

      &:focus-within {
        .a-panel__title {
          background-color: $focus-color;
          text-decoration: underline;
        }
      }

      .a-panel__imagecontainer {
        margin: 0px;
        height: 100%;
      }

      .a-panel__title {
        color: #050505 !important;
        background-color: rgba(255, 255, 255, 0.9);
        font-size: 1rem;
        text-align: center;
        border-radius: 3px;
        padding: 10px;
        position: absolute;
        width: calc(100% - 20px);
        left: 50%;
        transform: translateX(-50%);
        bottom: 10px;
        z-index: 99;
      }

      .a-panel__summary {
        display: none;
      }

      .a-panel__link {
        display: none;
      }

      &:hover {
        box-shadow: 0 7px 14px rgba(0,0,0,.25), 0 5px 5px rgba(0,0,0,.22);
      }
    }
  }
}


// Parallax panels

.a-panel--pt.a-panel--parallax {
  background-color: #fff;
}

.a-panel--pt.a-panel--parallax .a-panel__content {
  background-color: transparent;
  color: #050505;
  text-shadow: none;

  .grid--feature .grid__cellwrap {
    padding: 14px;
  }
}

@media only screen and (max-width: 1200px) {
  .a-panel--pt.a-panel--parallax .fa-block {
    margin: 10px;
  }
}

.a-panel--pt.a-panel--parallax .fa-block {
  display: flex;
  background-color: #fff;
  border: 0px solid #fff;
  border-radius: $card-border-radius;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.12), 0 0 2px rgba(0, 0, 0, 0.12);
  padding: 0px;

  // Parallax panels image hidden by default
  .fa-block__imagecontainer {
    width: inherit;
    height: inherit;
    border-radius: $card-border-radius $card-border-radius 0px 0px;
    overflow: hidden;

    &:focus-within {
      outline: solid $focus-color 3px;
    }
  }

  .fa-block__imagecontainer+.fa-block__details, .fa-block__details {
    width: 100%;
    padding: 20px;
    border-radius: $card-border-radius;

    .fa-block__actions .fa-block__link.fa-block__link--default.fa-block__link--action {
      font-weight: 700;
    }
  }


  .fa-block__content {
    * {
      background-color: #fff;
      color: #050505;
      text-align: left; 
    }

    .fa-block__title a {
      font-size: 1.25rem;
      font-weight: 700;
      margin-bottom: 12px;
      color: #050505;
      border-bottom: solid 2px #050505;

      &:hover {
        color: $link-color-darken;
        border-color: $link-color-darken;
        text-decoration: none;
      }

      &:focus {
        background-color: $focus-color;
        color: #050505;
        border-color: #050505;
        text-decoration: none;
      }
    }

    .fa-block__links {
      .item.item--article {
        padding: 0px;
        box-shadow: none;

        .item__content {
          min-height: 1px !important;
          padding: 0px;

          .item__title {
            font-size: 1.125rem;
            font-weight: 500;
            margin-bottom: 12px;
          }

          .item__title .item__link {
            font-size: 1.125rem;
            font-weight: 500;
            color: $link-color;
            margin-bottom: 0px;
            border: none;
            
            &:hover {
              border-color: transparent;
              text-decoration: underline;
              border: none;
              color: $link-color-darken;
            }
            &:focus {
              background-color: $focus-color;
              color: #050505;
              border-color: transparent;
              text-decoration: underline;
              border: none;
            }
          }
        }
      }
    }

    .fa-block__details .fa-block__actions .fa-block__link.fa-block__link--default.fa-block__link--action {

      &:hover {
        color: $link-color-darken;
      }

      &:focus {
        outline: none;
        color: #050505;
        background-color: $focus-color;
      }
    }
  }
}

.a-panel--pt.a-panel--parallax .grid--2col>.grid__cell {
  width: 33.3%;
}

@media only screen and (max-width: 1200px) {
  .a-panel--pt.a-panel--parallax .grid--2col>.grid__cell {
    width: 50%;
  }

  .a-panel--pt.a-panel--hasbackground .a-panel__content .item.item--article .item__imagecontainer {
    width: 100%;
    height: 200px;

    .gi-responsiveimage--item {
      height: 200px;
    }
  }
}


@media only screen and (max-width: 600px) {
  
  .a-panel.a-panel--pt.a-panel--list:not(.a-panel--hasbackground, .a-panel--backdrop-black) .container {
    padding: 0px;

    .a-panel__content {
      padding: 0px;

      .a-panel__list {
        margin: 0px;
      }
    }
  }

  .a-panel.a-panel--pt.a-panel--panel .container, .a-panel.a-panel--pt.a-panel--default .container {
    padding: 0px;
  }

  .a-panel.a-panel--pt.a-panel--list.a-panel--backdrop-black .a-panel__list {
    margin: 0px;
  }

}

@media only screen and (max-width: 850px) {
  .a-panel--pt.a-panel--parallax .grid--2col>.grid__cell {
    width: 100%;
    padding: 0px;
  }

  .a-panel--pt.a-panel--hasbackground .a-panel__content .grid--1col>.grid__cell {
    width: 100%;
    clear: both;
    padding-left: 0px;
    padding-right: 0px;
  }

  .a-panel--pt.a-panel--hasbackground .a-panel__content .item.item--article .item__imagecontainer {
    width: 100%;
    height: 150px;

    .gi-responsiveimage--item {
      height: 150px;
    }
  }
}

@media only screen and (max-width: 600px) {
  .a-panel--pt.a-panel--parallax > .container {
    padding: 0px;
  }
  .a-panel--pt.a-panel--parallax .a-panel__content {
    padding: 40px 40px 40px 20px;
  }
  .a-panel--pt.a-panel--parallax .a-panel__content .grid--feature .grid__cellwrap {
    padding: 0px;
  }
}



// Hiding images by default - 729, 631, 722, 716, 616

// parallax panels
.a-panel--pt.a-panel--parallax .fa-block .fa-block__imagecontainer {
  display: none;
}
.a-panel--display-nav-images.a-panel--pt.a-panel--parallax .fa-block .fa-block__imagecontainer {
  display: block;
}

// list panels
.a-panel--pt.a-panel--hasbackground .a-panel__content .item.item--article .item__imagecontainer {
  display: none;
}
.body--display-nav-images .a-panel--pt.a-panel--hasbackground .a-panel__content .item.item--article .item__imagecontainer {
  display: block;
}
.a-panel--display-nav-images.a-panel.a-panel--pt.a-panel--list.a-panel--render {
  .a-panel__content .item.item--article .item__imagecontainer {
    display: block;
  }
}

.a-panel.a-panel--pt.a-panel--list .a-panel__content {
  padding: 20px;
  border-radius: $panel-border-radius;
}

.a-panel--hide-summary .a-panel__summary { 
  display: none;
}

// feature groups (affected by display-nav-images - list panels)




// list articles
.grid.grid--list .item.item--article .item__imagecontainer {
  display: none;
}
.body--display-list-images .grid.grid--list .item.item--article .item__imagecontainer {
  display: block;
}

.grid--list .item.item--article {
  border-radius: $list-border-radius;
}

.a-panel--pt.a-panel--list .grid__cellwrap > .item {
  border-radius: $list-border-radius;
}

// IMAGE RATIO 

.item__imagecontainer { 
  @include aspect-ratio;
 }
figure.gi-responsiveimage, .gi-responsiveimage__imagewrapper, .gi-responsiveimage__image {
   width: 100%;
   height: 100%; 
}


.gi-responsiveimage__image {
     object-fit: cover;
}

// END OF IMAGE RATIO


.a-panel--feature .item.item--article .gi-responsiveimage__fallback, .a-panel--feature .item.item--article .gi-responsiveimage__image {
 max-height: 2000px !important; 
 /*//to overrule the 125px*/
}

.a-panel--pt.a-panel--list .item__imagecontainer {
  border-radius: 5px 5px 0px 0px;
 /* Four values */
/* top-left top-right bottom-right bottom-left */
}

.grid__cellwrap {
  border-radius: 0px; 
}

.grid--list.grid[data-grid-mincolwidth="250"]>.grid__cell.grid__cell--list {
  min-width: 100px;
}

// metadata modifiers to control column size + left/right images

@media only screen and (min-width: 520px) {
  .grid--list.grid--1col .item {
    display: block;
  }
}

@media only screen and (min-width: 470px) {
  .a-panel--pt .grid--list.grid--1col .item__imagecontainer {
    padding: 0px;
  }
}

// 4-col-panel

.a-panel--4-col-panel.a-panel.a-panel--parallax .grid.grid--parallax.grid--2col>.grid__cell {
  width: 25%;
}

// 2-col-panel

.a-panel--2-col-panel .grid.grid--list.grid--3col>.grid__cell {
  width: 50%;
}

.a-panel--2-col-panel.a-panel.a-panel--parallax .grid.grid--parallax.grid--2col>.grid__cell {
  width: 50%;
}

// 1-col-panel

.a-panel--1-col-panel .grid.grid--list.grid--3col>.grid__cell {
  width: 100%;
}
.a-panel--1-col-panel .grid.grid--list.grid--2col>.grid__cell {
  width: 100%;
}

.a-panel--1-col-panel.a-panel.a-panel--parallax .grid.grid--parallax.grid--2col>.grid__cell {
  width: 100%;
}

.a-panel--pt .fa-block__imagecontainer {
  padding: 0px;
  max-height: 200px;
}

.gi-responsiveimage.gi-responsiveimage--pt.gi-responsiveimage--fa-block .gi-responsiveimage__imagewrapper {
  max-width: none !important; 
}

.gi-responsiveimage.gi-responsiveimage--pt.gi-responsiveimage--fa-block img.gi-responsiveimage__fallback {
  object-fit: cover;
  height: 100%;
}

@media only screen and (max-width: 970px) {
  .a-panel--4-col-panel.a-panel.a-panel--parallax .grid.grid--parallax.grid--2col>.grid__cell {
    width: 50%;
  }
}

@media only screen and (max-width: 850px) {
  .a-panel--2-col-panel.a-panel.a-panel--parallax .grid.grid--parallax.grid--2col>.grid__cell {
    width: 100%;
  }
  .a-panel--4-col-panel.a-panel.a-panel--parallax .grid.grid--parallax.grid--2col>.grid__cell {
    width: 100%;
  }
}

// parallax default (image top)

.a-panel.a-panel--parallax .grid.grid--parallax .fa-block .fa-block__content {
  display: flex;
  flex-direction: column;
  align-items: stretch;

  .fa-block__imagecontainer:not(:has(figure)) {
    display: none;
  }
}

// parallax image left

.a-panel--display-image-left.a-panel.a-panel--parallax.a-panel--pt {
  .grid.grid--parallax .fa-block .fa-block__content {
    flex-direction: row;
  }
  .fa-block__imagecontainer {
    max-height: 100%;
  }
}

// parallax image right

.a-panel--display-image-right.a-panel.a-panel--parallax.a-panel--pt {
  .grid.grid--parallax .fa-block .fa-block__content {
    flex-direction: row-reverse;
  }
  .fa-block__imagecontainer {
    max-height: 100%;
  }
}



@media only screen and (max-width: 600px) {
  .a-panel--display-image-left.a-panel.a-panel--parallax.a-panel--pt {
    .grid.grid--parallax .fa-block .fa-block__content {
      flex-direction: column;
    }
    .fa-block__imagecontainer {
      max-height: 200px;
    }
  }
  .a-panel--display-image-right.a-panel.a-panel--parallax.a-panel--pt {
    .grid.grid--parallax .fa-block .fa-block__content {
      flex-direction: column;
    }
    .fa-block__imagecontainer {
      max-height: 200px;
    }
  }
}

// list panel left 

.a-panel--display-image-left.a-panel.a-panel--list.a-panel--pt {
  .grid.grid--list .grid__cell .grid__cellwrap {

    .item.item--article {
      height: 100%;
      display: flex;
      align-items: stretch;
    }
    .item.item--article .item__content:not(:only-child) {
      width: 50%;
    }
    .item.item--article .item__imagecontainer {
      max-height: none;
      height: auto;
      padding: 0px;
      width: 50%;
      border-radius: 5px 0 0 5px;
    }
    .item.item--article .item__imagecontainer .gi-responsiveimage.gi-responsiveimage--item {
      margin: 0;
      max-height: none;
      height: 100%;
    }
  }
}

// list panel right 

.a-panel--display-image-right.a-panel.a-panel--list.a-panel--pt {
  .grid.grid--list .grid__cell .grid__cellwrap {

    .item.item--article {
      height: 100%;
      display: flex;
      align-items: stretch;
      flex-direction: row-reverse;
    }
    .item.item--article .item__content:not(:only-child) {
      width: 50%;
    }
    .item.item--article .item__imagecontainer {
      max-height: none;
      height: auto;
      padding: 0px;
      width: 50%;
      border-radius: 0 5px 5px 0;
    }
    .item.item--article .item__imagecontainer .gi-responsiveimage.gi-responsiveimage--item {
      margin: 0;
      max-height: none;
      height: 100%;
    }
  }
}

@media only screen and (max-width: 600px) {
  .a-panel--display-image-left.a-panel.a-panel--list.a-panel--pt, .a-panel--display-image-right.a-panel.a-panel--list.a-panel--pt{
    .grid.grid--list .grid__cell .grid__cellwrap {
      .item.item--article {
        flex-direction: column;
      }
      .item.item--article .item__content:not(:only-child) {
        width: 100%;
      }
      .item.item--article .item__imagecontainer {
        width: 100%;
      }
    }
  }
}

// 1507 - parallax panel bg opacity | black-backdrop
// contrast between text and background image is accessible

.a-panel.a-panel--pt.a-panel--parallax.a-panel--backdrop-black {
  .a-panel__content {
    background-color: rgba(0, 0, 0, 0.7);
  }
  .a-panel__content .a-panel__title,.a-panel__summary {
    color: #fff;
  }
}

// parallax panel dark cards
.a-panel.a-panel--pt.a-panel--parallax.a-panel--opaque-cards-dark {
  .a-panel__content .fa-block {
    background-color: rgba(0, 0, 0, 0.7);

    .fa-block__content, .fa-block__details, .fa-block__details  * {
      background-color: transparent;
      color: #fff;
    }
    .fa-block__details {
      .fa-block__title a {
        color: #fff;
        border-color: #fff;
        &:hover {
          color: $dark-theme-link-color-darken;
          border-color: $dark-theme-link-color-darken;
        }
        &:focus {
          background-color: $focus-color;
          color: #050505;
          border-color: #050505;
          outline: none;
        }
      }
      .fa-block__links {
        .item.item--article {
          border: none;
        }
        .item.item--article .item__content .item__title a {
          color: $dark-theme-link-color;
          border-color: transparent;
          &:hover {
            color: $dark-theme-link-color-darken;
            border-color: transparent;
          }
          &:focus {
            color: #050505
          }
        }
      }
      .fa-block__actions a.fa-block__link.fa-block__link--default.fa-block__link--action {
        color: #fff;
        &:hover {
          color: $dark-theme-link-color-darken;
          background-color: transparent;
        }
        &:focus {
          color: #050505
        }
      }
    }
  }
}

.a-panel.a-panel--pt.a-panel--parallax.a-panel--opaque-cards-light {
  .a-panel__content .fa-block {
    background-color: rgba(255, 255, 255, 0.8);

    .fa-block__content, .fa-block__details, .fa-block__details  * {
      background-color: transparent;
    }
  }
}

.a-panel.a-panel--pt.a-panel--default.a-panel--render.a-panel--opaque-cards-dark, .a-panel.a-panel--pt.a-panel--render.a-panel--backdrop-black {
  .a-panel__content {
    background-color: rgba(0, 0, 0, 0.7);
  }
  .a-panel__title, .a-panel__summary {
    color: #fff;
  }
}



.a-panel--opaque-cards-dark.a-panel--pt.a-panel--render.a-panel--hasbackground, .a-panel--opaque-cards-dark.a-panel--pt.a-panel--render.a-panel--hasbackground.a-panel--document, .a-panel--opaque-cards-dark.a-panel--pt.a-panel--render.a-panel--hasbackground.a-panel--document, .a-panel--opaque-cards-dark.a-panel--pt.a-panel--render.a-panel--hasbackground.a-panel--blog {

  .a-panel__content {
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
  }

  .a-panel__title {
    color: #fff;
  }
}

// stage dark cards

.a-panel.a-panel--pt.a-panel--render.a-panel--stage.a-panel--opaque-cards-dark, .a-panel.a-panel--pt.a-panel--render.a-panel--stage.a-panel--hasbackground.a-panel--opaque-cards-dark {

  .a-panel__content {
    background-color: transparent;
  }

  .card.card--stage {
    background-color: rgba(0, 0, 0, 0.7);
    border-color: transparent;

    .card__heading, .item__body  {
      color: #fff;
    }
  }
}

// stage light cards

.a-panel.a-panel--pt.a-panel--render.a-panel--stage.a-panel--opaque-cards-light, .a-panel.a-panel--pt.a-panel--render.a-panel--stage.a-panel--hasbackground.a-panel--opaque-cards-light {

  .a-panel__content {
    background-color: transparent;
  }

  .card.card--stage {
    background-color: rgba(255, 255, 255, 0.8);
    border-color: transparent;

    .card__heading, .item__body  {
      color: #050505;
    }
  }
}

// stage square cards

.a-panel.a-panel--pt.a-panel--render.a-panel--stage.a-panel--squared-cards, .a-panel.a-panel--pt.a-panel--render.a-panel--stage.a-panel--hasbackground.a-panel--squared-cards {

  .card.card--stage {
    border-radius: 0px;
  }
}

// stage squared backdrop

.a-panel.a-panel--pt.a-panel--render.a-panel--stage.a-panel--squared-backdrop, .a-panel.a-panel--pt.a-panel--render.a-panel--stage.a-panel--hasbackground.a-panel--squared-backdrop {

  .a-panel__content {
    border-radius: 0px;
    background-color: rgba(0, 0, 0, 0.7);
  }
}

// stage rounded backdrop

.a-panel.a-panel--pt.a-panel--render.a-panel--stage.a-panel--rounded-backdrop, .a-panel.a-panel--pt.a-panel--render.a-panel--stage.a-panel--hasbackground.a-panel--rounded-backdrop {

  .a-panel__content {
    border-radius: 6px;
    background-color: rgba(0, 0, 0, 0.7);
  }
}

// stage display image left

.a-panel.a-panel--pt.a-panel--render.a-panel--stage.a-panel--display-image-left, .a-panel.a-panel--pt.a-panel--render.a-panel--stage.a-panel--hasbackground.a-panel--display-image-left {

  .card__innercontent {
    display: flex;
  }

  .card__imagecontainer {
    width: 50%;
    margin-bottom: 0px;
  }
  .item__body {
    width: 50%;
    padding-left: 15px;
  }
}

// stage display image right

.a-panel.a-panel--pt.a-panel--render.a-panel--stage.a-panel--display-image-right, .a-panel.a-panel--pt.a-panel--render.a-panel--stage.a-panel--hasbackground.a-panel--display-image-right {

  .card__innercontent {
    display: flex;
    flex-direction: row-reverse;
  }

  .card__imagecontainer {
    width: 50%;
    margin-bottom: 0px;
  }
  .item__body {
    width: 50%;
    padding-right: 15px;
  }
}


@media only screen and (max-width: 600px) {

  // set cards to always display image top below 600px
  .a-panel.a-panel--pt.a-panel--render.a-panel--stage.a-panel--display-image-right, .a-panel.a-panel--pt.a-panel--render.a-panel--stage.a-panel--hasbackground.a-panel--display-image-right,  .a-panel.a-panel--pt.a-panel--render.a-panel--stage.a-panel--display-image-left, .a-panel.a-panel--pt.a-panel--render.a-panel--stage.a-panel--hasbackground.a-panel--display-image-left  {

    .card__innercontent {
      display: flex;
      flex-direction: column;
    }
  
    .card__imagecontainer {
      width: 100%;
      margin-bottom: 10px;
    }
    .item__body {
      width: 100%;
      padding-right: 0px;
      padding-left: 0px;
    }
  }
}

// list panel dark cards
.a-panel.a-panel--pt.a-panel--opaque-cards-dark {
  .a-panel__content .a-panel__list .grid__cellwrap .item.item--article {
    background-color: rgba(0, 0, 0, 0.7);
    border-color: transparent;

    .item__content {
      .item__title a {
        color: #fff;
        border-color: #fff;
        &:hover {
          color: $dark-theme-link-color-darken;
          border-color: $dark-theme-link-color-darken;
        }
        &:focus {
          background-color: $focus-color;
          color: #050505;
          border-color: #050505;
          outline: none;
        }
      }
      .item__body {
        color: #fff;
      }
      .item__sublinks a {
        color: $dark-theme-link-color;
        border-color: transparent;
        &:hover {
          color: $dark-theme-link-color-darken;
          border-color: transparent;
        }
        &:focus {
          color: #050505
        }
      }
    }
  }
}

.relateditem {
  .panel__heading {
    margin-bottom: 0;
  }
  .panel__headingtext {
    padding-bottom: 0;
  }
}

// stage panels

.a-panel.a-panel--pt.a-panel--stage, .a-panel.a-panel--pt.a-panel--stage.a-panel--hasbackground {
  .a-panel__content {
    padding: 20px;
  }
}


/* rounded/squared corners */

.body--rounded-list-cards .grid--list .item.item--article,
.body--rounded-cards .item.item--article,
.body--rounded-cards .a-panel.a-panel--pt.a-panel--list .a-panel__content,
.body--rounded-feature-cards .a-panel--pt.a-panel--parallax .fa-block,
.body--rounded-feature-cards .a-panel--feature .item.item--article,
.a-panel--rounded-backdrop.a-panel--pt .a-panel__content,
.a-panel--rounded-backdrop.a-panel.a-panel--pt.a-panel--list .a-panel__content,
.a-panel--rounded-cards .a-panel--pt .a-panel__content,
.a-panel--rounded-cards.a-panel--list .item.item--article,
.body--squared-list-cards .a-panel--rounded-cards.a-panel--list .item.item--article {
  border-radius: $rounded-corner-border-radius;
}

.body--squared-list-cards .grid--list .item.item--article,
.body--squared-cards .item.item--article,
.body--squared-cards .a-panel.a-panel--pt.a-panel--list .a-panel__content,
.body--squared-feature-cards .a-panel--pt.a-panel--parallax .fa-block,
.body--squared-feature-cards .a-panel--feature .item.item--article,
.a-panel--squared-backdrop.a-panel--pt .a-panel__content,
.a-panel--squared-backdrop.a-panel.a-panel--pt.a-panel--list .a-panel__content,
.a-panel--squared-cards .a-panel--pt .a-panel__content, 
.a-panel--squared-cards.a-panel--list .item.item--article,
.a-panel--squared-cards.a-panel--pt.a-panel--parallax .fa-block
{
  border-radius: 0px;
}

.panel__link {
  hyphens: none;
}

// MW ADDED PEEKY

.a-panel--peeky-swiper .gi-carousel__slide .a-panel--list .container .a-panel__content .a-panel__list {
  display: block; margin: 0;

  .grid.grid--list .item.item--article .item__imagecontainer {display: block;}
  .item__content {display: none !important;}
  .grid__cellwrap .item.item--article {position: absolute; top: 0; left: 0; height: 100%; width: 100%;}
  .grid.grid--list .item.item--article .item__imagecontainer figure {position: absolute; top: 50%; left:50%; height: 100%; width: 100%; transform: translateX(-50%) translateY(-50%);}

  .a-panel__title {z-index: 1;}

  .grid__cellwrap .item.item--article {border: 0 !important;}

.grid__cellwrap .item.item--article {background-color: #fff;}

}

.a-panel--peeky-swiper .gi-carousel__slide .a-panel--list .container .a-panel__content .a-panel__list .grid__cell {display: none;}
.a-panel--peeky-swiper .gi-carousel__slide .a-panel--list .container .a-panel__content .a-panel__list .grid__cell:first-child {display: block;


 > .item__imagecontainer {display: block;}


}

