// Panel headers

/*
Variables to change:
  - $list-panel-link-color
  - $list-panel-link-color-hover
*/

.a-panel.a-panel--carousel .a-panel__title {
  color: #fff;
}
.a-panel.a-panel--hasbackground .a-panel__title {
  color: #fff;
}

.imagebanner__title {
  color: #fff;
}

.imagebanner__searchholder .searchform__inputtxt {
  width: 100%;
}

.grid.grid--list.grid--4col {
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
}

.grid.grid--feature.grid--4col {
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
}

.grid__cell.grid__cell--feature.grid__cell--cols1 {
  padding: 0px;
}

.a-panel--feature {

  .grid__cell--feature .grid__cellwrap {
    height: 100%;
    padding: 10px;
  }

  .item.item--article {
    background-color: #fff;
    height: 100%;
    border: solid #B0B0B0 1px;
    border-radius: 15px;
    overflow: hidden;

    .item__content {
      padding: 20px !important;
    }

    .gi-responsiveimage__fallback, .gi-responsiveimage__image {
      object-fit: cover;
      max-height: 125px;
     
    }
    .gi-responsiveimage.gi-responsiveimage--item.gi-responsiveimage--loaded {
      margin: 0px;
    }
  }
}

.a-panel.a-panel--hasbackground .a-panel__title {
  color: #050505;
  font-weight: 700;
}

h2.a-panel__title {
  color: #050505;
  font-weight: 700;
  font-size: $h2-font-size;
}

.item.item--article .item__title a {
  color: $list-panel-link-color;
  border-bottom: solid 2px transparent;
  text-decoration: none;

  &:hover {
    color: $list-panel-link-color-hover;
    border-bottom: solid 2px $list-panel-link-color-hover;
    text-decoration: none;
  }

  &:focus {
    color: #050505;
    background-color: $focus-color;
    border-bottom: solid 2px #050505;
    text-decoration: none;
  }
}

.a-panel--hasbackground .item__sublink {
  color: $link-color;
  border-bottom: solid 1px transparent;

  &:hover {
    color: $link-color-darken;
    border-bottom: solid 1px #066;
    text-decoration: none;
  }

  &:focus {
    color: #050505;
    background-color: $focus-color;
    border-bottom: solid 1px #050505;
    text-decoration: none;
  }
}

@media only screen and (max-width: 600px) {
  .a-panel__content {
    padding: 30px 10px;
  }
}

.a-panel.a-panel--related .a-panel__content .grid--related {
  display: flex;
  align-items: stretch;
}
.a-panel.a-panel--related .grid__cellwrap {
  height: 100%;
}

.a-panel__link {
  background-color: #036eb2;
}

.ra-block {
  height: 100%;
}

.ra-block .ra-block__content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

// 643 - first related image

.a-relimage {
  display: none;
}

// 644 - list templates

.item.item--article {
  border: 1px solid #fff;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.12), 0 0 2px rgba(0, 0, 0, 0.12);
  padding: 0px; 
  margin: 0;
  text-align: left;
}
.item.item--article .item__title {
  font-weight: 700;
  margin: 15px 0px 10px 0px;
  margin-top: 0 !important;
}
.item.item--article .item__title a {
  font-size: $h5-font-size;
}
.item.item--article .item__body {
  margin-block-end: 16px;
}

// Parallax panels

.a-panel--pt.a-panel--parallax .a-panel__content {
  background-color: transparent;
  color: #050505;
  text-shadow: none;
}

@media only screen and (max-width: 1200px) {
  .a-panel--pt.a-panel--parallax .fa-block {
    margin: 10px;
  }
}

.a-panel--pt.a-panel--parallax .fa-block {
  background-color: #fff;
  border: 1px solid #fff;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.12), 0 0 2px rgba(0, 0, 0, 0.12);

  .fa-block__imagecontainer+.fa-block__details {
    width: 100%;
    padding: 0;
  }

  .fa-block__content * {
    background-color: #fff;
    color: #050505;
  }
}

.grid--2col>.grid__cell {
  width: 33.3%;
}

.grid--2col>.grid__cell:nth-child(2n+1) {
  clear: none;
}

.item.item--article {
  padding: 0 0px !important;
}



// IMAGE RATIO 

.item__imagecontainer { 
aspect-ratio: 4 / 3;
 }
figure.gi-responsiveimage, .gi-responsiveimage__imagewrapper, .gi-responsiveimage__image {
   width: 100%;
   height: 100%; 
}


.gi-responsiveimage__image {
     object-fit: cover;
}

// END OF IMAGE RATIO


.a-panel--feature .item.item--article .gi-responsiveimage__fallback, .a-panel--feature .item.item--article .gi-responsiveimage__image {
 max-height: 2000px !important; 
 /*//to overrule the 125px*/
}

.a-panel--pt.a-panel--list .item__imagecontainer {
  border-radius: 5px 5px 0px 0px;
 /* Four values */
/* top-left top-right bottom-right bottom-left */
}

.grid__cellwrap {border-radius: 8px; }