/*==================================================================================================================
624 Improve print CSS
==================================================================================================================*/
@media print{
    
    body::before{
        content: "Printed on " attr(data-print-date) ". The guidance may have since changed.\A" attr(data-print-url);
        display: block;
        font-size: 12px !important;
        margin-bottom: 10px;
        text-align: left;
        color: $black;
        white-space: pre;
    }

    //Site logo 
    .gi-sitelogo .gi-sitelogo--header .gi-sitelogo__image{
        display: block !important;
    }

    //Headings and text

    h1{
        font-size: 32px !important;
        line-height: 1.4 !important;
    }

    h2{
        font-size: 24px !important;
        line-height: 1.4 !important;
    }

    h3{
        font-size: 20px !important;
        line-height: 1.4 !important;
    }

    h4{
        font-size: 18px !important;
        line-height: 1.4 !important;
    }

    h5{
        font-size: 16px !important;
        line-height: 1.4 !important;
    }

    h6{
        font-size: 14px !important;
        line-height: 1.4 !important;
    }

    p, span, div, a, li, ul, ol{
        font-size: 16px !important;
        line-height: 1.4 !important;        
    }

    p a{
        white-space: nowrap;
    }

    p{
        display: inline-block;
    }

    p a::after{
        white-space: nowrap;
    }

    //Info message colour
    p.gi-info--alert, p.gi-info--primary, p.gi-info--secondary{
        color: $black !important;
    }

    //Displaying URLs for links
    a[href]:not(.imagegalleryinline__link):not(.a-body__link--cta)::after{
        content: " (" attr(href) ")";
        font-size: 16px !important;
        color: $link-color;
        text-decoration: underline;
        text-underline-offset: .1578em;
    }

    //CTA Links
    .a-body__link--cta::after{
        display: none !important;        
    }
    
    //Discovering accordions
    .gi-disclosure--body .gi-disclosure__toggle::after{
        display: none;
    }

    .gi-disclosure--body{
        border-bottom: none;
    }

    .gi-disclosure--body .gi-disclosure__toggle{
        padding: 0;
    }

    .gi-disclosure__content{
        display: block !important;
        max-height: none !important;
        overflow: visible !important;       
    }
    .gi-disclosure__content.gi-disclosure__content--closed{
       visibility: visible;
       opacity: 1;
    }

    //Images
    img{        
        max-width: 100px !important;
        height: auto;
        display: inline-block !important;
    }

    p .text-content{
        overflow: hidden;
    }

    img[alt]::after{
        content: " (" attr(alt) ")";
        display: inline;
        font-size: 16px !important;
        color: $black;
        word-break: break-word;
    }

    //Group images
    .gi-responsiveimage__image{
        display: block !important;
        margin-bottom: 15px !important;
        max-width: 100%;
        height: auto !important; 
    }

    .print-alt-text{
        display: block !important;
        font-size: 10px !important;
        color: $black !important;
        text-align: left !important;
        margin-top: 5px !important;
        word-break: break-word !important;
        overflow-wrap:  break-word !important;
        line-height: 1.4 !important;
        max-width: 100%;
        white-space: normal !important;
        padding: 0 !important;
    }

    //Video
    iframe{
        display: none;
    }

    .print-only-video-url{
        display: block;
        font-size: 16px !important;
        color: $link-color;
        text-decoration: underline;
        text-underline-offset: .1578em;
    }

    //Hide unnecessary elements
    .feedback_heading,
    .smileys, .shared-logos,
    .cky-revisit-bottom-left,
    .a-panel__content[aria-label="SEARCH"],
    .a-panel__search,
    .a-panel.a-panel--hasbackground .a-panel__title,
    .a-panel--pt .a-panel__summary,
    .n-stage__link.n-stage__link--logo img,
    .gi-sitenav.gi-sitenav--stage,
    .a-body__link .a-body__link--cta {
        display: none !important;
    }

}