.searchresults__itemsummary, .searchresults__itemsummary > .icmhighlight {
    font-size: 1.125rem !important; 
} 

.searchoptions {
    margin-bottom: 16px;
}

/** 3187 - Search result headings/links focus **/
a.searchresults__itemlink {

    &:hover:focus > .searchresults__itemtitle {
        text-decoration: none;
    }

    &:hover>.searchresults__itemtitle {
        @extend %a-link-hover; //3832
    }

    &:focus {
        outline: 3px solid rgba(0,0,0,0);
        box-shadow: 0 -2px $focus-color, 0 4px $black;
        text-decoration: none;

        .searchresults__itemtitle {
            color: $black;
            display: inline;
        }
    }
}
/** End of 3187 - Search result headings/links focus **/


/* 2656 - Blog or News page results formatting */

.blog-details .a-details .nvp--blog-author .nvp__label, .blog-details .a-details .nvp--blog-categories .nvp__label  {
    display: none;
}
    
.blog-details .a-details .nvp--blog-date .nvp__label {
    width: auto;
}
    
.blog-details  .a-details .nvp--blog-date .nvp__value {
    padding-right: 5px;
}

.blog-details .a-details .nvp--blog-categories .nvp__value {
    padding-left: 4px;
    padding-right: 4px;
    margin-top: 3px;
}
.blog-details .a-details .nvp--blog-date .nvp__value  {
    padding-left: 5px;
}

.blog-details .card__imagecontainer {
    width: fit-content;
    background-color: transparent;
    height: auto;
}

.blog-details .nvp--blog-categories .nvp__value+.nvp__value:before {
    all: unset;
}

/* metadata modifier - remove first category - currently unused
.body--search-date-hide .blog-details .nvp--blog-categories > a:first-of-type {
  display: none; 
}*/

.body--search-date-hide .blog-details .nvp--blog-categories {
    display: none;
}

.blog-details .card__imagecontainer .card__image {
    max-width: 120px;
}

.card--searchresult .gi-responsiveimage .gi-responsiveimage__image {
    max-width: 120px;
}

.card--searchresult .gi-responsiveimage {
    width: fit-content;
    background-color: transparent;
    height: auto;
}

/* category pill styling */
.blog-details .nvp--blog-categories .nvp__value {
    background: $grey-5; // #F2F2F2
    border: 1px solid $grey-3;
    text-align: center;
    display: inline-block;
} 

/*====================================================================================
4390 - Search results narrow column bug
====================================================================================*/

.grid--searchresults {
    

    .grid__cell.grid__cell--searchresults.grid__cell--facetsright.grid__cell--cols3 {
        width: 75%;
    }

    .grid__cell.grid__cell--refine.grid__cell--cols1 {
        width: 25%;
    }
}
