$search-border-color: $grey-2 !default;
$button-search-color: $white !default;

// [data-collapsible="true"] = always stays the same
// [data-collapsed="false"] = search box OPEN
// [data-collapsed="true"] = search box CLOSED

.gi-sitesearch--dynamic {
  position: relative;
  top: 0;
  right: 0;
  margin-top: 20px;
  float: right;
  display: none;
  display: none;
}

.gi-sitesearch.gi-sitesearch--dynamic.gi-sitesearch--top {
  width: 350px;
  display: block;
  border-radius: 5px;
  width: 350px;
  display: block;
  border-radius: 5px;
}

.gi-sitesearch.gi-sitesearch--dynamic.gi-sitesearch--top > .gi-sitesearch__container > .gi-sitesearch__closetoggle {
  display: none;
  width: 50px;
  height: 50px;
}

.gi-sitesearch--top .searchform__inputtxt {
  border: solid 1px $search-border-color;
  &:focus {
    @include element-focus($box-shadow1: 2px, $box-shadow2: 5px); //5468
  }
}

.header .searchform__inputtxt.searchform__inputtxt--sitesearch {
  height: 35px;
}

.searchform__inputtxt.searchform__inputtxt--sitesearch {
  border-radius: 4px 0 0 4px;

  &:focus {
    @include element-focus($box-shadow1: 2px, $box-shadow2: 5px); //5468
  }

  &::placeholder {
    color: $black;
  }
}

.gi-sitesearch[data-collapsible="true"][data-collapsed="false"]
  .gi-sitesearch__closetoggle {
    //display: block;
    display: none;
}

.gi-sitesearch[data-collapsible="true"][data-collapsed="false"][data-suppress-closebtn="true"]
  .gi-sitesearch__closetoggle {
    display: none;
}


.gi-sitesearch__searchfield,
.gi-sitesearch[data-collapsible="true"][data-suppress-closebtn="true"]
  .gi-sitesearch__searchfield {
    width: 300px;
}
.gi-sitesearch[data-collapsible="true"] .gi-sitesearch__searchfield {
    width: 300px;
}

.gi-sitesearch[data-collapsible="true"] .gi-sitesearch__searchfield {
  /*display: none;*/
}

.gi-sitesearch[data-collapsible="true"][data-collapsed="false"]
  .gi-sitesearch__searchfield {
    display: block;
}
.gi-sitesearch[data-collapsible="true"][data-collapsed="true"]
  .gi-sitesearch__searchfield {
    display: block;
}


.gi-sitesearch[data-collapsible="true"][data-collapsed="true"][data-focus-open="true"]
  .gi-sitesearch__searchfield {
    // display: block;
    // visibility: visible;
    // border: 0;
    // clip: rect(0 0 0 0);
    // clip: rect(0, 0, 0, 0);
    // height: 1px;
    // margin: -1px;
    // overflow: hidden;
    // padding: 0;
    // position: absolute;
    // width: 1px;
    display: block;
    visibility: visible;
    border: 0;
    clip: auto;
    clip: auto;
    height: 50px;
    margin: auto;
    overflow: auto;
    padding: auto;
    position: relative;
    width: calc(100% - 50px);
}

.gi-sitesearch--searchtemplate .gi-sitesearch__searchfield,
.gi-sitesearch--searchtemplate[data-collapsible="true"][data-suppress-closebtn="true"]
  .gi-sitesearch__searchfield {
    width: calc(100% - 110px);
}

.gi-sitesearch--searchtemplate[data-collapsible="true"]
  .gi-sitesearch__searchfield {
    width: calc(100% - 110px);
}


.gi-sitesearch--dynamic[data-collapsed="false"] {
  width: 60%;
  background-color: $white;
}

.gi-sitesearch--top .gi-sitesearch__searchfield,
.gi-sitesearch--top[data-collapsible="true"][data-suppress-closebtn="true"]
  .gi-sitesearch__searchfield {
    position: relative;
    width: calc(100% - 40px);
    height: 35px;
}

.gi-sitesearch--top[data-collapsible="true"] .gi-sitesearch__searchfield {
    width: calc(100% - 100px);
    width: calc(100% - 100px);
}

.gi-sitesearch[data-collapsible="true"][data-collapsed="true"]
  .gi-sitesearch__button--search {
    border-left: 0;
}

.gi-sitesearch--dynamic[data-collapsed="false"] .btn--search, .gi-sitesearch--dynamic[data-collapsed="true"] .btn--search {
  &::after {
    color: $white;
    /*content: "\e800  Search";*/
    font-size: 16px;
    margin: 8px;
  }
  background-color: $button-search-background-color;
  //background-color: $button-search-background-color;
}

.btn--search:hover::after {
  @extend .btn-hover;
}

.btn--search::before { //TODO does colour here contradict line 236
  color: $button-search-color;
  content: "\e800";
  font-size: 16px;
  padding-left: 10px;
}

//unhide search class
span.btn__text.gi-sitesearch__buttontext.accessibility {
  display: inline;
  position: relative;
  background-color: transparent;
  color: $button-search-color;
  font-weight: normal;
  font-family: icons, sans-serif;
  font-size: 16px;  
  }

.gi-sitesearch__button--search:hover span.btn__text.gi-sitesearch__buttontext.accessibility {
   text-decoration: underline;
  }

.btn--search::after { //TODO does colour here contradict line 236
  content: "";
}

.gi-sitesearch--dynamic[data-collapsed="false"]
  .btn--search:hover
  .gi-sitesearch--dynamic[data-collapsed="false"]
  .btn--search:focus {
    opacity: 1;
}

.gi-sitesearch--dynamic[data-collapsed=false] .btn--search:hover::after, .gi-sitesearch--dynamic[data-collapsed=true] .btn--search:hover::after
{
  @extend .btn-hover;
}

.gi-sitesearch--mobile .gi-sitesearch__searchfield,
.gi-sitesearch--mobile[data-collapsible="true"][data-suppress-closebtn="true"]
  .gi-sitesearch__searchfield {
    width: calc(100% - 60px);
}

.imagebanner--search .gi-sitesearch--dynamic .gi-sitesearch__searchfield,
.imagebanner--search
  .gi-sitesearch--dynamic[data-collapsible="true"][data-suppress-closebtn="true"]
  .gi-sitesearch__searchfield {
    width: calc(100% - 60px);
}

.imagebanner--search
  .gi-sitesearch--dynamic[data-collapsible="true"]
  .gi-sitesearch__searchfield {
    width: calc(100% - 110px);
}

.gi-sitesearch--top .gi-sitesearch__searchtoggle, .gi-sitesearch--top .gi-sitesearch__button {
  width: 100px;
  border-radius: 0 4px 4px 0;
}
.gi-sitesearch--top .gi-sitesearch__searchtoggle {
float: left !important; 
}

/*#keywords_input {
  //height: 50px;
  border-top: solid 2px #A9A9A9;
  border-bottom: solid 2px #A9A9A9;
  border-left: solid 2px #A9A9A9;
  border-radius: 4px 0 0 4px;
}*/

/*.a-panel__search .searchform__inputtxt.searchform__inputtxt--sitesearch {
  height: 50px;
}*/

.gi-sitesearch--searchtemplate {

  .gi-sitesearch__searchtoggle {
    height: 35px;
    border: none;
    width: auto;
  }

  .gi-sitesearch__button {
    border: none;
    width: auto;
    height: 50px;
    min-height: auto;
    width: 110px;
    background-color: $button-search-background-color;
    border-radius: 0 4px 4px 0;

    &:hover {
      text-decoration: underline;
    }
  }
}

.btn--search::after { //TODO does colour here contradict line 161
    color: $white;
}

//@media (max-width: 1050px)
@include mq(lg, max)
{
  .header__menu {
      display: block;
      width: 100%;
      .utilitymenu--top {
          display: none;
      }
      .gi-sitenav.gi-sitenav--desktop.gi-sitenav--hassearch {
          display: none;
      }
  }

  .gi-sitesearch.gi-sitesearch--dynamic.gi-sitesearch--top {
      width: 100%;
  }

  .gi-mobilenav--mobilemenu {
      top: 150px;
      z-index: 5;
  }
}

// 3248 Search box double-click fix 

.gi-sitesearch.gi-sitesearch--dynamic.gi-sitesearch--top .gi-sitesearch__container {
  display: flex;
}

.gi-sitesearch.gi-sitesearch--dynamic.gi-sitesearch--top .gi-sitesearch__container::after {
  display: none;
}

.gi-sitesearch--dynamic[data-collapsed="false"] .btn--search, .gi-sitesearch--dynamic[data-collapsed="true"] .btn--search {
  &:focus {
    transition: none;
    opacity: 1;
    background-color: $focus-color;
    outline-color: $black;
    box-shadow: none;
  }
}

// ADD to get search box open to begin with #4223
.gi-sitesearch[data-collapsible='true'] .gi-sitesearch__searchfield {
  display: initial;
}
// ADD to get search button visible to begin with 4223
.gi-sitesearch--top .btn--search {
  background-color: $button-search-background-color;
}

/*-------------------------------------------------*/
/*4477 Inline custom HTML search bar - underlined  */
input[type=search]{
  background-color: $white;
  text-decoration: none;
}
/*-------------------------------------------------*/
/*              END                                */
/*-------------------------------------------------*/