.searchresults__itemsummary, .searchresults__itemsummary > .icmhighlight {
    font-size: 1.125rem !important; 
} 

.searchoptions {
    margin-bottom: 16px;
}

/** 3187 - Search result headings/links focus **/
a.searchresults__itemlink {

    &:hover:focus > .searchresults__itemtitle {
        text-decoration: none;
    }

    &:hover>.searchresults__itemtitle {
        //TODO REFACTOR HOVER - same hover effect used for DevOps 3819
        text-decoration: underline;
        text-decoration-thickness: max(3px, 0.1875rem, 0.12em);
        -webkit-text-decoration-skip-ink: none;
        text-decoration-skip-ink: none;
    }

    &:focus {
        outline: 3px solid rgba(0,0,0,0);
        box-shadow: 0 -2px #fd0, 0 4px #0b0c0c;
        text-decoration: none;

        .searchresults__itemtitle {
            color: #000000;
        }
    }
}
/** End of 3187 - Search result headings/links focus **/


/* 2656 - Blog or News page results formatting */

.blog-details .a-details .nvp--blog-author .nvp__label, .blog-details .a-details .nvp--blog-categories .nvp__label  {
    display: none;
}
    
.blog-details .a-details .nvp--blog-date .nvp__label {
    width: auto;
}
    
.blog-details  .a-details .nvp--blog-date .nvp__value {
    padding-right: 5px;
}

.blog-details .a-details .nvp--blog-categories .nvp__value {
    padding-left: 4px;
    padding-right: 4px;
    margin-top: 3px;
}
.blog-details .a-details .nvp--blog-date .nvp__value  {
    padding-left: 5px;
}

.blog-details .card__imagecontainer {
    width: fit-content;
    background-color: transparent;
    height: auto;
}

.blog-details .nvp--blog-categories .nvp__value+.nvp__value:before {
    all: unset;
}

/* metadata modifier - remove first category - currently unused
.body--search-date-hide .blog-details .nvp--blog-categories > a:first-of-type {
  display: none; 
}*/

.body--search-date-hide .blog-details .nvp--blog-categories {
    display: none;
}

.blog-details .card__imagecontainer .card__image {
    max-width: 120px;
}

.card--searchresult .gi-responsiveimage .gi-responsiveimage__image {
    max-width: 120px;
}

.card--searchresult .gi-responsiveimage {
    width: fit-content;
    background-color: transparent;
    height: auto;
}

/* category pill styling */
.blog-details .nvp--blog-categories .nvp__value {
    background: $grey-5; // #F2F2F2
    border: 1px solid $grey-3;
    text-align: center;
    display: inline-block;
} 