h1 {
  font-size: $h1-font-size;
  font-weight: $font-weight-bold;
  color: #050505;
}
h2 {
  font-size: $h2-font-size;
  font-weight: $font-weight-bold;
  color: #050505;
}
h3 {
  font-size: $h3-font-size;
  font-weight: $font-weight-bold;
  color: #050505;
}
h4 {
  font-size: $h4-font-size;
  font-weight: $font-weight-bold;
  color: #050505;
}
h5 {
  font-size: $h5-font-size;
  font-weight: $font-weight-bold;
  color: #050505;
}
h6 {
  font-size: $h6-font-size;
  font-weight: $font-weight-bold;
  color: #050505;
}

.h1 {
  @extend h1;
}
.h2 {
  @extend h2;
}
.h3 {
  @extend h3;
}
.h4 {
  @extend h4;
}
.h5 {
  @extend h5;
}
.h6 {
  @extend h6;
}

p, ul, ol, li, a, div, span {
  font-size: 1.125rem;
}

a {
  text-decoration: none;
  color: $link-color; 
  font-weight: 600;
  &:focus {
    color: #000!important;
    background: #fd0!important;
  }
}
.a-body__link, .a-body__inner a {
  color: $link-color;

  &:hover {
    color: $link-color-darken;
    text-decoration: underline;
  }
  &:focus {
    color: #000;
    
  }
}

.cta-link:focus, .a-body__link--cta:focus, .a-panel__linkwrap:focus .a-panel__link  {
  box-shadow: inset 0 0 20em rgba(0,0,0,0); 
  background: #fd0; 
  color: #000 !important;
  box-shadow: 0 2px 0 #000;
  outline: 0px;
}
.a-panel__linkwrap:focus {
  outline: 0;
}

.gi-sitesearch[data-collapsible=true][data-collapsed=true] .gi-sitesearch__button--search:focus, .gi-sitesearch--searchtemplate .gi-sitesearch__button:focus {
  background: #fd0;
    color: #000!important;
    box-shadow: 0 3px 0 #000;
    outline: 0;
}


.btn--search:focus::after {
  color: #000;
}

.gi-sitesearch--dynamic[data-collapsed=false] .btn--search:focus::after, .gi-sitesearch--dynamic[data-collapsed=true] .btn--search:focus::after {
  color: #000 !important;
}



.a-heading__title {
  font-weight: 700;
  color: #050505;
}

a:focus, button:focus, input:focus, select:focus, textarea:focus, *[tabindex]:focus {
  outline: 3px solid $focus-color;
  background: $focus-color;
  color: #000;
  text-decoration: underline;;
}

a.gi-sitelogo__link:focus {
box-shadow: 0px 0px 0px 6px #000; 
}

// 618 - page margin width
// 705 - typography

.maincontent .a-heading, .maincontent .a-intro, .maincontent .a-body {
  max-width: 750px;
}
.maincontent .a-panel--fullwidth .a-heading, .maincontent .a-panel--fullwidth .a-intro, .maincontent .a-panel--fullwidth .a-body {
  max-width: none;
}

.a-heading__title {
  font-weight: 700;
  font-size: $h1-font-size;
  color: #050505;
  border-bottom: none;
  padding-bottom: 0px;
}
h5 {
  margin-bottom: 20px;
}

.a-intro__content {
  line-height: 1.3;
  font-weight: 500;
}


// #1758 List item markers for nested/multi-level numbered and bulleted lists 
.a-body ol li {list-style-type: decimal;}
.a-body ol ol li {list-style-type: lower-alpha;}
.a-body ol ol ol li {list-style-type: lower-roman;}
.a-body ul li {list-style-type: disc;}
.a-body ul ul li {list-style-type: circle;}
.a-body ul ul ul li {list-style-type: square;}