#headermainmenu {
    background: #fff;
    border-bottom: 1px solid #ebebeb;
}

.header {
    padding: 0px;

    > .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}

nav.gi-sitenav.gi-sitenav--desktop {
    padding: 5px 0px;
}

.gi-sitelogo--header {
    padding: 15px 0px;
    justify-content: space-between;
}
  
.gi-sitenav__link.gi-sitenav__link--lvl1 {
    text-align: center;
    font-size: 1rem;
    padding: 12px 18px;
    padding-right: 20px; 
    margin: 0px;
    color: $header-color;
}
.gi-sitenav__link[aria-haspopup="true"]::after {
    padding-top: 3px;
    font-size: 1rem; 
    margin-left: 7px;
}

.header__menu {
    width: auto;
    float: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.gi-sitelogo--header { 
    float: none;
    width: auto;
    display: flex;
    flex-direction: column;
    margin: 0px;
}

.gi-sitenav__list.gi-sitenav__list--lvl1 {
    display: flex;
    width: 100%;
    justify-content: center;
}

.gi-sitenav__item.gi-sitenav__item--lvl1:first-child {
    .gi-sitenav__link.gi-sitenav__link--lvl1 {
        padding-left: 0px;
    }
}

.gi-sitesearch.gi-sitesearch--dynamic.gi-sitesearch--top {
    // margin-top: -2px;
    // margin-left: 20px;
}

.gi-sitesearch.gi-sitesearch--dynamic.gi-sitesearch--top {
    width: 100%;
}

button.btn.btn--search.gi-sitesearch__button.gi-sitesearch__button--search {
    background-color: rgba(255, 255, 255, 0.2);

    @include ani;
}

button.btn.btn--search.gi-sitesearch__button.gi-sitesearch__button--search:hover {
    opacity: 100%;
    background-color: rgba(255, 255, 255, 0.1);
    color: #fff;
    box-shadow: none;

    &:after {
        text-decoration: underline;
    }
}


.gi-sitesearch__button--search:focus, .gi-sitesearch--dynamic[data-collapsed=false] .btn--search, .gi-sitesearch--dynamic[data-collapsed=true] .btn--search:focus {
    opacity: 100%;
    box-shadow: none;
    background-color: $focus-color !important;
    color: #000 !important;
}
.gi-sitesearch__button--search:focus, .gi-sitesearch--dynamic[data-collapsed=false] .btn--search, .gi-sitesearch--dynamic[data-collapsed=true] .btn--search:focus:after {
    color: #000;
    text-decoration: underline;
}

.utilitymenu--top { 
    // margin-left: auto;
    padding-bottom: 0px;
    float: none;
}

.utilitymenu--top .utilitymenu__link {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 15px;
    @include ani;

    &:hover {
        background-color: rgba(255, 255, 255, 0.1);
    }
}


.gi-sitenav--lvl2 {
    
    background: #fff;
    columns: 2;
    left: 50%;
    transform: translateX(-50%);
    width: 400px;
    border-radius: 6px;
    box-shadow: 0 16px 40px rgba(0, 0, 0, 0.12);
    z-index: 100;
}

.gi-sitenav__item--lvl1:first-child {

    .gi-sitenav--lvl2 {
        left: 0;
        transform: translateX(0);
    }

}
.gi-sitenav__item--lvl1:last-child {

    .gi-sitenav--lvl2 {
        left: auto;
        transform: translateX(0);
        right: 0;
    }

}

/*.breadcrumb__nav {
    padding: 0;
    border: solid #fff 1px;
    background-color: #fff; 
}*/
  
  
  .utilitymenu--top .utilitymenu__link, .utilitymenu--top .utilitymenu__text {
      border: 0px;
      display: inline;
      padding: 5px 10px;
  }
  /*.breadcrumb .breadcrumb__crumb a {
      color: #066;
  
      &:hover { 
          color: #4840E3;
          text-decoration: underline;
      }
  }*/
  
  .gi-sitenav--lvl2 {
      padding: 15px 5px;
  }
  
  .gi-sitenav__item--lvl2 {
      border-bottom: 0; padding: 10px 10px;
      margin: 0 0px;
      display: inline-block;
      width: 100%;
      a {
          font-weight: 600;
          text-align: left;

          &:focus {
            outline: none;
            color: #000;
          }
      }
  }


/*
-------------------------------------------------------------------------------------------
2765 - copied from schools.scss for the museums mobile navbar
-------------------------------------------------------------------------------------------
*/

.gi-mobilenav--mobilemenu {
    background: #f2f2f2;}
    .sitemenu__link {
        color: #000;
        text-decoration: none;
        display: none; 
    }
    .submenu__link, .submenu__text, .submenu__link:hover, .sitemenu__link:hover {
        color: #000 !important;
    }

    

    .utilitymenu--mobile .utilitymenu__link, .sitemenu--mobile .sitemenu__link, .sitemenu--mobile .sitemenu__text {
        color: #000 !important;
        &:hover {
            color: #4840E3 !important;
            text-decoration: underline;

        }
    
    }


    .sitemenu__btnimage {
        filter: invert(1);
    }
   
    .sitemenu--mobile .submenu {
        border-bottom: 1px solid #000;
    }


    .utilitymenu--mobile .utilitymenu__item:last-child .utilitymenu__link, .utilitymenu--mobile .utilitymenu__item:last-child .utilitymenu__text {
        border-bottom: 1px solid #000;
    }



@media (max-width: 1300px)
{
    .gi-sitenav__link[aria-haspopup=true]::after {
        
        margin-left: 5px;
    }

    .gi-sitenav__link.gi-sitenav__link--lvl1 {
       
        padding: 12px 12px;
    }

    .gi-sitenav__list.gi-sitenav__list--lvl1 {
        justify-content: space-around;
    }

}

 
@media (max-width: 1050px)
{
    .gi-sitelogo--header {
        flex-wrap: wrap;
    }



#headermainmenu, .utilitymenu--top {
    display: none;
}


@media (max-width: 1050px) {
    .gi-mobilenavtoggle.gi-mobilenavtoggle--mobilemenu {
        display: none;
    }
    .header__menu .utilitymenu--top {
        display: block;
    }
}

.gi-mobilenav--mobilemenu { 
    top: 170px!important;  
}

.gi-sitelogo, .gi-sitelogo__link {
   
    width: 280px;
    padding-bottom: 15px;
}

.gi-sitesearch.gi-sitesearch--dynamic.gi-sitesearch--top {
    width: 100%;
    float: left;
}

.gi-sitesearch--dynamic[data-collapsed=false] .btn--search::after {
    color: #000;
}


@media (min-width: 900px) {

    .header {  
        > .container {
            padding-bottom: 20px;
        }
    }

    .gi-sitelogo--header {
        justify-content: flex-start;
    }
  
    .gi-mobilenavtoggle.gi-mobilenavtoggle--mobilemenu {
        display: block;
        top: 20px;
    }

    .header__menu {
        width: 100%;
    }

    #headermainmenu, .header__menu .utilitymenu--top {
        display: none;
        width: 100%;
    }
    
    .gi-mobilenav--mobilemenu { 
        top: 65px !important;
    }
    
    .gi-sitelogo, .gi-sitelogo__link {
        
        width: 100px;
    }
    
    .gi-sitesearch.gi-sitesearch--dynamic.gi-sitesearch--top {
        width: 100%; //formely 100% - 168px
        float: left;

        margin-top: 0px;
        margin-right: 0px;
    }

    .gi-sitesearch--dynamic[data-collapsed=false] .btn--search::after {
        content: "\e800";
        color: #000;
    }
    .gi-sitesearch--dynamic[data-collapsed=true] .btn--search::after {
        content: "\e800";
        color: #fff;
    }
    .gi-sitesearch--top .gi-sitesearch__searchtoggle, .gi-sitesearch--top .gi-sitesearch__button {
        width: 40px;
    }
    .gi-sitesearch--top[data-collapsible=true] .gi-sitesearch__searchfield {
        width: calc(100% - 40px);
    }
} 

@media (min-width: 820px) {
  .gi-sitenav__item--lvl1:nth-child(n+6):not(.gi-sitenav__item--lvl1:last-child), .gi-sitenav__item--lvl2:not(.gi-sitenav__item--lvl2:nth-child(n+6)) {
      display: block;
  }
}
  
//Event Search
a[href$="Ancient-House-Museum-of-Thetford-Life"].event-instances__link.event-instances__link--location {
	color: #4C7285;
}
a[href$="Cromer-Museum"].event-instances__link.event-instances__link--location {
	color: #0070A5;
}
a[href$="Elizabethan-House---Great-Yarmouth"].event-instances__link.event-instances__link--location {
	color: #CF171D;
}
a[href$="Gressenhall-Farm-and-Workhouse---Dereham"].event-instances__link.event-instances__link--location {
	color: #597730;
}
a[href$="Lynn-Museum---Kings-Lynn"].event-instances__link.event-instances__link--location {
	color: #80623C;
}
a[href$="Museum-of-Norwich-at-the-Bridewell"].event-instances__link.event-instances__link--location {
	color: #CB4363;
}
a[href$="Norwich-Castle-Museum-and-Art-Gallery"].event-instances__link.event-instances__link--location {
	color: #42145F;
}
a[href$="Strangers-Hall---Norwich"].event-instances__link.event-instances__link--location {
	color: #B32017;
}
a[href$="The-Tolhouse-Gaol---Great-Yarmouth"].event-instances__link.event-instances__link--location {
	color: #7E6B71;
}
a[href$="Time-and-Tide-Museum-of-Great-Yarmouth-Life"].event-instances__link.event-instances__link--location {
	color: #161E69;
}

        /*
-------------------------------------------------------------------------------------------
2765 - museums navbar mobile
-------------------------------------------------------------------------------------------
*/