#headermainmenu {
    background: #fff;
    border-bottom: 1px solid #ebebeb;
}

.header {
    padding: 0px;
}

nav.gi-sitenav.gi-sitenav--desktop {
    padding: 5px 0px;
}

.gi-sitelogo--header {
    display: flex;
    align-items: center;
    padding: 15px 0px;
}
  
.gi-sitenav__link.gi-sitenav__link--lvl1 {
    text-align: center;
    font-size: 1rem;
    padding: 24px 12px;
    padding-right: 20px; 
    margin: 0px;
    color: $header-color;
}
.gi-sitenav__link[aria-haspopup="true"]::after {
    padding-top: 3px;
    font-size: 1rem; 
    margin-left: 7px;
}

.header__menu, .gi-sitelogo--header { 
    float: none;
    width: 100% !important;
}

.gi-sitenav__list.gi-sitenav__list--lvl1 {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.gi-sitenav__item.gi-sitenav__item--lvl1:first-child {
    .gi-sitenav__link.gi-sitenav__link--lvl1 {
        padding-left: 0px;
    }
}

.gi-sitesearch.gi-sitesearch--dynamic.gi-sitesearch--top {
    margin-top: -2px;
    margin-left: 20px;
}

.gi-sitesearch__button--search:focus, .gi-sitesearch--dynamic[data-collapsed=false] .btn--search, .gi-sitesearch--dynamic[data-collapsed=true] .btn--search:focus {
    background: $focus-color;
    color: #000 !important;
}
.gi-sitesearch__button--search:focus, .gi-sitesearch--dynamic[data-collapsed=false] .btn--search, .gi-sitesearch--dynamic[data-collapsed=true] .btn--search:focus:after {
    color: #000;
}

.utilitymenu--top { 
    margin-left: auto;
    padding-bottom: 0px;
}


.gi-sitenav--lvl2 {
    
    background: #fff;
    columns: 2;
    left: 50%;
    transform: translateX(-50%);
    width: 400px;
    border-radius: 6px;
    box-shadow: 0 16px 40px rgba(0, 0, 0, 0.12);
    z-index: 100;
}

.gi-sitenav__item--lvl1:first-child {

    .gi-sitenav--lvl2 {
        left: 0;
        transform: translateX(0);
    }

}
.gi-sitenav__item--lvl1:last-child {

    .gi-sitenav--lvl2 {
        left: auto;
        transform: translateX(0);
        right: 0;
    }

}

.breadcrumb__nav {
    padding: 0;
    border: solid #fff 1px;
    background-color: #fff; 
}
  
  
  .utilitymenu--top .utilitymenu__link, .utilitymenu--top .utilitymenu__text {
      border: 0px;
      display: inline;
      padding: 5px 10px;
  }
  .breadcrumb .breadcrumb__crumb a {
      color: #066;
  
      &:hover { 
          color: #4840E3;
          text-decoration: underline;
      }
  }
  
  .gi-sitenav--lvl2 {
      padding: 15px 5px;
  }
  
  .gi-sitenav__item--lvl2 {
      border-bottom: 0; padding: 10px 10px;
      margin: 0 0px;
      display: inline-block;
      width: 100%;
      a {
          font-weight: 600;
          color: #006666 !important;
          text-align: left;
      }
  }
  
  
  .gi-mobilenav--mobilemenu { 
      background: #f2f2f2;}
      .sitemenu__link {
          color: #000;
          text-decoration: none;
          display: none; 
      }
      .submenu__link, .submenu__text, .submenu__link:hover, .sitemenu__link:hover, .sitemenu__text {
          color: #000 !important; 
      }
      .utilitymenu--mobile .utilitymenu__link, .utilitymenu--mobile .utilitymenu__link:hover{color: #000 !important;}
      .sitemenu__btnimage {
          filter: invert(1);
      }
     
      .sitemenu--mobile .submenu {
          border-bottom: 1px solid #000;
      }
  
  
      .utilitymenu--mobile .utilitymenu__item:last-child .utilitymenu__link, .utilitymenu--mobile .utilitymenu__item:last-child .utilitymenu__text {
          border-bottom: 1px solid #000;
      }
  
  
  
@media (max-width: 1300px) {
    .gi-sitenav__link[aria-haspopup=true]::after {
        margin-left: 5px;
    }

    .gi-sitenav__link.gi-sitenav__link--lvl1 {
        padding: 12px 12px;
    }


    .gi-sitenav__list.gi-sitenav__list--lvl1 {
        justify-content: space-around;
    }
}

.gi-mobilenavtoggle.gi-mobilenavtoggle--mobilemenu {
    display: none;
}

// overwriting default
@media (max-width: 1050px) {
    .gi-mobilenavtoggle.gi-mobilenavtoggle--mobilemenu {
        display: none;
    }
}


@media (max-width: 900px) {
  
    .gi-mobilenavtoggle.gi-mobilenavtoggle--mobilemenu {
        display: block;
    }

    #headermainmenu, .utilitymenu--top {
        display: none;
    }
    
    .gi-mobilenav--mobilemenu { 
        top: 65px !important;
        
    }
    
    .gi-sitelogo, .gi-sitelogo__link {
        
        width: 100px;
    }
    
    .gi-sitesearch.gi-sitesearch--dynamic.gi-sitesearch--top {
        width: calc(100% - 168px);
        float: left;
    }
    .gi-sitesearch--dynamic[data-collapsed=false] .btn--search::after, .gi-sitesearch--dynamic[data-collapsed=true] .btn--search::after {
        content: "\e800";
    }
    .gi-sitesearch--top .gi-sitesearch__searchtoggle, .gi-sitesearch--top .gi-sitesearch__button {
        width: 40px;
    }
    .gi-sitesearch--top[data-collapsible=true] .gi-sitesearch__searchfield {
        width: calc(100% - 40px);
    }
}
  
  
  
@media (min-width: 820px) {
  
  .gi-sitenav__item--lvl1:nth-child(n+6):not(.gi-sitenav__item--lvl1:last-child), .gi-sitenav__item--lvl2:not(.gi-sitenav__item--lvl2:nth-child(n+6)) {
      display: block;
  }
  
}  
