/*** VARIABLES ***/

html {
  font-size: 16px;
  font-family: 'Assistant', 'Open Sans', sans-serif;
  margin: 0px;
  padding: 0px;
}
html * {
  font-family: 'Assistant', 'Open Sans', sans-serif;
}

// chevron up:    background-image: url("data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20width='12'%20height='8'%20viewBox='0%200%2012%208'%20fill='none'%3E%3Cpath%20d='M10.59%207.41992L6%202.82992L1.41%207.41992L1.2414e-07%205.99992L6%20-7.87258e-05L12%205.99992L10.59%207.41992Z'%20fill='%232D5AB4'/%3E%3C/svg%3E");

// chevron down:  background-image: url("data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20width='12'%20height='8'%20viewBox='0%200%2012%208'%20fill='none'%3E%3Cpath%20d='M1.41%200.579956L6%205.16996L10.59%200.579956L12%201.99996L6%207.99996L0%201.99996L1.41%200.579956Z'%20fill='%232D5AB4'/%3E%3C/svg%3E");

// chevron right: background-image: url("data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%2024%2024'%3E%3Ctitle%3Echevron-right%3C/title%3E%3Cpath%20d='M8.59,16.58L13.17,12L8.59,7.41L10,6L16,12L10,18L8.59,16.58Z'%20fill='white'/%3E%3C/svg%3E");

$string: "data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24' width='24' viewBox='0 0 24 24' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cg%3E%3Cpath d='M8.59,16.58L13.17,12L8.59,7.41L10,6L16,12L10,18L8.59,16.58Z' fill='gray'/%3E%3C/g%3E%3C/svg%3E";
$string2: str-replace($string, ' ', '%20');
$breadcrumb-chevron-gray: url($string2);

$string_black: "data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24' width='24' viewBox='0 0 24 24' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cg%3E%3Cpath d='M8.59,16.58L13.17,12L8.59,7.41L10,6L16,12L10,18L8.59,16.58Z' fill='black'/%3E%3C/g%3E%3C/svg%3E";
$string_black2: str-replace($string_black, ' ', '%20');
$breadcrumb-chevron-black: url($string_black2);

$string: "data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24' width='24' viewBox='0 0 24 24' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cg%3E%3Cpath d='M8.59,16.58L13.17,12L8.59,7.41L10,6L16,12L10,18L8.59,16.58Z' fill='white'/%3E%3C/g%3E%3C/svg%3E";
$string2: str-replace($string, ' ', '%20');
$breadcrumb-chevron-white: url($string2);

$string: "data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24' width='24' viewBox='0 0 24 24' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cg%3E%3Cpath d='M8.59,16.58L13.17,12L8.59,7.41L10,6L16,12L10,18L8.59,16.58Z' fill='%23006CF4'/%3E%3C/g%3E%3C/svg%3E";
$string2: str-replace($string, ' ', '%20');
$breadcrumb-chevron-blue: url($string2);

/* OLD CRUMBS 
$breadcrumb-chevron-gray: url("data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%2024%2024'%3E%3Ctitle%3Echevron-right%3C/title%3E%3Cpath%20d='M8.59,16.58L13.17,12L8.59,7.41L10,6L16,12L10,18L8.59,16.58Z'%20fill='gray'/%3E%3C/svg%3E");
$breadcrumb-chevron-white: url("data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%2024%2024'%3E%3Ctitle%3Echevron-right%3C/title%3E%3Cpath%20d='M8.59,16.58L13.17,12L8.59,7.41L10,6L16,12L10,18L8.59,16.58Z'%20fill='white'/%3E%3C/svg%3E");
$breadcrumb-chevron-blue: url("data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%2024%2024'%3E%3Ctitle%3Echevron-right%3C/title%3E%3Cpath%20d='M8.59,16.58L13.17,12L8.59,7.41L10,6L16,12L10,18L8.59,16.58Z'%20fill='#006CF4'/%3E%3C/svg%3E");
*/


/*** COLOURS ***/

$focus-color: #fd0;
// use #050505 for black focus colour

// COLOURS: 

$white: #fff;
$black: #050505;

$grey-0: #343434;
$grey-1: #424242;
$grey-2: #767676;
$grey-3: #ccc;
$grey-4: #ddd;
$grey-5: #e5e5e5;

$pale-blue: #31708f;
$pale-orange: #8a6d3b;
$pale-red: #a94442;

$teal: #066;
$green: #00823b;
$red:#b32017;
$blue:#177EB0;

$focus-color: #fd0;

$link-color: #1F78C7;//#4840E3
$link-color-darken: darken( $link-color, 20% );
$dark-theme-link-color: #00D1FF;
$dark-theme-link-color-darken: darken( $dark-theme-link-color, 10% );

// buttons
$button-panel-color: $teal;
$button-dark-panel-color: $button-panel-color;
$button-dark-panel-text-color: $white;
$button-primary-text-color: $white;
$button-primary-color: $green;
$button-primary-color-hov: darken( $button-primary-color, 20% );
$button-primary-teal-color: $teal;
$button-primary-teal-color-hov: darken( $button-primary-teal-color, 10% );
$button-secondary-color: $white;
$button-secondary-color-hov: $grey-1;
$button-inverted-secondary-color: $grey-1;
$button-inverted-secondary-color-hov: $white;
$button-search-color: $white;
$button-search-background-color: $teal;

// component variables
$header-color: $white !default;
$header-text-color: $black !default; 
//$header-text-color-hover: $black !default; //3832
$header-utilitymenu-color: $link-color !default;
$header-menu-text-color-hover: $black !default;
$header-mobilemenu-text-alignment: left !default;

$footer-background-color: #dee0e2;
// $footer-color: #000 !default;
$footer-first-column-count: 2;
$footer-first-column-width: 75%;
// $footer-border-color: #343434;


$list-panel-link-color: $black !default;
$list-panel-link-color-hover: $link-color-darken !default;

$burger-menu-color: $black !default;

$card-border-radius: 0px;
$panel-backdrop-border-radius: 0px; //base border radius for panel backdrops
$panel-border-radius: 0px; //base border radius for panel cards (i.e. lists and features) within an individual panel
$feature-panel-border-radius: 0px; //base border radius for all feature cards on a page
$list-border-radius: 0px; //base border radius for all list cards on a page
$promo-border-radius: 0px; //base border radius for all promo cards on a page
//$feature-card-border-radius: 0px; //is this the same as feature-panel-border-radius above?
$rounded-corner-border-radius: 12px; //rounded corner border radius value


// FONT SIZES

$font-size-base: 1rem;

$font-size-sm: $font-size-base * 0.875 !default;
$font-size-lg: $font-size-base * 1.25 !default;

$font-weight-lighter: lighter !default;
$font-weight-light: 300 !default;
$font-weight-normal: 400 !default;
$font-weight-bold: 700 !default;
$font-weight-bolder: bolder !default;

$font-weight-base: $font-weight-normal !default;

$line-height-base: 1.5 !default;
$line-height-sm: 1.25 !default;
$line-height-lg: 2 !default;

$h1-font-size: $font-size-base * 2.5 !default;
$h2-font-size: $font-size-base * 2 !default;
$h3-font-size: $font-size-base * 1.75 !default;
$h4-font-size: $font-size-base * 1.5 !default;
$h5-font-size: $font-size-base * 1.25 !default;
$h6-font-size: $font-size-base !default;

$h6-font-size: 1.125rem;

.container {
  max-width: 1170px; // presumably nothing on a page should ever be wider than this?
}

.container.container--fullwidth {
  max-width: none;
}

// BREAKPOINTS
// (to be used with "mq" mixin)
$breakpoints: (
    "xs":   0px,
    "sm":   576px,
    "md":   768px,
    "lg":   992px,
    "xl":   1200px,
    "xxl":  1400px
);

// ANIMATION

@mixin ani {
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  @media (prefers-reduced-motion: reduce) {
    animation: none;
    transition: none;
  }
}

// EXAMPLE USAGE - Will target elected width and ABOVE px
/*

.site-header {
    padding: 2rem;
    font-size: 1.8rem;
    @include mq('md') {
        padding-top: 4rem;
        font-size: 2.4rem;
    }
}
*/

// Can we use (https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_media_queries/Using_media_queries) Level 4 media queries, 
// Looks like IE won't like it tho (https://caniuse.com/?search=%40media) But I think we dropped support?
// @media (width <= $sm) {
//     * {background: red;}
//   }
