@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
html {
  font-size: 16px;
  font-family: "Assistant", "Open Sans", sans-serif;
  margin: 0px;
  padding: 0px;
}

html * {
  font-family: "Assistant", "Open Sans", sans-serif;
}

.container {
  max-width: 1170px;
}

/*

.site-header {
    padding: 2rem;
    font-size: 1.8rem;
    @include mq('md') {
        padding-top: 4rem;
        font-size: 2.4rem;
    }
}
*/
footer.footer {
  font-weight: 600;
  background-color: #cbd9e1;
}

footer.footer * {
  color: #0b0b0c;
}

footer.footer-bottom {
  background-color: #050505;
}

.utilitymenu--bottom .utilitymenu__link {
  color: #0b0b0c;
}

/*
Variables to change:
  - $header-color (background colour)
  - $header-text-color
  - $burger-menu-color
*/
.header {
  background-color: #25317a;
  padding: 20px 0px;
}

.gi-sitelogo--header .gi-sitelogo__image {
  -o-object-fit: contain;
     object-fit: contain;
}

.gi-sitenav.gi-sitenav--desktop.gi-sitenav--hassearch {
  margin: 0px 44px 0px 0px;
}

.utilitymenu--top .utilitymenu__link, .utilitymenu--top .utilitymenu__text, .utilitymenu--mobile .utilitymenu__link, .utilitymenu--mobile .utilitymenu__text {
  color: #fff;
}
.utilitymenu--top .utilitymenu__link:hover, .utilitymenu--top .utilitymenu__text:hover, .utilitymenu--mobile .utilitymenu__link:hover, .utilitymenu--mobile .utilitymenu__text:hover {
  color: #fff;
}
.utilitymenu--top .utilitymenu__link:focus, .utilitymenu--top .utilitymenu__text:focus, .utilitymenu--mobile .utilitymenu__link:focus, .utilitymenu--mobile .utilitymenu__text:focus {
  color: #050505;
  background-color: #ffdd00;
}

.utilitymenu--top .utilitymenu__link {
  background-color: #af142e;
}

.gi-sitenav__link {
  color: #fff;
}
.gi-sitenav__link:hover {
  color: #fff;
}
.gi-sitenav__link:focus {
  color: #050505;
  background-color: #ffdd00;
}

.btn--search::after {
  color: #fff;
}

.gi-sitenav__list.gi-sitenav__list--lvl2 {
  background-color: #fff;
  color: #050505;
}
.gi-sitenav__list.gi-sitenav__list--lvl2 .gi-sitenav__item.gi-sitenav__item--lvl2 .gi-sitenav__link.gi-sitenav__link--lvl2 {
  color: #050505;
}

.gi-sitenav__link.gi-sitenav__link--lvl1 {
  font-size: 1.125rem;
}
.gi-sitenav__link.gi-sitenav__link--lvl1:hover {
  text-decoration: underline;
}

.utilitymenu.utilitymenu--mobile {
  margin-top: 80px;
}

.utilitymenu--mobile .utilitymenu__link {
  font-size: 1.125rem;
}

.gi-mobilenavtoggle__mtrotate.gi-mobilenavtoggle__mtrotate--mobilemenu * {
  background-color: #fff;
}

.gi-mobilenavtoggle__btn[aria-expanded=true] .gi-mobilenavtoggle__mtrotate * {
  background-color: #fff;
}

header .imagebanner {
  display: none;
}

.body--showbanner .imagebanner {
  display: block;
}

.sitemenu--mobile .sitemenu__item {
  text-align: center;
}

/*
Variables to change:
  - $breadcrumb-color (background colour)
  - $breadcrumb-text-color
  - $breadcrumb-border-color
  - $breadcrumb-chevron
*/
.breadcrumb__nav {
  padding: 0px;
  border: solid #004B7B 1px;
  background-color: #004B7B;
}

.breadcrumb {
  padding: 10px 0px;
  border: none;
  background-color: transparent;
}
.breadcrumb .breadcrumb__crumb {
  padding: 0px;
}
.breadcrumb .breadcrumb__crumb a {
  color: #fff;
  text-decoration: none;
  font-weight: 600;
}
.breadcrumb .breadcrumb__crumb a:hover {
  color: #fff;
  text-decoration: none;
  border-bottom: solid #fff 2px;
}
.breadcrumb .breadcrumb__crumb:after {
  content: "";
  background-color: transparent;
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%2024%2024'%3E%3Ctitle%3Echevron-right%3C/title%3E%3Cpath%20d='M8.59,16.58L13.17,12L8.59,7.41L10,6L16,12L10,18L8.59,16.58Z'%20fill='white'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 24px 24px;
  display: inline-block;
  width: 24px;
  height: 24px;
  position: relative;
  margin: 0px;
  top: -1px;
}

.gi-disclosure--body .gi-disclosure__toggle {
  border: solid transparent 4px;
  padding: 20px 90px 20px 10px;
}

h2.gi-disclosure__heading .gi-disclosure__toggle-text, .gi-disclosure__heading.h2 .gi-disclosure__toggle-text {
  font-size: 2rem;
}

h3.gi-disclosure__heading .gi-disclosure__toggle-text, .gi-disclosure__heading.h3 .gi-disclosure__toggle-text {
  font-size: 1.75rem;
}

.gi-disclosure--body .gi-disclosure__toggle:hover {
  background-color: #eee;
}

.gi-disclosure--body .gi-disclosure__toggle:focus {
  border: solid #ffdd00 4px;
  outline: 4px solid #050505;
  outline-offset: 0px;
  position: relative;
  z-index: 1;
}
.gi-disclosure--body .gi-disclosure__toggle:focus::after {
  border-bottom: solid #050505 3px;
  color: #050505;
  background-color: #ffdd00;
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20width='12'%20height='8'%20viewBox='0%200%2012%208'%20fill='none'%3E%3Cpath%20d='M1.41%200.579956L6%205.16996L10.59%200.579956L12%201.99996L6%207.99996L0%201.99996L1.41%200.579956Z'%20fill='%23050505'/%3E%3C/svg%3E");
}

.gi-disclosure--body .gi-disclosure__toggle[aria-expanded]:focus::after {
  border-bottom: solid #050505 3px;
  color: #050505;
  background-color: #ffdd00;
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20width='12'%20height='8'%20viewBox='0%200%2012%208'%20fill='none'%3E%3Cpath%20d='M10.59%207.41992L6%202.82992L1.41%207.41992L1.2414e-07%205.99992L6%20-7.87258e-05L12%205.99992L10.59%207.41992Z'%20fill='%23050505'/%3E%3C/svg%3E");
}

.gi-disclosure--body .gi-disclosure__toggle[aria-expanded=false]::after {
  content: "Show";
  font-family: "Assistant", "Open Sans", sans-serif;
  font-size: 1.25rem;
  font-weight: 700;
  background-color: transparent;
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20width='12'%20height='8'%20viewBox='0%200%2012%208'%20fill='none'%3E%3Cpath%20d='M1.41%200.579956L6%205.16996L10.59%200.579956L12%201.99996L6%207.99996L0%201.99996L1.41%200.579956Z'%20fill='%234840e3'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: 95% 50%;
  background-size: 18px 18px;
  display: inline-block;
  top: 50%;
  transform: translateY(-50%);
  padding-right: 28px;
  border-bottom: solid 3px transparent;
  color: #4840e3;
}

.gi-disclosure--body .gi-disclosure__toggle[aria-expanded=true]::after {
  content: "Hide";
  font-family: "Assistant", "Open Sans", sans-serif;
  font-size: 1.25rem;
  font-weight: 700;
  background-color: transparent;
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20width='12'%20height='8'%20viewBox='0%200%2012%208'%20fill='none'%3E%3Cpath%20d='M10.59%207.41992L6%202.82992L1.41%207.41992L1.2414e-07%205.99992L6%20-7.87258e-05L12%205.99992L10.59%207.41992Z'%20fill='%234840e3'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: 95% 50%;
  background-size: 18px 18px;
  display: inline-block;
  top: 50%;
  transform: translateY(-50%);
  padding-right: 28px;
  border-bottom: solid 3px transparent;
  color: #4840e3;
}

/*
Variables to change:
  - $list-panel-link-color
  - $list-panel-link-color-hover
  - $card-border-radius
*/
.a-panel.a-panel--carousel .a-panel__title {
  color: #fff;
}

.a-panel.a-panel--hasbackground .a-panel__title {
  color: #fff;
}

.a-panel--pt.a-panel--hasbackground {
  padding: 0px;
}

.a-panel--pt.a-panel--hasbackground .a-panel__content .item.item--article {
  display: flex;
  padding: 0px;
}
.a-panel--pt.a-panel--hasbackground .a-panel__content .item.item--article .item__imagecontainer {
  display: block;
  min-width: 250px;
  max-width: 250px;
  width: 250px;
  height: 250px;
  padding: 0px;
}
.a-panel--pt.a-panel--hasbackground .a-panel__content .item.item--article .item__imagecontainer .gi-responsiveimage--item {
  margin: 0px;
  height: 250px;
}
.a-panel--pt.a-panel--hasbackground .a-panel__content .item.item--article .item__imagecontainer .gi-responsiveimage--item .gi-responsiveimage__imagewrapper {
  height: 100%;
  width: 100%;
}
.a-panel--pt.a-panel--hasbackground .a-panel__content .item.item--article .item__imagecontainer .gi-responsiveimage--item .gi-responsiveimage__imagewrapper img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.imagebanner__title {
  color: #fff;
}

.imagebanner__searchholder .searchform__inputtxt {
  width: 100%;
}

.grid.grid--list.grid--4col {
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
}

.a-panel--feature:nth-child(even), .a-panel--feature:nth-child(odd) {
  background-color: #fff;
}

.grid.grid--feature.grid--4col {
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
}

.grid__cell.grid__cell--feature.grid__cell--cols1 {
  padding: 0px;
}

.a-panel--feature .grid__cell--feature .grid__cellwrap {
  height: 100%;
  padding: 10px;
}
.a-panel--feature .item.item--article {
  background-color: #fff;
  height: 100%;
  border: solid #B0B0B0 1px;
  border-radius: 15px;
  overflow: hidden;
}
.a-panel--feature .item.item--article .item__content {
  padding: 20px !important;
}
.a-panel--feature .item.item--article .gi-responsiveimage__fallback, .a-panel--feature .item.item--article .gi-responsiveimage__image {
  -o-object-fit: cover;
     object-fit: cover;
  max-height: 125px;
}
.a-panel--feature .item.item--article .gi-responsiveimage.gi-responsiveimage--item.gi-responsiveimage--loaded {
  margin: 0px;
}

.a-panel.a-panel--hasbackground .a-panel__title {
  color: #050505;
  font-weight: 700;
}

h2.a-panel__title, .a-panel__title.h2 {
  color: #050505;
  font-weight: 700;
  font-size: 2rem;
}

.item.item--article .item__title a {
  color: #050505;
  border-bottom: solid 2px #050505;
  text-decoration: none;
}
.item.item--article .item__title a:hover {
  color: #1f18a5;
  border-bottom: solid 2px #1f18a5;
  text-decoration: none;
}
.item.item--article .item__title a:focus {
  color: #050505;
  background-color: #ffdd00;
  border-bottom: solid 2px #050505;
  text-decoration: none;
}

.item__content .item__sublink {
  color: #4840e3;
  border-bottom: none;
}
.item__content .item__sublink:hover {
  color: #1f18a5;
  border-bottom: none;
  text-decoration: underline;
}
.item__content .item__sublink:focus {
  color: #050505;
  background-color: #ffdd00;
  border-bottom: none;
  text-decoration: underline;
}

@media only screen and (max-width: 600px) {
  .a-panel__content {
    padding: 30px 10px;
  }
}
.a-panel.a-panel--related .a-panel__content .grid--related {
  display: flex;
  align-items: stretch;
}

.a-panel.a-panel--related .grid__cellwrap {
  height: 100%;
}

/* .a-panel__link Link button used in Panels now set in _buttons.scss  */
.ra-block {
  height: 100%;
}

.ra-block .ra-block__content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.a-relimage {
  display: none;
}

.item__content {
  padding: 20px;
}

.item.item--article {
  border: 1px solid #fff;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.12), 0 0 2px rgba(0, 0, 0, 0.12);
  padding: 0px;
  margin: 0;
  text-align: left;
}

.item.item--article .item__title {
  font-weight: 700;
  margin: 15px 0px 10px 0px;
  margin-top: 0 !important;
}

.item.item--article .item__title a {
  font-size: 1.25rem;
}
.item.item--article .item__title a:focus {
  outline: none;
}

.item.item--article .item__body {
  margin-block-end: 16px;
}

.grid--2col > .grid__cell:nth-child(2n+1) {
  clear: none;
}

.grid--2col[data-grid-maxcols="2"] .grid__cell {
  width: 50%;
}

@media only screen and (max-width: 850px) {
  .grid--2col[data-grid-maxcols="2"] .grid__cell {
    width: 100%;
  }
}
.a-panel--pt.a-panel--parallax {
  background-color: #fff;
}

.a-panel--pt.a-panel--parallax .a-panel__content {
  background-color: transparent;
  color: #050505;
  text-shadow: none;
}
.a-panel--pt.a-panel--parallax .a-panel__content .grid--feature .grid__cellwrap {
  padding: 14px;
}

@media only screen and (max-width: 1200px) {
  .a-panel--pt.a-panel--parallax .fa-block {
    margin: 10px;
  }
}
.a-panel--pt.a-panel--parallax .fa-block {
  background-color: #fff;
  border: 0px solid #fff;
  border-radius: 0px;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.12), 0 0 2px rgba(0, 0, 0, 0.12);
  padding: 0px;
}
.a-panel--pt.a-panel--parallax .fa-block .fa-block__imagecontainer {
  width: inherit;
  height: inherit;
  border-radius: 0px 0px 0px 0px;
  overflow: hidden;
}
.a-panel--pt.a-panel--parallax .fa-block .fa-block__imagecontainer:focus-within {
  outline: solid #ffdd00 3px;
}
.a-panel--pt.a-panel--parallax .fa-block .fa-block__imagecontainer + .fa-block__details, .a-panel--pt.a-panel--parallax .fa-block .fa-block__details {
  width: 100%;
  padding: 20px;
  border-radius: 0px;
}
.a-panel--pt.a-panel--parallax .fa-block .fa-block__imagecontainer + .fa-block__details .fa-block__actions .fa-block__link.fa-block__link--default.fa-block__link--action, .a-panel--pt.a-panel--parallax .fa-block .fa-block__details .fa-block__actions .fa-block__link.fa-block__link--default.fa-block__link--action {
  font-weight: 700;
}
.a-panel--pt.a-panel--parallax .fa-block .fa-block__content * {
  background-color: #fff;
  color: #050505;
  text-align: left;
}
.a-panel--pt.a-panel--parallax .fa-block .fa-block__content .fa-block__title a {
  font-size: 1.25rem;
  font-weight: 700;
  margin-bottom: 12px;
  color: #050505;
  border-bottom: solid 2px #050505;
}
.a-panel--pt.a-panel--parallax .fa-block .fa-block__content .fa-block__title a:hover {
  color: #1f18a5;
  border-color: #1f18a5;
  text-decoration: none;
}
.a-panel--pt.a-panel--parallax .fa-block .fa-block__content .fa-block__title a:focus {
  background-color: #ffdd00;
  color: #050505;
  border-color: #050505;
  text-decoration: none;
}
.a-panel--pt.a-panel--parallax .fa-block .fa-block__content .fa-block__links .item.item--article {
  padding: 0px;
  box-shadow: none;
}
.a-panel--pt.a-panel--parallax .fa-block .fa-block__content .fa-block__links .item.item--article .item__content {
  min-height: 1px !important;
  padding: 0px;
}
.a-panel--pt.a-panel--parallax .fa-block .fa-block__content .fa-block__links .item.item--article .item__content .item__title {
  font-size: 1.125rem;
  font-weight: 500;
  margin-bottom: 12px;
}
.a-panel--pt.a-panel--parallax .fa-block .fa-block__content .fa-block__links .item.item--article .item__content .item__title .item__link {
  font-size: 1.125rem;
  font-weight: 500;
  color: #4840e3;
  margin-bottom: 0px;
  border: none;
}
.a-panel--pt.a-panel--parallax .fa-block .fa-block__content .fa-block__links .item.item--article .item__content .item__title .item__link:hover {
  border-color: transparent;
  text-decoration: underline;
  border: none;
  color: #1f18a5;
}
.a-panel--pt.a-panel--parallax .fa-block .fa-block__content .fa-block__links .item.item--article .item__content .item__title .item__link:focus {
  background-color: #ffdd00;
  color: #050505;
  border-color: transparent;
  text-decoration: underline;
  border: none;
}
.a-panel--pt.a-panel--parallax .fa-block .fa-block__content .fa-block__details .fa-block__actions .fa-block__link.fa-block__link--default.fa-block__link--action:hover {
  color: #1f18a5;
}
.a-panel--pt.a-panel--parallax .fa-block .fa-block__content .fa-block__details .fa-block__actions .fa-block__link.fa-block__link--default.fa-block__link--action:focus {
  outline: none;
  color: #050505;
  background-color: #ffdd00;
}

.a-panel--pt.a-panel--parallax .grid--2col > .grid__cell {
  width: 33.3%;
}

@media only screen and (max-width: 1200px) {
  .a-panel--pt.a-panel--parallax .grid--2col > .grid__cell {
    width: 50%;
  }
  .a-panel--pt.a-panel--hasbackground .a-panel__content .item.item--article .item__imagecontainer {
    min-width: 200px;
    max-width: 200px;
    width: 200px;
    height: 200px;
  }
  .a-panel--pt.a-panel--hasbackground .a-panel__content .item.item--article .item__imagecontainer .gi-responsiveimage--item {
    height: 200px;
  }
}
@media only screen and (max-width: 850px) {
  .a-panel--pt.a-panel--parallax .grid--2col > .grid__cell {
    width: 100%;
    padding: 0px;
  }
  .a-panel--pt.a-panel--hasbackground .a-panel__content .grid--1col > .grid__cell {
    width: 100%;
    clear: both;
  }
  .a-panel--pt.a-panel--hasbackground .a-panel__content .item.item--article .item__imagecontainer {
    min-width: 150px;
    max-width: 150px;
    width: 150px;
    height: 150px;
  }
  .a-panel--pt.a-panel--hasbackground .a-panel__content .item.item--article .item__imagecontainer .gi-responsiveimage--item {
    height: 150px;
  }
}
@media only screen and (max-width: 600px) {
  .a-panel--pt.a-panel--parallax > .container {
    padding: 0px;
  }
  .a-panel--pt.a-panel--parallax .a-panel__content {
    padding: 40px 40px 40px 20px;
  }
  .a-panel--pt.a-panel--parallax .a-panel__content .grid--feature .grid__cellwrap {
    padding: 0px;
  }
}
.a-panel--pt.a-panel--parallax .fa-block .fa-block__imagecontainer {
  display: none;
}

.a-panel--display-nav-images.a-panel--pt.a-panel--parallax .fa-block .fa-block__imagecontainer {
  display: block;
}

.a-panel--pt.a-panel--hasbackground .a-panel__content .item.item--article .item__imagecontainer {
  display: none;
}

.body--display-nav-images .a-panel--pt.a-panel--hasbackground .a-panel__content .item.item--article .item__imagecontainer {
  display: block;
}

.a-panel--display-nav-images.a-panel.a-panel--pt.a-panel--list.a-panel--render .a-panel__content .item.item--article .item__imagecontainer {
  display: block;
}

.grid.grid--list .item.item--article .item__imagecontainer {
  display: none;
}

.body--display-list-images .grid.grid--list .item.item--article .item__imagecontainer {
  display: block;
}

.item__imagecontainer {
  aspect-ratio: 3/2;
}

figure.gi-responsiveimage, .gi-responsiveimage__imagewrapper, .gi-responsiveimage__image {
  width: 100%;
  height: 100%;
}

.gi-responsiveimage__image {
  -o-object-fit: cover;
     object-fit: cover;
}

.a-panel--feature .item.item--article .gi-responsiveimage__fallback, .a-panel--feature .item.item--article .gi-responsiveimage__image {
  max-height: 2000px !important;
  /*//to overrule the 125px*/
}

.a-panel--pt.a-panel--list .item__imagecontainer {
  border-radius: 5px 5px 0px 0px;
  /* Four values */
  /* top-left top-right bottom-right bottom-left */
}

.grid__cellwrap {
  border-radius: 0px;
}

h1, .h1 {
  font-size: 2.5rem;
  font-weight: 700;
  color: #050505;
}

h2, .h2 {
  font-size: 2rem;
  font-weight: 700;
  color: #050505;
}

h3, .h3 {
  font-size: 1.75rem;
  font-weight: 700;
  color: #050505;
}

h4, .h4 {
  font-size: 1.5rem;
  font-weight: 700;
  color: #050505;
}

h5, .h5 {
  font-size: 1.25rem;
  font-weight: 700;
  color: #050505;
}

h6, .h6 {
  font-size: 1.125rem;
  font-weight: 700;
  color: #050505;
}

p, ul, ol, li, a, div, span {
  font-size: 1.125rem;
}

a {
  text-decoration: none;
  color: #4840e3;
  font-weight: 600;
}

.a-body__link, .a-body__inner a {
  color: #4840e3;
}
.a-body__link:hover, .a-body__inner a:hover {
  color: #1f18a5;
  border-bottom: 2px solid #1f18a5;
}

.a-heading__title {
  font-weight: 700;
  color: #050505;
}

a:focus, button:focus, input:focus, select:focus, textarea:focus, *[tabindex]:focus {
  outline: 3px solid #ffdd00;
}

.maincontent .a-heading, .maincontent .a-intro, .maincontent .a-body {
  max-width: 750px;
}

.maincontent .a-panel--fullwidth .a-heading, .maincontent .a-panel--fullwidth .a-intro, .maincontent .a-panel--fullwidth .a-body {
  max-width: none;
}

.a-heading__title {
  font-weight: 700;
  font-size: 2.5rem;
  color: #050505;
  border-bottom: none;
  padding-bottom: 0px;
}

h5, .h5 {
  margin-bottom: 20px;
}

.a-intro__content {
  line-height: 1.3;
  font-weight: 500;
}

.template--documentsection .contents__listitem::before {
  content: "-";
  font-family: inherit;
}
.template--documentsection .contents__list {
  -moz-columns: 1;
       columns: 1;
}
@media only screen and (min-width: 576px) {
  .template--documentsection .contents__list {
    -moz-columns: 2;
         columns: 2;
  }
}
.template--documentsection .document-pagination .document-pagination__link {
  width: 50%;
}
.template--documentsection .document-pagination .document-pagination__link--next {
  float: right;
}
.template--documentsection .document-pagination .document-pagination__link--prev {
  float: left;
}

.gi-responsiveimage__caption {
  font-size: 1rem;
  font-weight: 500;
}

.a-panel--pt.a-panel--list .item__content, .a-panel--pt.a-panel--hasbackground .a-panel__content .item.item--article {
  min-height: 10px !important;
}

.body--hide-title main .a-heading.a-heading--panel .a-heading__title {
  position: absolute;
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}

.sitealert {
  height: 60px;
}
.sitealert .container {
  height: 100%;
  display: flex;
  align-items: center;
}
.sitealert .container .sitealert__heading {
  margin: 0px 0px 5px 0px;
}

@media only screen and (max-width: 991px) {
  iframe {
    width: 100%;
  }
}

.gi-sitesearch--dynamic {
  position: relative;
  top: 0;
  right: 0;
  margin-top: 20px;
  float: right;
}

.gi-sitesearch.gi-sitesearch--dynamic.gi-sitesearch--top {
  width: 300px;
}

.gi-sitesearch.gi-sitesearch--dynamic.gi-sitesearch--top > .gi-sitesearch__container > .gi-sitesearch__closetoggle {
  display: none;
  width: 50px;
  height: 50px;
}

.searchform__inputtxt.searchform__inputtxt--sitesearch {
  height: 35px;
  border: solid 1px #767676;
}
.searchform__inputtxt.searchform__inputtxt--sitesearch:focus {
  outline: solid #ffdd00 2px;
}

.gi-sitesearch[data-collapsible=true][data-collapsed=false] .gi-sitesearch__closetoggle {
  display: none;
}

.gi-sitesearch[data-collapsible=true][data-collapsed=false][data-suppress-closebtn=true] .gi-sitesearch__closetoggle {
  display: none;
}

.gi-sitesearch__searchfield,
.gi-sitesearch[data-collapsible=true][data-suppress-closebtn=true] .gi-sitesearch__searchfield {
  width: 300px;
}

.gi-sitesearch[data-collapsible=true] .gi-sitesearch__searchfield {
  width: 300px;
}

.gi-sitesearch[data-collapsible=true] .gi-sitesearch__searchfield {
  display: none;
}

.gi-sitesearch[data-collapsible=true][data-collapsed=false] .gi-sitesearch__searchfield {
  display: block;
}

.gi-sitesearch[data-collapsible=true][data-collapsed=true] .gi-sitesearch__searchfield {
  display: block;
}

.gi-sitesearch[data-collapsible=true][data-collapsed=true][data-focus-open=true] .gi-sitesearch__searchfield {
  display: block;
  visibility: visible;
  border: 0;
  clip: auto;
  clip: auto;
  height: 50px;
  margin: auto;
  overflow: auto;
  padding: auto;
  position: relative;
  width: calc(100% - 50px);
}

.gi-sitesearch--searchtemplate .gi-sitesearch__searchfield,
.gi-sitesearch--searchtemplate[data-collapsible=true][data-suppress-closebtn=true] .gi-sitesearch__searchfield {
  position: relative;
  width: calc(100% - 60px);
  height: 50px;
}

.gi-sitesearch--searchtemplate[data-collapsible=true] .gi-sitesearch__searchfield {
  width: calc(100% - 110px);
}

.gi-sitesearch--dynamic[data-collapsed=false] {
  width: 60%;
  background-color: #fff;
}

.gi-sitesearch--top .gi-sitesearch__searchfield,
.gi-sitesearch--top[data-collapsible=true][data-suppress-closebtn=true] .gi-sitesearch__searchfield {
  position: relative;
  width: calc(100% - 40px);
  height: 35px;
}

.gi-sitesearch--top[data-collapsible=true] .gi-sitesearch__searchfield {
  width: calc(100% - 40px);
}

.gi-sitesearch[data-collapsible=true][data-collapsed=true] .gi-sitesearch__button--search {
  border-left: 0;
}

.gi-sitesearch--dynamic[data-collapsed=false] .btn--search {
  background-color: #515151;
}
.gi-sitesearch--dynamic[data-collapsed=false] .btn--search::after {
  color: #fff;
}

.gi-sitesearch--dynamic[data-collapsed=true] .btn--search {
  background-color: #515151;
}
.gi-sitesearch--dynamic[data-collapsed=true] .btn--search::after {
  color: #fff;
}

.gi-sitesearch--dynamic[data-collapsed=false] .btn--search:hover .gi-sitesearch--dynamic[data-collapsed=false] .btn--search:focus {
  opacity: 1;
}

.gi-sitesearch--mobile .gi-sitesearch__searchfield,
.gi-sitesearch--mobile[data-collapsible=true][data-suppress-closebtn=true] .gi-sitesearch__searchfield {
  width: calc(100% - 60px);
}

.imagebanner--search .gi-sitesearch--dynamic .gi-sitesearch__searchfield,
.imagebanner--search .gi-sitesearch--dynamic[data-collapsible=true][data-suppress-closebtn=true] .gi-sitesearch__searchfield {
  width: calc(100% - 60px);
}

.imagebanner--search .gi-sitesearch--dynamic[data-collapsible=true] .gi-sitesearch__searchfield {
  width: calc(100% - 110px);
}

.searchresults__itemsummary, .searchresults__itemsummary > .icmhighlight {
  font-size: 1.125rem !important;
}

.block--cookie-consent-prompt {
  margin-bottom: 0;
  border: 0px;
  max-width: 90%;
  top: 50%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

#cookie-consent-prompt {
  content: "";
  position: fixed;
  background: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 99;
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
}

.block--cookie-consents-updated-confirmation {
  position: relative;
  padding-right: 70px;
  z-index: 9999;
  top: auto !important;
  left: auto !important;
  transform: translateX(0px) translateY(0px) !important;
  width: 100% !important;
  max-width: 100% !important;
  bottom: 0;
  position: fixed !important;
}

/* Footer */
footer.footer {
  border-top: 10px solid #041b40;
}

/* Header / Menu */
.gi-sitenav__link {
  padding: 8px 16px 8px 16px;
}

.gi-sitenav__link--lvl1:hover {
  background-color: #af142e;
}

.utilitymenu--top .utilitymenu__link, .utilitymenu--top .utilitymenu__link:hover {
  background-color: #af142e;
  border-radius: 15px;
  border: 0;
}

.utilitymenu--top .utilitymenu__link:hover .gi-sitesearch--top .btn--search,
.gi-sitesearch--dynamic .btn--search {
  background-color: #af142e !important;
}/*# sourceMappingURL=americanlibrary.css.map */