@import "global/functions";
@import "variables";

$americanlibrary-red: #af142e;
$americanlibrary-blue: #25317a;

$header-color: $americanlibrary-blue;
$header-text-color: #fff;
$header-utilitymenu-color: $americanlibrary-red;
$header-mobilemenu-text-alignment: center;

$burger-menu-color: #fff;

$button-panel-color: $americanlibrary-red;
$button-dark-panel-color: $button-panel-color;
 
$button-primary-color: $americanlibrary-red;
$button-primary-color-hov: darken($button-primary-color, 20%) !default;

$breadcrumb-color: #004B7B;
$breadcrumb-text-color: #fff;
$breadcrumb-border-color: #004B7B;
$breadcrumb-chevron: $breadcrumb-chevron-white;

$button-search-background-color: $americanlibrary-red;
$search-border-color: #FFFFFF;

$footer-background-color: #cbd9e1;
$footer-border-color: #041b40;
$footer-color: #0b0b0c;
 
@import
"global-import"; 


//=============================================================================
// CUSTOM OVERWRITE
//=============================================================================

/* Header / Menu */

/*.gi-sitenav__link {
    padding: 8px 16px 8px 16px;
}

.gi-sitenav__link--lvl1:hover {
    background-color: $americanlibrary-red;
}*/

.utilitymenu--top .utilitymenu__link {
    background-color: $americanlibrary-red;
    border-radius: 15px;
    border: 0;

    &:hover {
        background-color: $americanlibrary-red;
        @extend .btn-hover;
    }
}

//3909 - overwrite 2991 changes so that standard and large images display correctly but image captions are now not the same width
.a-body__image .gi-responsiveimage__caption, .a-body__image .gi-responsiveimage {
    display: block;
}

@media (max-width: 1050px)
{
  .gi-mobilenav--mobilemenu {
      top: 172px; //moves mobile menu down
  }
}