@import "variables";

$header-color: $archives-blue;
$header-text-color: #fff;

$burger-menu-color: #fff;

$breadcrumb-color: #004B7B;
$breadcrumb-text-color: #fff;
$breadcrumb-border-color: #004B7B;
$breadcrumb-chevron: $breadcrumb-chevron-white;

@import 
"mixins/mixins", 
"global/footer", 
"global/header", 
"global/breadcrumb", 
"global/disclosures", 
"global/image-gallery", 
"global/panels", 
"global/typography", 
"global/page", 
"global/misc", 
"global/searchbox",
"global/searchresults", 
"global/cookies",
"global/buttons";
