@import "global/functions";
@import "variables";

$archives-blue: #036eb2;

$header-color: $archives-blue;
$header-text-color: #fff;
$header-utilitymenu-color: $archives-blue;
$header-menu-text-color-hover: $white;

$burger-menu-color: #fff;

$breadcrumb-color: #004B7B;
$breadcrumb-text-color: #fff;
$breadcrumb-border-color: #004B7B;
$breadcrumb-chevron: $breadcrumb-chevron-white;

$button-search-background-color: #be4600;
$search-border-color: #FFFFFF;
 
@import 
"global-import";

// a.gi-sitelogo__link {width: $logo-width;}
// .gi-sitelogo--header {width: $logo-width;}

.header__menu {
    display: flex;
    align-items: center;    
    width: calc(100% - 250px);
    height: 74px;
}


.gi-sitesearch--dynamic { 
    margin-left: auto;
    margin-top: 0px;
}

.utilitymenu--top {padding: 0;}

.utilitymenu--top .utilitymenu__link, .gi-sitenav__link.gi-sitenav__link--lvl1 {
    //background-color: transparent; //3832
    border: 0;
    font-size: 1.125rem;
    padding: 20px 10px;
    outline: 0 !important;
}

//3832
.gi-sitenav__link.gi-sitenav__link--lvl1[aria-expanded=true]
{
    color: $white;
    background-color: $header-color;
    &:hover:focus {
        color: $white;
    }
}

//3832
.gi-sitenav__link.gi-sitenav__link--lvl1:hover:focus {
    color: $black;
}


div.gi-sitenav--mainnav-lvl2 {
    position: absolute;
    width: 1170px;
    transform: translateX(-50%);
    left: 50%;
    z-index: 100; 
    top: 65px; 
}

ul.gi-sitenav__list.gi-sitenav__list--lvl2 {
    background-color: #033351;
    color: #fff;
    display: flex;
    flex-wrap: wrap;
    padding: 15px;
}

li.gi-sitenav__item.gi-sitenav__item--lvl2 {
    width: 33.33333333%;
}

.gi-sitenav__item--lvl2 {
    padding: 15px 0;
    margin: 0;
    border-bottom: 0;
}

.gi-sitenav__item--lvl2 { //TODO REFACTOR - this class is overwriting the padding for the class above
    padding: 0px 0;
}
.gi-sitenav__list.gi-sitenav__list--lvl2 .gi-sitenav__item.gi-sitenav__item--lvl2 .gi-sitenav__link.gi-sitenav__link--lvl2 {
    color: #fff;
    //padding: 15px 15px; //3832
    //text-align: left;
    font-weight: 600;

    /*&:hover {
        color: #fff;
        text-decoration: underline;
        text-decoration-thickness: max(3px, 0.1875rem, 0.12em);
        -webkit-text-decoration-skip-ink: none;
        text-decoration-skip-ink: none;
    }*/
    
    &:focus {
        color: #050505;
        /*text-decoration: underline;
        background: $focus-color;
        text-decoration-thickness: max(3px, 0.1875rem, 0.12em);
        -webkit-text-decoration-skip-ink: none;
        text-decoration-skip-ink: none;*/
    }
}

.gi-sitenav__item--lvl1, .gi-sitenav__list--lvl1, .gi-sitenav.gi-sitenav--desktop.gi-sitenav--hassearch, .header__menu {
    position: static;
}

.gi-mobilenav--mobilemenu {
    background: #033351;
}

.sitemenu__btn--haschildren {display: none;}

.sitemenu__link {
    color: #000;
    text-decoration: none;
    display: none;
}

.sitemenu--mobile .sitemenu__link, .sitemenu--mobile .sitemenu__text {display: none;}


.sitemenu--mobile .sitemenu__link, .sitemenu--mobile .sitemenu__text, .utilitymenu--mobile .utilitymenu__item:last-child .utilitymenu__link, .utilitymenu--mobile .utilitymenu__item:last-child .utilitymenu__text {
    border-bottom: 1px solid rgb(0 0 0 / 10%);
}

.sitemenu--mobile .submenu {
    display: block !important;
    background: #033351;
} 

.submenu__link, .submenu__text {  
    color: #fff;
    padding: 10px 5px;
    display: block;
    font-weight: 600;
    &:hover {color: #fff;}
}

/*//3909 - overwrite 2991 changes so that standard and large images display correctly but image captions are now not the same width
.a-body__image .gi-responsiveimage__caption, .a-body__image .gi-responsiveimage {
    display: block;
}*/

// @media (max-width: 1170px)
@include mq(xl, max) {

    div.gi-sitenav--mainnav-lvl2 {
        width: 900px;
    }
}

// @media (max-width: 1050px)
@include mq(lg, max) {

    .header__menu {
        width: 100%;
    }
}
