@import "global/functions";
@import "variables";

$businessboard_theme: #16596B;
$background-color: #F9F7F6;

$link-color: #4840E3;

$header-color: $white; // Column_B
$header-text-color: $black; // Column_C
$header-utilitymenu-color: $businessboard_theme; // Column_D
$header-menu-text-color-hover: $businessboard_theme;

$burger-menu-color: $businessboard_theme; // Column_E

$header-mobilemenu-text-alignment: left !default; //Column_F
$breadcrumb-color: #eeefef;  // Column_G
$breadcrumb-text-color: $black; // Column_H
$breadcrumb-border-color: #f6f6f6; // Column_I
$breadcrumb-chevron: $breadcrumb-chevron-black; // Column_J

$search-border-color: $grey-3; // Column_K
$button-search-color : $white; // magnifying glass icon
$button-search-background-color: $businessboard_theme; // Column_R

$button-panel-color: $businessboard_theme; // Column_S
$button-panel-text-color: $white;// darken($businessboard_theme, 20% ); // Column_T
$button-dark-panel-text-color: $businessboard_theme;  // Column_U
$button-dark-panel-color: $black;  // Column_V

$button-primary-color: $businessboard_theme;
$button-primary-color-hov: darken($businessboard_theme, 20% );
$button-primary-text-color: $white;//$businessboard_theme;

//4699
/*$button-secondary-color: $businessboard_theme;
$button-secondary-color-hov: $white;
$button-inverted-secondary-color: $white;
$button-inverted-secondary-color-hov: #3c3c3c;*/

$panel-backdrop-border-radius: 12px;
$panel-border-radius: 12px;
$feature-panel-border-radius: 12px;
$list-border-radius: 12px;
$blog-border-radius: 12px;
$promo-border-radius: 12px;
$card-border-radius: 12px;

$footer-border-color: $businessboard_theme;
$footer-background-color: $businessboard_theme; // Column_L
$footer-color: $white; // Column_M

$footer-first-column-count: 1;
$footer-first-column-width: 33%;

@import 
"global-import";

@import
"global/navbar";

/*====================================================================================
Header
====================================================================================*/
#headermainmenu {
    border-top: solid 1px $grey-3; // seperator line in header above menu
}

//3832
.gi-sitenav__link.gi-sitenav__link--lvl1:hover:focus {
    color: $black;
}

/*====================================================================================
Page body
====================================================================================*/
div.maincolumn {
    background-color: $background-color;
}

/*====================================================================================
Panels
====================================================================================*/
.a-panel--no-backdrop {
    background-color: rgba(0, 0, 0, 0);
}

//Top panel on the homepage
.a-panel--nbb-main-image-overlay.a-panel--hasbackground {
    position: relative;
    overflow: hidden;
    padding-bottom: 10px;
    //height: 600px; // 5914 Update =nbb-main-image-overlay panel style modifier
    display: flex;
    align-items: center;
    
    @include mq('sm', 'max') {
        height: auto;
    }

    &::before {
        content: "";
        position: absolute;
        bottom: -20px;
        left: -100px;
        height: calc(100% + 100px);
        width: 200px;
        opacity: 0.3;
        background-color: #16596B;
        transform: rotate(-8deg);
    }

    &::after {
        content: "";
        position: absolute;
        bottom: -85px;
        left: -10px;
        height: 200px;
        width: calc(100% + 100px);
        opacity: 0.5;
        background-color: #FFFFFF;
        transform: rotate(175deg);
    }

    /*.a-panel__content {
        max-width: 586px;
    }*/

    //5914 Update =nbb-main-image-overlay panel style modifier
    /*h2 {
        font-size: 40px;
        font-weight: 700;
    }

    p {
        font-size: 32px;
        font-weight: 700;
        line-height: 1;
    }*/

    .a-panel__linkwrap {
        border-radius: 40px;
        @extend .a-body__link--cta;

        &:hover, &:focus {
            span.a-panel__link {
                box-shadow: none;
                background-color: inherit;
            }
        }
    }
    .a-panel__link.a-panel__link--pt {
        background-color: transparent;
    }
}

.grid--list .item.item--article {
    background-color: $white; //list cards background colour
}

/*====================================================================================
Footer
====================================================================================*/
footer.footer {
    box-shadow: 0px -85px rgba(0,0,0,0.3) inset; 
}

/*=============================================
5188 Background for disclosure Business Board
=============================================*/
.gi-disclosure--body .gi-disclosure__toggle,
.gi-disclosure--body .gi-disclosure__toggle:focus:hover,
.gi-disclosure--body .gi-disclosure__toggle:focus{
    background-color: $background-color;
    -webkit-tap-highlight-color: transparent;
}

.gi-disclosure--body .gi-disclosure__toggle:hover{
    background-color: $grey-5;
    -webkit-tap-highlight-color: transparent;
}

/*5725 Business Board - style top utilities links as teal buttons*/
$businessboard-teal: #16596b;
$header-utilitymenu-color: $businessboard-teal;

.utilitymenu--top .utilitymenu__link,
.utilitymenu--top .utilitymenu__text {
    background-color: $businessboard-teal;
    color: $white;
    border-radius: 15px;
    border: 0;
    font-size: 1rem;
    font-weight: 600;

    &:hover {
        background-color: $businessboard-teal;
        color: $white;
        @extend .btn-hover;
    }
    &:focus {
        background-color: $focus-color;
        color: $black;
        box-shadow: 0 -2px $focus-color, 0 4px $black;
    }
}