@import "global/functions";
@import "variables";

$header-color: #A4A4A4;
$header-text-color: #fff;
$header-utilitymenu-color: #A4A4A4;

$burger-menu-color: #fff;

$breadcrumb-color: #f6f6f6;
$breadcrumb-text-color: #A4A4A4;
$breadcrumb-border-color: #f6f6f6;

$string: "data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24' width='24' viewBox='0 0 24 24' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cg%3E%3Cpath d='M8.59,16.58L13.17,12L8.59,7.41L10,6L16,12L10,18L8.59,16.58Z' fill='%2300235d'/%3E%3C/g%3E%3C/svg%3E";
$string2: str-replace($string, ' ', '%20');

$breadcrumb-chevron: url($string2);

$button-search-background-color: #334f7d;
$search-border-color: #FFFFFF;

$button-panel-color: #A4A4A4;
$button-dark-panel-color: $button-panel-color;

// $footer-background-color: #A4A4A4;
$footer-background-color: linear-gradient(90deg, rgba(4,64,125,1) 0%, rgba(1,35,93,1) 100%);
$footer-color: #fff;
$footer-border-color: #A4A4A4;
 
@import 
"global-import";

@import 
"museums-navbar";

/*
-------------------------------------------------------------------------------------------
2765 - copied from schools.scss for the museums mobile navbar
-------------------------------------------------------------------------------------------
*/

.gi-mobilenav--mobilemenu {
    background: #f2f2f2;}
    .sitemenu__link {
        color: #000;
        text-decoration: none;
        display: none; 
    }
    .submenu__link, .submenu__text, .submenu__link:hover, .sitemenu__link:hover {
        color: #000 !important;
    }

    

    .utilitymenu--mobile .utilitymenu__link, .sitemenu--mobile .sitemenu__link, .sitemenu--mobile .sitemenu__text {
        color: #000 !important;
        &:hover {
            color: #4840E3 !important;
            text-decoration: underline;

        }
    
    }

    .sitemenu__btnimage {
        filter: invert(1);
    }
   
    .sitemenu--mobile .submenu {
        border-bottom: 1px solid #000;
    }


    .utilitymenu--mobile .utilitymenu__item:last-child .utilitymenu__link, .utilitymenu--mobile .utilitymenu__item:last-child .utilitymenu__text {
        border-bottom: 1px solid #000;
    }



/*//3909 - overwrite 2991 changes so that standard and large images display correctly but image captions are now not the same width
.a-body__image .gi-responsiveimage__caption, .a-body__image .gi-responsiveimage {
    display: block;
}*/

@media (max-width: 1300px)
{
    .gi-sitenav__link[aria-haspopup=true]::after {
        
        margin-left: 5px;
    }

    .gi-sitenav__link.gi-sitenav__link--lvl1 {
       
        padding: 12px 12px;
    }

    .gi-sitenav__list.gi-sitenav__list--lvl1 {
        justify-content: space-around;
    }

}

 
@media (max-width: 1050px)
{
    .gi-sitelogo--header {
        flex-wrap: wrap;
    }



#headermainmenu, .utilitymenu--top {
    display: none;
}

.gi-mobilenav--mobilemenu { 
    top: 145px!important; 
  
}

.gi-sitelogo, .gi-sitelogo__link {
   
    width: 280px;
    padding-bottom: 15px;
}

.gi-sitesearch.gi-sitesearch--dynamic.gi-sitesearch--top {
    width: 100%;
    float: left;
}
 

}

.gi-sitesearch--dynamic[data-collapsed=false] .btn--search::after {
    color: #000;
}


@media (min-width: 820px) {

    .gi-sitenav__item--lvl1:nth-child(n+6):not(.gi-sitenav__item--lvl1:last-child), .gi-sitenav__item--lvl2:not(.gi-sitenav__item--lvl2:nth-child(n+6)) {
        display: block;
    }
    
    } 

    /*
-------------------------------------------------------------------------------------------
2765 - museums navbar mobile
-------------------------------------------------------------------------------------------
*/

/*
-------------------------------------------------------------------------------
4086 - Footer
-------------------------------------------------------------------------------
*/

footer.footer {
    position: relative;
    overflow: hidden;
    padding-bottom: 10px;
    
    box-shadow: 0px -110px rgba(0,0,0,0.3) inset;

    .grid--footer>.grid__cell:last-child {
        padding: 30px 0px 0px 10px;
    }
    &::before {
        content: "";
        position: absolute;
        bottom: -20px;
        left: -100px;
        height: calc(100% + 100px);
        width: 200px;
        opacity: 0.7;
        background-color: #021d71;
        transform: rotate(-8deg);
    }

    box-shadow: inset 20px black;
}

footer.footer * {
    color: $white;
}
.utilitymenu--bottom .utilitymenu__link {
    color: $white;
}


  
