@import "global/functions";
@import "chill_variables";

//Header
$header-text-color: $white; // Column_C
$header-utilitymenu-color: #333333; // Column_D
$burger-menu-color: $white; // Column_E

//Breadcrumb
$breadcrumb-color: #DDDDDD; // Column_G
$breadcrumb-text-color: #050505;// $white; // Column_H
$breadcrumb-border-color: #CCCCCC; // Column_I
$breadcrumb-chevron: $breadcrumb-chevron-gray; // Column_J

//Footer
$footer-background-color: $black; // Column_L
$footer-color: $white; // Column_M
$footer-border-color: $black; //Column_N
$footer-first-column-count: 2; //Column_O
$footer-first-column-width: 75%; //Column_P


@import "chill_global-import"; 

/** If the site requires the navigation bar to appear below the search textbox uncomment the line below **/
//@import "global/navbar";

/** If the site is a wide site uncomment the line below **/
//@import "global/wide-sites";


//TODO - move the styles below into their own globals files once the design has been signed off.

//Typography
.a-heading {
    border-bottom: none;
}

//Header
.header__utilities {
    background-color: $white;
}

//Navigation
.gi-sitenav__link.gi-sitenav__link--lvl1:hover {
    color: $white;
    background-color: transparent;
}


//navbar
.header__actions {
    padding: 0px;

    > .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}

//Panels
.template--list .item__title {
    border-bottom: none;
}
