@import "global/functions";
@import "chill_variables";

//Header
$header-text-color: $white; // Column_C
$header-utilitymenu-color: #333333; // Column_D
$burger-menu-color: $white; // Column_E

//Breadcrumb
$breadcrumb-color: #DDDDDD; // Column_G
$breadcrumb-text-color: #050505;// $white; // Column_H
$breadcrumb-border-color: #CCCCCC; // Column_I
$breadcrumb-chevron: $breadcrumb-chevron-gray; // Column_J

//Footer
$footer-background-color: $black; // Column_L
$footer-color: $white; // Column_M
$footer-border-color: $black; //Column_N
$footer-first-column-count: 2; //Column_O
$footer-first-column-width: 75%; //Column_P

//Links
$list-panel-link-color: $link-color;
$list-panel-link-color-hover: $link-color-darken;


@import "chill_global-import"; 

/** If the site requires the navigation bar to appear below the search textbox uncomment the line below **/
//@import "global/navbar";

/** If the site is a wide site uncomment the line below **/
//@import "global/wide-sites";

//TODO - create own chill_misc file and move the below to if it if the other misc styles don't work for chill
.body--hide-title h1.a-heading__title {
    display: block;
    visibility: visible;
    border: 0;
    clip: rect(0 0 0 0);
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}


//TODO - move the styles below into their own globals files once the design has been signed off.

//Typography
.a-heading {
    border-bottom: none;
}

//Header
.header__utilities {
    background-color: $white;
}

//Navigation
.gi-sitenav__link.gi-sitenav__link--lvl1:hover {
    color: $white;
    background-color: transparent;
}


//navbar
.header__actions {
    padding: 0px;

    > .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}

//Panels
.template--list .item__title {
    border-bottom: none;
}

//5519 Chill theme top-utilities - add button stylings
.utilitymenu--top .utilitymenu__item{
    margin-right: 0;
}
.utilitymenu--top .utilitymenu__link{
    background-color: $grey-4;	
    font-size: 1rem;
    text-decoration: none;
    border: 1px solid $grey-4;
    border-radius: 0.3em;
    display: inline-block;
    margin: 0 0 0 0.7em;
    padding: 0.25em 0.7em;
    transition: background 0.3s;
    
    &:hover{
        background-color: $white;
        text-decoration: underline;
    }

    &:focus{
        background-color: $focus-color;
        border: none;
    }

    &:focus:hover{
        text-decoration: none;
    }
}
.utilitymenu__text{
    display: none;
}

//Fa-block links
.a-panel--pt.a-panel--parallax .fa-block .fa-block__content .fa-block__title a{
    color: $link-color;

    &:hover{
        color: $link-color-darken;
    }
}

