@import "global/functions";
@import "variables";

$header-color: #111111;
$header-text-color: #fff;
$header-utilitymenu-color: #111111;

$burger-menu-color: #fff;

$breadcrumb-color: #343a40;
$breadcrumb-text-color: #FFFFFF;
$breadcrumb-border-color: #343a40;
$breadcrumb-chevron: $breadcrumb-chevron-white;

$button-search-background-color: #111111;
$search-border-color: #FFFFFF;

$button-panel-color: #212529;
$button-dark-panel-color: #FFFFFF; 
$button-dark-panel-text-color: #111111;

$footer-background-color: #111111;
$footer-color: #fff;
$footer-border-color: #111111;
 
@import 
"global-import";

@import 
"museums-navbar";


/*
-------------------------------------------------------------------------------------------
2765 - copied from schools.scss for the museums mobile navbar
-------------------------------------------------------------------------------------------
*/

.gi-mobilenav--mobilemenu {
    background: #f2f2f2;}
    .sitemenu__link {
        color: #000;
        text-decoration: none;
        display: none; 
    }
    .submenu__link, .submenu__text, .submenu__link:hover, .sitemenu__link:hover {
        color: #000 !important;
    }

    

    .utilitymenu--mobile .utilitymenu__link, .sitemenu--mobile .sitemenu__link, .sitemenu--mobile .sitemenu__text {
        color: #000 !important;
        &:hover {
            color: #4840E3 !important;
            text-decoration: underline;

        }
    
    }

    .sitemenu__btnimage {
        filter: invert(1);
    }
   
    .sitemenu--mobile .submenu {
        border-bottom: 1px solid #000;
    }


    .utilitymenu--mobile .utilitymenu__item:last-child .utilitymenu__link, .utilitymenu--mobile .utilitymenu__item:last-child .utilitymenu__text {
        border-bottom: 1px solid #000;
    }



@media (max-width: 1300px)
{
    .gi-sitenav__link[aria-haspopup=true]::after {
        
        margin-left: 5px;
    }

    .gi-sitenav__link.gi-sitenav__link--lvl1 {
       
        padding: 12px 12px;
    }

    .gi-sitenav__list.gi-sitenav__list--lvl1 {
        justify-content: space-around;
    }

}

 
@media (max-width: 1050px)
{
    .gi-sitelogo--header {
        flex-wrap: wrap;
    }



#headermainmenu, .utilitymenu--top {
    display: none;
}

.gi-mobilenav--mobilemenu { 
    top: 112px!important; 
  
}

.gi-sitelogo, .gi-sitelogo__link {
   
    width: 280px;
    padding-bottom: 15px;
}

.gi-sitesearch.gi-sitesearch--dynamic.gi-sitesearch--top {
    width: 100%;
    float: left;
}
 

}

.gi-sitesearch--dynamic[data-collapsed=false] .btn--search::after {
    color: #000;
}


@media (min-width: 820px) {

    .gi-sitenav__item--lvl1:nth-child(n+6):not(.gi-sitenav__item--lvl1:last-child), .gi-sitenav__item--lvl2:not(.gi-sitenav__item--lvl2:nth-child(n+6)) {
        display: block;
    }
    
    } 

    /*
-------------------------------------------------------------------------------------------
2765 - museums navbar mobile
-------------------------------------------------------------------------------------------
*/


//Object page
.template--collectionsobject {

    .dialog__header {
        display: none;
    }

    .imagegalleryinline {
        background-color: #000;

        .grid--imagegalleryinline {
            padding: 1.5rem 0;
        }

        .imagegalleryinline__button, .imagegalleryinline__link {
            background-color: #000;
            overflow: hidden;
        }

        //View gallery button
        .gallery {
            position: absolute;
            top: 20px;
            left: 20px;
            border: solid #212529 3px;
            border-radius: 6px;
            padding: 8px 20px;
            background-color: #f8f9fa;
            color: #212529;
            font-weight: 600;
        }

        .grid__cell:first-child button {
            &:hover
            {
                .gallery {
                    text-decoration: underline;
                }
            }

            &:focus
            {
                .gallery {
                    background-color: #ffdd00;
                    border-color: #0b0c0c;
                    outline: none;
                    color: #0b0c0c;
                    text-decoration: underline;
                }
            }
        }

        img.imagegallery {
            object-fit: cover;
            width: 100%;
            height: 100%;
        }

        //default image styles
        .grid--imagegalleryinline {
            .imagegalleryinline__button, .imagegalleryinline__link {
                height: 500px;
            }
        }

        //1 image
        .grid--imagegalleryinline.grid--items1 {
            .grid__cell {
                width: 100%;

                .grid__cellwrap {
                    aspect-ratio: auto;
                }

                button {
                    border-radius: 15px;
                }
            }
        }

        //2 images
        .grid--items2 {
            .grid__cell:first-child button {
                border-radius: 15px 0px 0px 15px;
            }

            .grid__cell:last-child button {
                border-radius: 0px 15px 15px 0px;
            }
        }

        //3 images
        .grid--items3 {
            .grid__cell {
                width: 33.33%;
            }
            .grid__cell:first-child button {
                border-radius: 15px 0px 0px 15px;
            }

            .grid__cell:last-child button {
                border-radius: 0px 15px 15px 0px;
            }
        }

        //4 images
        .grid--items4 {
            .grid__cell {
                width: 50%;
                .grid__cellwrap {
                    aspect-ratio: auto;
                }
            }

            .imagegalleryinline__button, .imagegalleryinline__link {
                height: 250px;
            }
            .grid__cell:first-child button {
                border-radius: 15px 0px 0px 0px;
            }
            .grid__cell:nth-child(2) button {
                border-radius: 0px 15px 0px 0px;
            }
            .grid__cell:nth-child(3) button {
                border-radius: 0px 0px 0px 15px;
            }
            .grid__cell:last-child button {
                border-radius: 0px 0px 15px 0px;
            }
        }

        //5 images
        .grid--items5 {
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: repeat(2, 1fr);
            grid-gap: 10px;
            display: grid;

            .imagegalleryinline__button, .imagegalleryinline__link {
                height: 245px;
            }

            .grid__cell {
                display: grid;
                width: 100%;
                padding: 0px;
            }

            .grid__cell:first-child {
                grid-column-start: 1;
                grid-column-end: 3;
                grid-row-start: 1;
                grid-row-end: 3;
                button {
                    border-radius: 15px 0px 0px 15px;
                }

                .imagegalleryinline__button, .imagegalleryinline__link {
                    height: 500px;
                }
            }

            .grid__cell:nth-child(2) {
                grid-column-start: 3;
                grid-column-end: 4;
                grid-row-start: 1;
                grid-row-end: 2;
            }

            .grid__cell:nth-child(3) {
                grid-column-start: 4;
                grid-column-end: 5;
                grid-row-start: 1;
                grid-row-end: 2;
                button {
                    border-radius: 0px 15px 0px 0px;
                }
            }

            .grid__cell:nth-child(4) {
                grid-column-start: 3;
                grid-column-end: 4;
                grid-row-start: 2;
                grid-row-end: 3;
            }

            .grid__cell:nth-child(5) {
                grid-column-start: 4;
                grid-column-end: 5;
                grid-row-start: 2;
                grid-row-end: 3;
                button {
                    border-radius: 0px 0px 15px 0px;
                }
            }

        }


        @media only screen and (max-width: 850px) {
            .grid--imagegalleryinline, .grid--items5 .grid__cell:first-child {
                .imagegalleryinline__button, .imagegalleryinline__link {
                    height: 250px;
                }
                .grid__cellwrap {
                    aspect-ratio: auto;
                }
            }

            .grid--imagegalleryinline {
                .grid__cell {
                    width: 100%;
                }
                &.grid--items2, &.grid--items3, &.grid--items4, &.grid--items5 {
                .grid__cell:first-child button {
                
                    border-radius: 15px;
                }}
                .grid__cell:not(:first-child) {
                    display: none;
                }      
            }

            .grid--items5 {
                display: block;
            }
        }      
    }


    .collectionsitem__heading {
        padding-top: 20px;
    }
 
    .collectionsitem__title--description {
        font-weight: bold;
    }

    .collectionsitem__description {
        .gi-disclosure {
            display: flex;
            flex-direction: column-reverse;
        }
        .gi-disclosure__content {
            padding: 0px;
        }

        .gi-disclosure__toggle {
            width: fit-content;
            margin-left: auto;
            padding: 5px 20px 5px 55px;
            border: solid #212529 2px;
            border-radius: 6px;
            margin-bottom: 5px;

            p {
                margin: 0px;
            }
        }

        //Read more/Show less
        button[aria-expanded="false"]::before {
            content: "Read more";
        }
        button[aria-expanded="true"]::before {
            content: "Show less";
        }      
        button p {
            display: none;
        }
        
    }

    .collectionsitem__details {
        border-top: dotted #495057 2px;

        div {
            border-bottom: dotted #495057 2px;
            padding: 30px 0px;
            display: flex;
        }

        span.nvp__label.nvp__label--collections {
            width: 200px;
            display: inline-block;
        }

        span.nvp__value.nvp__value--collections {
            &.nvp__value--materials, &.nvp__value--department {
                box-sizing: border-box;
                border: solid #D14130 2px;
                border-radius: 6px;
                padding: 10px 30px;
                margin: -10px 0px;
            } 
        }

        @media only screen and (max-width: 576px) {
            .collectionsitem__detail {
                display: block;
            }

            span.nvp__label.nvp__label--collections {
                display: block;
            }

            span.nvp__value.nvp__value--collections {
                &.nvp__value--materials, &.nvp__value--department { 
                    margin-top: 10px;
                    display: inline-block;
                }
            }
        } 
    }

    //End of Object page


}