@import "global/functions";
@import "variables";

$header-color: #111111;
$header-text-color: #fff;
$header-utilitymenu-color: #111111;

$burger-menu-color: #fff;

$breadcrumb-color: #343a40;
$breadcrumb-text-color: #FFFFFF;
$breadcrumb-border-color: #343a40;
$breadcrumb-chevron: $breadcrumb-chevron-white;

$button-search-background-color: #111111;
$search-border-color: #FFFFFF;

$button-panel-color: #212529;
$button-dark-panel-color: #FFFFFF; 
$button-dark-panel-text-color: #111111;

$footer-background-color: #111111;
$footer-color: #fff;
$footer-border-color: #111111;
 
@import 
"global-import";

@import 
"museums-navbar";


/*
-------------------------------------------------------------------------------------------
2765 - copied from schools.scss for the museums mobile navbar
-------------------------------------------------------------------------------------------
*/

.gi-mobilenav--mobilemenu {
    background: #f2f2f2;}
    .sitemenu__link {
        color: #000;
        text-decoration: none;
        display: none; 
    }
    .submenu__link, .submenu__text, .submenu__link:hover, .sitemenu__link:hover {
        color: #000 !important;
    }

    

    .utilitymenu--mobile .utilitymenu__link, .sitemenu--mobile .sitemenu__link, .sitemenu--mobile .sitemenu__text {
        color: #000 !important;
        &:hover {
            color: #4840E3 !important;
            text-decoration: underline;

        }
    
    }

    .sitemenu__btnimage {
        filter: invert(1);
    }
   
    .sitemenu--mobile .submenu {
        border-bottom: 1px solid #000;
    }


    .utilitymenu--mobile .utilitymenu__item:last-child .utilitymenu__link, .utilitymenu--mobile .utilitymenu__item:last-child .utilitymenu__text {
        border-bottom: 1px solid #000;
    }

/*
-------------------------------------------------------------------------------------------
3469 - Museums site nav menu bug - tablet screen size menu disappears
-------------------------------------------------------------------------------------------
*/

/* Ensuring sitenav visibility on screens 1024px and larger */
@media (min-width:1024px) and (max-width: 1300px)//added min-width: 1024px
{
    .gi-sitenav__link[aria-haspopup=true]::after {
        
        margin-left: 5px;
    }

    .gi-sitenav__link.gi-sitenav__link--lvl1 {
       
        padding: 12px 12px;
    }

    .gi-sitenav__list.gi-sitenav__list--lvl1 {
        display: flex;/* Provides navigation display */
        justify-content: space-around;
    }

    .header__menu .utilitymenu--top {
        display: block; /* Displaying the top menu */
    }

    .gi-mobilenavtoggle.gi-mobilenavtoggle--mobilemenu {
        display: none; /* Hide the mobile toggle for screens 1024px+ */
    }

}

 
/*@media (max-width: 1050px)
{
    .gi-sitelogo--header {
        flex-wrap: wrap;
    }*/
/* For screens smaller than 900px, mobile view is applied */
@media (max-width: 900px) {
    .gi-mobilenavtoggle.gi-mobilenavtoggle--mobilemenu {
        display: block;
        top: 20px;
    }
    
    #headermainmenu, .header__menu .utilitymenu--top {
        display: none; /* Hide the main menu and utility menu on mobile devices */
    }
       
    .gi-sitenav__list.gi-sitenav__list--lvl1 {
        display: none; /* Hide navigation on mobile phones */
    }
}



/*#headermainmenu, .utilitymenu--top {
    display: none;
}

.gi-mobilenav--mobilemenu { 
    top: 112px!important; 
  
}

.gi-sitelogo, .gi-sitelogo__link {
   
    width: 280px;
    padding-bottom: 15px;
}

.gi-sitesearch.gi-sitesearch--dynamic.gi-sitesearch--top {
    width: 100%;
    float: left;
}
 

}

.gi-sitesearch--dynamic[data-collapsed=false] .btn--search::after {
    color: #000;
}*/


@media (min-width: 820px) {

    .gi-sitenav__item--lvl1:nth-child(n+6):not(.gi-sitenav__item--lvl1:last-child), .gi-sitenav__item--lvl2:not(.gi-sitenav__item--lvl2:nth-child(n+6)) {
        display: block;
    }
    
    } 

    /*
-------------------------------------------------------------------------------------------
2765 - museums navbar mobile
-------------------------------------------------------------------------------------------
*/


/*
-------------------------------------------------------------------------------------------
Collections homepage
-------------------------------------------------------------------------------------------
*/
.a-panel--collections {

    @media (min-width: 990px) {
        &.a-panel--pt.a-panel--hasbackground>.container {
            padding: 80px;
        }
    }

    &.a-panel--pt.a-panel--centred-content.a-panel--hasbackground {
        .a-panel__content {
            padding: 40px;
        }

        .a-panel__title {
            margin: 40px 0;
        }
    }

    .a-panel__search {
        .gi-sitesearch__searchfield {
            width: calc(100% - 125px);
        }
        .gi-sitesearch__searchtoggle {
            width: auto;
        }
        button.btn.btn--search.gi-sitesearch__button.gi-sitesearch__button--search, 
        button.btn.btn--search.gi-sitesearch__button.gi-sitesearch__button--search:hover {
            background-color: #212529;
            border-radius: 0px 4px 4px 0px;
            border: 1px solid #212529;
        }
        .gi-sitesearch__button {
            width: 125px;
        }
    }

    @media (max-width: 990px) {
        &.a-panel.a-panel--pt.a-panel--render.a-panel--hasbackground {
            height: 300px;
            display: flex;
            padding: 0px 5%;
        
            .a-panel__content {
                padding: 30px 10px;
            }

            .a-panel__title {
                margin: 0 0 20px 0;
                font-size: calc(1.375rem + 1.5vw);
            }
        }
        .container {
            display: flex;
            padding: 0px 5%;
            width: 100%;
            
            .a-panel__content {
                margin: auto;
            }
        }   
    }

}
/*
-------------------------------------------------------------------------------------------
End of Collections homepage
-------------------------------------------------------------------------------------------
*/

/*
-------------------------------------------------------------------------------------------
Search page
-------------------------------------------------------------------------------------------
*/
.template--collections {

    .a-panel__search {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .a-panel__search--pt.a-panel__search--hasbackground .a-panel__content {
        text-align: center;
        width: 100%;
        clear: both;
        color: #000;
        background-color: #fff;
    }
    .gi-sitesearch__searchfield {
        width: calc(100% - 125px);
    }
    .gi-sitesearch__searchtoggle { 
        width: auto;
    }

    .gi-sitesearch--collectionssearch {
        
        .gi-sitesearch__button {
            width: 125px;
        }
        button.btn.btn--search.gi-sitesearch__button.gi-sitesearch__button--search, 
        button.btn.btn--search.gi-sitesearch__button.gi-sitesearch__button--search:hover {
            background-color: #212529;
            border-radius: 0px 4px 4px 0px;
            border: 1px solid #212529;
        }
    }

    .icmform {
        margin: 0px;
    }

    .searchsummary {
        background-color: #212521;
        color: #FFFFFF;

        h2 {
            color: #FFFFFF;
        }
    }

    .a-panel__search--collections .container {
        padding: 80px
    }

    .searchsummary__check.searchsummary__check--images {
        margin-bottom: 15px;
    }

    //Toggle filters
    /*.icmsinglecheckbox input {
        background-position: right center;
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgba%280, 0, 0, 0.25%29'/%3e%3c/svg%3e");
        width: 2em;
        margin-left: -2.5em;
        border-radius: 2em;
        transition: background-position .15s ease-in-out;
        float: left;
        height: 1em;
        margin-top: .25em;
        vertical-align: top;
        background-repeat: no-repeat;
        background-color: #FFFFFF;
        background-size: contain;
        border: 1px solid rgba(0, 0, 0, .25);
        appearance: none;
        -webkit-print-color-adjust: exact;
    }

    .icmsinglecheckbox input:checked {
        background-position: right center;
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgba(255, 255, 255, 1)'/%3e%3c/svg%3e");
        background-color: #0d6efd;
        border-color: #0d6efd;
    }*/

    //Filter menus
    .collectionssearch__filters { 
        
        .gi-disclosure__toggle {
            border-radius: 6px;
            border: 2px solid #050505;
            width: 95%;
            background-color: #FFFFFF;
            padding: 10px 55px 10px 20px;

            &:hover {
                background-color: #e6e6e6;
            }

            &:focus, &.filter-selected {
                background-color: #fd0;
            }
        }

        .gi-disclosure__toggle::after {
            right: 20px;
            left: auto;
        }

        .gi-disclosure--collectionsfilter .gi-disclosure__content {
            max-height: 275px;
            overflow-y: scroll;
            border: 2px solid #050505;
            border-radius: 6px;
            padding: 0px;
        }

        .searchfilter__search {
            justify-content: center;
            position: sticky;
            padding: 20px;
            top: 0;
            z-index: 1000;
            background-color: #FFFFFF;
            box-shadow: 0px 2px 25px 0px black;
            border-bottom: solid 1px #adb5bd;
        }

        .searchfilter__wrapper {
            label {
                display: inline-flex;
                flex-direction: row-reverse;
            }

            input[type="checkbox"] {
                margin: 4px;
                background-color: #212529;
                border: solid #f8f9fa 2px;
                min-width: 24px;
                min-height: 24px;
                border-radius: .25em;
            }
        }

        .searchfilter__control {
            display: flex;
            justify-content: space-between;
            align-items: baseline;
            padding: 10px;
            margin: 0;
            width: 100%;
            position: sticky;
            bottom: 0px;
            border-top: solid 1px #adb5bd;
            background-color: #FFFFFF;
            box-shadow: 0px -2px 25px 0px #000000;

            .btn {
                margin: 0px;
            }

            #filter-clear-searchinput-toggleDepartment,
            #filter-clear-searchinput-toggleLocation, 
            #filter-clear-searchinput-toggleArtistMaker {
                background-color: #FFFFFF;
                color: #000000;
            }
            #filter-apply-searchinput-toggleDepartment, 
            #filter-apply-searchinput-toggleLocation,
            #filter-apply-searchinput-toggleArtistMaker {
                background-color: #212521;
                color: #FFFFFF;
            }
        }
    }

    //Grid/List view buttons
    .grid__cellwrap:has(#view-grid) {
        text-align: right;
    }

    button#view-grid, button#view-list {
        padding-left: 50px;
        color: #000000;
        background-color: #FFFFFF;
        border: 2px solid #050505;
        min-height: 44px;
        margin: 0 0px 10px 10px;

        &::before {
            content: "";
            width: 20px;
            height: 20px;
            background-position: top;
            background-repeat: no-repeat;
            background-size: contain;
        }

        &:focus {
            background-color: #fd0;
        }
    }

    $grid-black: "data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cg%3E%3Cpath d='M0 10.6667H10.6667V0H0V10.6667ZM0 24H10.6667V13.3333H0V24ZM13.3333 24H24V13.3333H13.3333V24ZM13.3333 0V10.6667H24V0' fill='black'/%3E%3C/g%3E%3C/svg%3E";
    $grid-black-str: str-replace($grid-black, ' ', '%20');
    button#view-grid::before {
        background-image: url($grid-black-str);
    }

    $list-black: "data:image/svg+xml,%3csvg width='28' height='22' viewBox='0 0 28 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg%3E%3Cpath d='M0.666504 13.6666H8.6665V21.6666H0.666504V13.6666ZM19.3332 5.66658H11.3332V8.33325H19.3332V5.66658ZM0.666504 8.33325H8.6665V0.333252H0.666504V8.33325ZM11.3332 0.333252V2.99992H27.3332V0.333252H11.3332ZM11.3332 21.6666H19.3332V18.9999H11.3332V21.6666ZM11.3332 16.3333H27.3332V13.6666H11.3332' fill='black'/%3E%3C/g%3E%3C/svg%3E";
    $list-black-str: str-replace($list-black, ' ', '%20');
    button#view-list::before {
        background-image: url($list-black-str);
    }

    $grid-white: "data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cg%3E%3Cpath d='M0 10.6667H10.6667V0H0V10.6667ZM0 24H10.6667V13.3333H0V24ZM13.3333 24H24V13.3333H13.3333V24ZM13.3333 0V10.6667H24V0' fill='white'/%3E%3C/g%3E%3C/svg%3E";
    $grid-white-str: str-replace($grid-white, ' ', '%20');
    $list-white: "data:image/svg+xml,%3csvg width='28' height='22' viewBox='0 0 28 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg%3E%3Cpath d='M0.666504 13.6666H8.6665V21.6666H0.666504V13.6666ZM19.3332 5.66658H11.3332V8.33325H19.3332V5.66658ZM0.666504 8.33325H8.6665V0.333252H0.666504V8.33325ZM11.3332 0.333252V2.99992H27.3332V0.333252H11.3332ZM11.3332 21.6666H19.3332V18.9999H11.3332V21.6666ZM11.3332 16.3333H27.3332V13.6666H11.3332' fill='white'/%3E%3C/g%3E%3C/svg%3E";
    $list-white-str: str-replace($list-white, ' ', '%20');
    .collectionssearch:has(.collectionssearch__results--grid) button#view-grid, 
    .collectionssearch:has(.collectionssearch__results--list) button#view-list {
        background-color: #212521;
        color: #FFFFFF;
        &:focus {
            background-color: #fd0;
            color: #000000;
        }
    }

    .collectionssearch:has(.collectionssearch__results--grid) button#view-grid::before {
        background-image: url($grid-white-str);
    }

    .collectionssearch:has(.collectionssearch__results--grid) button#view-grid:focus::before {
            background-image: url($grid-black-str);
    }

    .collectionssearch:has(.collectionssearch__results--list) button#view-list::before {
        background-image: url($list-white-str);
    }

    .collectionssearch:has(.collectionssearch__results--list) button#view-list:focus::before {
            background-image: url($list-black-str);
    }

    //Search cards
    .collection-preview {
        box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
        border: none;
        border-radius: 10px;
        overflow: hidden;
        background-color: #212529;

        &:hover, &:focus-within {
            img {
                transform: scale(1.1);
                @include ani;
            }
        }

        &:focus-within {
            border: solid 4px #FFDD00;
        }
    }

    .collection-preview__title {
        margin-bottom: 0.5rem;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        color: white;
    
        a {
            color: #FFFFFF;
            &:hover {
                color: #FFFFFF;
            }
        }
    }

    .collection-preview__detail {
        color: #adb5bd;
    }

    //Cards - grid view
    .collectionssearch__results--grid {
        
        .collection-preview {
            max-height: 300px;
            display: flex;
            margin-bottom: 0px;
            flex-direction: column;
        }

        .collection-preview__imagecontainer {
            overflow: hidden;
            height: 150px;
        }

        .collection-preview__image {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }

        .collection-preview__title {
            height: 50px;
        }

        .collection-preview__details {
            min-height: 47px;
            p {
                line-height: 24px;
            }
        }

        .collection-preview__detail--i18ngicollectionsattributeaccession, 
        .collection-preview__detail--i18ngicollectionsattributelocation, 
        .collection-preview__detail--i18ngicollectionsattributematerial
        , .collection-preview__detail--i18ngicollectionsattributedepartment 
        {
            display: none;
        }

        .collection-preview__detail--i18ngicollectionsattributeartist, 
        .collection-preview__detail--i18ngicollectionsattributedate {
            font-weight: 600;
            font-size: 1.125rem;
            color: #adb5bd;
            margin: 0;
        }
        
    }

    //Cards - list view
    .collectionssearch__results--list {

        .collection-preview {
            transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
            max-height: 150px;
            min-height: 150px;

            @media (max-width: 700px) {
                max-height: none;
            }

            .collection-preview__image {
                width: 100%;
            }

            .collection-preview__details {
                display: inline-flex;

                @media (max-width: 700px) {
                    flex-direction: column;
                    align-items: baseline;
                }
            }
        }
       
        .collection-preview__detail {
            display: block;
            margin-left: 60px;
            margin-top: 10px;
            margin-bottom: auto;

            @media (max-width: 700px) {
                margin-left: 0px;
            }

            &.collection-preview__detail--i18ngicollectionsattributedepartment 
            {
                display: none;
            }
        }

        .collection-preview__detail--i18ngicollectionsattributeaccession {
            margin-left: 0;
            background-color: #1a1a1a;
            color: #f8f9fa;
            padding: 6px 10px;
            border-radius: 6px;
        }
    }

    //Pagination text colour
    .paging__item--disabled .paging__text {
        color: #000000;
    }

    @media (max-width: 990px) {
        //Search panel
        .a-panel__search--collections {
            .container {
                height: 300px;
                display: flex;
                padding: 0px 5%;
            }    
            .a-heading__title {
                margin: 0 0 20px 0;
                font-size: calc(1.375rem + 1.5vw);
            }
        }

        //filters
        .collectionssearch__filters { 

            .gi-disclosure__content--i18ngicollectionsinputdepartmentheading {
                z-index: 3;
            }
            .gi-disclosure__content--i18ngicollectionsinputlocationheading {
                z-index: 2;
            }
            .gi-disclosure__content--i18ngicollectionsinputartistheading {
                z-index: 1;
            }
            
            .grid {
                display: flex;
                flex-direction: column-reverse;
            }

            .grid__cellwrap:has(#view-grid) {
                text-align: left;
            }

            .grid__cellwrap {
                margin-bottom: 10px;
            }

            .grid--3col:first-child {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
            }

            .grid__cell.grid__cell--cols2 {
                width: 100%;
            }

            .grid--3col>.grid__cell, 
            .grid--3col>.grid__cell--cols2 {
                min-width: 240px;
            }

            button#view-grid, button#view-list {
                margin: 0 10px 10px 0;
            }
        }
    }

}
/*
-------------------------------------------------------------------------------------------
End of search page
-------------------------------------------------------------------------------------------
*/

/*
-------------------------------------------------------------------------------------------
Object page
-------------------------------------------------------------------------------------------
*/
.template--collectionsobject {

    .dialog__header {
        display: none;
    }

    .imagegalleryinline {
        background-color: #000;

        .grid--imagegalleryinline {
            padding: 1.5rem 0;
        }

        .imagegalleryinline__button, .imagegalleryinline__link {
            background-color: #000;
            overflow: hidden;
        }

        //View gallery button
        .gallery {
            position: absolute;
            top: 20px;
            left: 20px;
            border: solid #212529 3px;
            border-radius: 6px;
            padding: 8px 20px;
            background-color: #f8f9fa;
            color: #212529;
            font-weight: 600;
        }

        .grid__cell:first-child button {
            &:hover
            {
                .gallery {
                    text-decoration: underline;
                }
            }

            &:focus
            {
                .gallery {
                    background-color: #ffdd00;
                    border-color: #0b0c0c;
                    outline: none;
                    color: #0b0c0c;
                    text-decoration: underline;
                }
            }
        }

        img.imagegallery {
            object-fit: cover;
            width: 100%;
            height: 100%;
        }

        //default image styles
        .grid--imagegalleryinline {
            .imagegalleryinline__button, .imagegalleryinline__link {
                height: 500px;
            }
        }

        //1 image
        .grid--imagegalleryinline.grid--items1 {
            .grid__cell {
                width: 100%;

                .grid__cellwrap {
                    aspect-ratio: auto;
                }

                button {
                    border-radius: 15px;
                }
            }
        }

        //2 images
        .grid--items2 {
            .grid__cell:first-child button {
                border-radius: 15px 0px 0px 15px;
            }

            .grid__cell:last-child button {
                border-radius: 0px 15px 15px 0px;
            }
        }

        //3 images
        .grid--items3 {
            .grid__cell {
                width: 33.33%;
            }
            .grid__cell:first-child button {
                border-radius: 15px 0px 0px 15px;
            }

            .grid__cell:last-child button {
                border-radius: 0px 15px 15px 0px;
            }
        }

        //4 images
        .grid--items4 {
            .grid__cell {
                width: 50%;
                .grid__cellwrap {
                    aspect-ratio: auto;
                }
            }

            .imagegalleryinline__button, .imagegalleryinline__link {
                height: 250px;
            }
            .grid__cell:first-child button {
                border-radius: 15px 0px 0px 0px;
            }
            .grid__cell:nth-child(2) button {
                border-radius: 0px 15px 0px 0px;
            }
            .grid__cell:nth-child(3) button {
                border-radius: 0px 0px 0px 15px;
            }
            .grid__cell:last-child button {
                border-radius: 0px 0px 15px 0px;
            }
        }

        //5 images
        .grid--items5 {
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: repeat(2, 1fr);
            grid-gap: 10px;
            display: grid;

            .imagegalleryinline__button, .imagegalleryinline__link {
                height: 245px;
            }

            .grid__cell {
                display: grid;
                width: 100%;
                padding: 0px;

                .grid__cellwrap {
                    aspect-ratio: auto;
                }
            }

            .grid__cell:first-child {
                grid-column-start: 1;
                grid-column-end: 3;
                grid-row-start: 1;
                grid-row-end: 3;
                button {
                    border-radius: 15px 0px 0px 15px;
                }

                .imagegalleryinline__button, .imagegalleryinline__link {
                    height: 500px;
                }
            }

            .grid__cell:nth-child(2) {
                grid-column-start: 3;
                grid-column-end: 4;
                grid-row-start: 1;
                grid-row-end: 2;
            }

            .grid__cell:nth-child(3) {
                grid-column-start: 4;
                grid-column-end: 5;
                grid-row-start: 1;
                grid-row-end: 2;
                button {
                    border-radius: 0px 15px 0px 0px;
                }
            }

            .grid__cell:nth-child(4) {
                grid-column-start: 3;
                grid-column-end: 4;
                grid-row-start: 2;
                grid-row-end: 3;
            }

            .grid__cell:nth-child(5) {
                grid-column-start: 4;
                grid-column-end: 5;
                grid-row-start: 2;
                grid-row-end: 3;
                button {
                    border-radius: 0px 0px 15px 0px;
                }
            }

        }


        @media only screen and (max-width: 850px) {
            .grid--imagegalleryinline, .grid--items5 .grid__cell:first-child {
                .imagegalleryinline__button, .imagegalleryinline__link {
                    height: 250px;
                }
                .grid__cellwrap {
                    aspect-ratio: auto;
                }
            }

            .grid--imagegalleryinline {
                .grid__cell {
                    width: 100%;
                }
                &.grid--items2, &.grid--items3, &.grid--items4, &.grid--items5 {
                .grid__cell:first-child button {
                
                    border-radius: 15px;
                }}
                .grid__cell:not(:first-child) {
                    display: none;
                }      
            }

            .grid--items5 {
                display: block;
            }
        }      
    }


    .collectionsitem__heading {
        padding-top: 20px;
    }
 
    .collectionsitem__title--description {
        font-weight: bold;
    }

    .collectionsitem__description {
        .gi-disclosure {
            display: flex;
            flex-direction: column-reverse;
        }
        .gi-disclosure__content {
            padding: 0px;
        }

        .gi-disclosure__toggle {
            width: fit-content;
            margin-left: auto;
            padding: 5px 20px 5px 55px;
            border: solid #212529 2px;
            border-radius: 6px;
            margin-bottom: 5px;

            p {
                margin: 0px;
            }
        }

        //Read more/Show less
        button[aria-expanded="false"]::before {
            content: "Read more";
        }
        button[aria-expanded="true"]::before {
            content: "Show less";
        }      
        button p {
            display: none;
        }
        
    }

    .collectionsitem__details {
        border-top: dotted #495057 2px;

        div {
            border-bottom: dotted #495057 2px;
            padding: 30px 0px;
            display: flex;
        }

        span.nvp__label.nvp__label--collections {
            width: 200px;
            display: inline-block;
        }

        span.nvp__value.nvp__value--collections {
            &.nvp__value--materials, &.nvp__value--department {
                box-sizing: border-box;
                border: solid #D14130 2px;
                border-radius: 6px;
                padding: 10px 30px;
                margin: -10px 0px;
            } 
        }

        @media only screen and (max-width: 576px) {
            .collectionsitem__detail {
                display: block;
            }

            span.nvp__label.nvp__label--collections {
                display: block;
            }

            span.nvp__value.nvp__value--collections {
                &.nvp__value--materials, &.nvp__value--department { 
                    margin-top: 10px;
                    display: inline-block;
                }
            }
        } 
    }
}
/*
-------------------------------------------------------------------------------------------
End of object page
-------------------------------------------------------------------------------------------
*/


/* HOTFIX - Layout fix for search bar (3401)  */

.a-panel__search form.gi-sitesearch.gi-sitesearch--collectionssearch .gi-sitesearch__container {
    display: flex;

    .gi-sitesearch__searchfield {
        width: 100%;
    }
    .gi-sitesearch__searchtoggle {
        width: auto;
    }

    &::after {
        display: none;
    }
}
