//Variables
$black: #050505;
$white: #FFFFFF;
$blue: #005ea5;
$focus-color: #fd0;
$link-color-darken: darken($blue, 20% );


/*-----------------------------------------------
4632 - Text links state indicator standardisation
-------------------------------------------------*/
@mixin a-link-hover {
    color: $link-color-darken;
    text-decoration: underline;
    -webkit-text-decoration-skip-ink: none;
    text-decoration-skip-ink: none;
    text-underline-offset: .1578em;
}
      
%a-link-hover {
    @include a-link-hover;
}

@mixin a-link-underline-hover {
    color: $link-color-darken;
    text-decoration: underline;
    text-decoration-thickness: max(3px, 0.1875rem, 0.12em);
    -webkit-text-decoration-skip-ink: none;
    text-decoration-skip-ink: none;
    text-underline-offset: .1578em;
}
      
%a-link-underline-hover {
    @include a-link-underline-hover;
}

@mixin a-link-focus {
    color: $black;
    background: $focus-color;
    outline: 3px solid rgba(0,0,0,0);
    box-shadow: 0 -4px $focus-color, 0 4px $black;
    text-decoration: none;
    border-color: $focus-color;
}

%a-link-focus {
    @include a-link-focus;
}

a, .icmform .btn--link, .btn--contrast, .btn--reset, .gi-disclosure__toggle
{
    &:hover {
        @extend %a-link-hover;
    }
    &:focus {
        @extend %a-link-focus;
    }
}

*[tabindex], .icmform input[type=button], .icmform input[type=button].icminput--contrast, .gi-case .btn--case, .cta-link {
    &:focus {
        @extend %a-link-focus;
    }
}

.header__utilities .utilitymenu__link:focus {
    text-decoration: none;
    &:hover {
        text-decoration: none;
    }
}

.gi-articletreeview__item:focus>.gi-articletreeview__link {
    @extend %a-link-focus;
    &:hover {
        text-decoration: none;
    }
}

.gi-breadcrumb__link {
    &:focus {
        line-height: normal;
    }
}

.datatable__sort, .datatable--assignedtasks a:not(.cta-link--contrast), .datatable--claimabletasks a:not(.cta-link--contrast), 
.casesearch__postfilters .btn--pill, .gi-case .btn--case, .icmform .a-link--changeall {
    &:hover {
        @extend %a-link-underline-hover;
        &:focus {
            text-decoration: none;
        }
    }
}

.btn--reset:hover, .block--selfservice .cta-link--viewall:hover {
    color: $black;
}

.cta-link--selfservicedetails.cta-link--assigned, .cta-link--selfservicedetails.cta-link--claimanddo,
.datatable .cta-link--contrast, .btn--contrast
{
    &:hover {
        color: $white;
        &:focus {
            color: $black;
        }
    }
}

.bygoss__link, .utilitymenu--footer .utilitymenu__link {
    &:focus {
        color: $black;
        text-decoration: none;
    }
}

.menu__block {
    &:hover {
        .block__title {
            text-decoration: underline;
        }
        &:focus {
            background-color: $focus-color;
            .block__title {
                text-decoration: none;
            }
        }
    }

    &:focus .block__title {
        color: $black;
    }
}

.related-articles .item__title .item__link, .related-articles .item__sublink--list, .template--list .item__link {
    display: inline;
    line-height: normal;
    &:focus {
        box-shadow: 0 -6px #fd0,0 4px #050505;
        &:hover {
            text-decoration: none;
        }  
    }
}

.related-articles .item__sublinks li {
    margin-bottom: 5px;
}

.item__sublink {
    &:focus:hover {
        text-decoration: none;
    }
}

.gi-articletreeview__link, .cta-link--selfservicedetails.cta-link--unclaim, .cta-link--selfservicedetails.cta-link--claim {
    &:hover {
        color: $black;
    }
    &:focus {
        text-decoration: none;
    }
}

input:focus, select:focus, textarea:focus, .chosen-container-active .chosen-single, .chosen-container-active .chosen-choices {
    outline-color: $focus-color;
}

/*------------------------------------------------------
End of 4632 - Text links state indicator standardisation
--------------------------------------------------------*/

/* 3454 */
.warning {
    font-weight: bold;
    padding: 10px 0px;
}