/* 3454 */
.warning {
    font-weight: bold;
    padding: 10px 0px;
}

/*================================================
4672 CSH - "Share this page" element display:none
================================================*/
.a-share{
    display: none;
}

/*=====================================================
4873 MM to hide related assets links - CSH
=====================================================*/
.body--hide-related-assets{
  .relateditem{
      display:none;
    }
  }
  /*=====================================================
                            End
  =====================================================*/