@import "global/functions";
@import "variables";

$header-color: $museum-primary-color-elizabethan-house-greatyarmouth;
$header-text-color: #fff;
$header-utilitymenu-color: $museum-primary-color-elizabethan-house-greatyarmouth;
$header-menu-text-color-hover: $museum-primary-color-elizabethan-house-greatyarmouth;

$burger-menu-color: #fff;

$breadcrumb-color: #f6f6f6;
$breadcrumb-text-color: $museum-primary-color-elizabethan-house-greatyarmouth;
$breadcrumb-border-color: #f6f6f6;

$string: "data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24' width='24' viewBox='0 0 24 24' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cg%3E%3Cpath d='M8.59,16.58L13.17,12L8.59,7.41L10,6L16,12L10,18L8.59,16.58Z' fill='%23CF171D'/%3E%3C/g%3E%3C/svg%3E";
$string2: str-replace($string, ' ', '%20');

$breadcrumb-chevron: url($string2);

$button-search-background-color: $museum-primary-color-elizabethan-house-greatyarmouth;
$search-border-color: #FFFFFF;

$button-primary-color: $museum-primary-color-elizabethan-house-greatyarmouth;
$button-primary-color-hov: darken( $button-primary-color, 20% );

$button-panel-color: $museum-primary-color-elizabethan-house-greatyarmouth;
$button-dark-panel-color: $button-panel-color;

$footer-background-color: $museum-primary-color-elizabethan-house-greatyarmouth;
$footer-color: #fff;
$footer-border-color: $museum-primary-color-elizabethan-house-greatyarmouth;
 
@import 
"global-import";

@import 
"museums-navbar";

/* 5508 Museums site header colour contrast */
.utilitymenu--top .utilitymenu__link,
header button.btn.btn--search.gi-sitesearch__button.gi-sitesearch__button--search,
.utilitymenu--top .utilitymenu__link:hover,
header button.btn.btn--search.gi-sitesearch__button.gi-sitesearch__button--search:hover{
    background-color: #ffd8d9;
    color: $black;   
}

.utilitymenu--top .utilitymenu__link:focus,
header button.btn.btn--search.gi-sitesearch__button.gi-sitesearch__button--search:focus{
  box-shadow: 0 0 0 3px $black, 0 0 0 6px $focus-color;
}

.utilitymenu--top .utilitymenu__link:focus:hover,
header button.btn.btn--search.gi-sitesearch__button.gi-sitesearch__button--search:focus:hover{
  text-decoration: none;
  background-color: $focus-color;
}