@import "global/functions";
@import "variables";

$header-color: #CF171D;
$header-text-color: #fff;
$header-utilitymenu-color: #CF171D;

$burger-menu-color: #fff;

$breadcrumb-color: #f6f6f6;
$breadcrumb-text-color: #215bbb;
$breadcrumb-border-color: #f6f6f6;
$breadcrumb-chevron: $breadcrumb-chevron-blue;

$button-search-background-color: #334f7d;
$search-border-color: #FFFFFF;

$footer-background-color: #CF171D;
$footer-color: #fff;
$footer-border-color: #CF171D;
 
@import 
"global-import";

@import 
"museums-navbar";
