/*
    TST environment CSS alterations
*/

//Share this page icons
.a-share__link:nth-child(2) .a-share__image {
    content: url("/image/291/Facebook-icon/original.png");
    background-size: contain;
    width: 32px;
    height: 32px;
}
.a-share__link:nth-child(3) .a-share__image {
    content: url("/image/293/Twitter-icon/original.png");
    background-size: contain;
    width: 32px;
    height: 32px;
}
.a-share__link:nth-child(4) .a-share__image {
    content: url("/image/290/Email-icon/original.png");
    background-size: contain;
    width: 32px;
    height: 32px;
}
.a-share__link:nth-child(6) .a-share__image {
    content: url("/image/292/Print-icon/original.png");
    background-size: contain;
    width: 32px;
    height: 32px;
}