@import "variables";

$header-color: #fff;
$header-text-color: #050505;

$button-panel-color:#be4600;

$button-primary-color: #be4600;
$button-primary-color-hov: darken($button-primary-color, 20%) !default;

$button-search-background-color: #e74d2f;

$footer-background-color: #242424;
$footer-color: #fff;
$footer-first-column-count: 2;
$footer-first-column-width: 50%;

@import 
"mixins/mixins", 
"global/footer", 
"global/header", 
"global/breadcrumb", 
"global/disclosures", 
"global/image-gallery", 
"global/panels", 
"global/typography", 
"global/page", 
"global/misc", 
"global/searchbox",
"global/searchresults", 
"global/cookies",
"global/buttons";

@media (max-width: 1050px)
{
  .gi-mobilenav--mobilemenu {
      top: 203px; //moves mobile menu down
  }
}