@import "global/functions";
@import "variables";

$header-color: #fff;
$header-text-color: #050505;

$button-panel-color:#be4600;
$button-dark-panel-color: $button-panel-color;

$button-primary-color: #be4600;
$button-primary-color-hov: darken($button-primary-color, 20%) !default;

$button-search-background-color: #be4600;

$footer-background-color: #242424;
$footer-color: #fff;

@import 
"global-import";

/*//3909 - overwrite 2991 changes so that standard and large images display correctly but image captions are now not the same width
.a-body__image .gi-responsiveimage__caption, .a-body__image .gi-responsiveimage {
  display: block;
}*/

@media (max-width: 1050px)
{
  .gi-mobilenav--mobilemenu {
      top: 203px; //moves mobile menu down
  }
}


@media (min-width: 820px) {
  /* breaks greeyd menu atm
    .gi-sitenav__item--lvl1:nth-child(n+6):not(.gi-sitenav__item--lvl1:last-child), .gi-sitenav__item--lvl2:not(.gi-sitenav__item--lvl2:nth-child(n+6)) {
        display: block;
    }
    */ 
    } 