@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
html {
  font-size: 16px;
  font-family: "Assistant", "Open Sans", sans-serif;
  margin: 0px;
  padding: 0px;
}

html * {
  font-family: "Assistant", "Open Sans", sans-serif;
}

.container {
  max-width: 1170px;
}

/*

.site-header {
    padding: 2rem;
    font-size: 1.8rem;
    @include mq('md') {
        padding-top: 4rem;
        font-size: 2.4rem;
    }
}
*/
footer.footer {
  font-weight: 600;
  background-color: #1d1d1d;
}

footer.footer * {
  color: #fff;
}

footer.footer-bottom {
  background-color: #050505;
}

/*
Variables to change:
  - $header-color (background colour)
  - $header-text-color
*/
.header {
  background-color: #fff;
  padding: 20px 0px;
}

.gi-sitenav.gi-sitenav--desktop.gi-sitenav--hassearch {
  margin: 0px 44px 0px 0px;
}

.utilitymenu--top .utilitymenu__link, .utilitymenu--top .utilitymenu__text, .utilitymenu--mobile .utilitymenu__link, .utilitymenu--mobile .utilitymenu__text {
  color: #050505;
}
.utilitymenu--top .utilitymenu__link:hover, .utilitymenu--top .utilitymenu__text:hover, .utilitymenu--mobile .utilitymenu__link:hover, .utilitymenu--mobile .utilitymenu__text:hover {
  color: #050505;
}
.utilitymenu--top .utilitymenu__link:focus, .utilitymenu--top .utilitymenu__text:focus, .utilitymenu--mobile .utilitymenu__link:focus, .utilitymenu--mobile .utilitymenu__text:focus {
  color: #050505;
  background-color: #ffdd00;
}

.gi-sitenav__link {
  color: #050505;
}
.gi-sitenav__link:hover {
  color: #050505;
}
.gi-sitenav__link:focus {
  color: #050505;
  background-color: #ffdd00;
}

.btn--search::after {
  color: #050505;
}

.gi-sitenav__list.gi-sitenav__list--lvl2 {
  background-color: #fff;
  color: #050505;
}
.gi-sitenav__list.gi-sitenav__list--lvl2 .gi-sitenav__item.gi-sitenav__item--lvl2 .gi-sitenav__link.gi-sitenav__link--lvl2 {
  color: #050505;
}

.gi-sitenav__link.gi-sitenav__link--lvl1 {
  font-size: 1.125rem;
}
.gi-sitenav__link.gi-sitenav__link--lvl1:hover {
  text-decoration: underline;
}

.utilitymenu.utilitymenu--mobile {
  margin-top: 80px;
}

.utilitymenu--mobile .utilitymenu__link {
  font-size: 1.125rem;
}

/*
Variables to change:
  - $breadcrumb-color (background colour)
  - $breadcrumb-text-color
  - $breadcrumb-border-color
  - $breadcrumb-chevron
*/
.breadcrumb__nav {
  padding: 0px;
  border: solid #ccc 1px;
  background-color: #ddd;
}

.breadcrumb {
  padding: 10px 0px;
  border: none;
  background-color: transparent;
}
.breadcrumb .breadcrumb__crumb {
  padding: 0px;
}
.breadcrumb .breadcrumb__crumb a {
  color: #050505;
  text-decoration: none;
  font-weight: 600;
}
.breadcrumb .breadcrumb__crumb a:hover {
  color: #050505;
  text-decoration: none;
  border-bottom: solid #050505 2px;
}
.breadcrumb .breadcrumb__crumb:after {
  content: "";
  background-color: transparent;
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%2024%2024'%3E%3Ctitle%3Echevron-right%3C/title%3E%3Cpath%20d='M8.59,16.58L13.17,12L8.59,7.41L10,6L16,12L10,18L8.59,16.58Z'%20fill='gray'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 24px 24px;
  display: inline-block;
  width: 24px;
  height: 24px;
  position: relative;
  margin: 0px;
  top: -1px;
}

.gi-disclosure--body .gi-disclosure__toggle {
  border: solid transparent 4px;
  padding: 20px 90px 20px 10px;
}

.gi-disclosure--body .gi-disclosure__toggle:hover {
  background-color: #eee;
}

.gi-disclosure--body .gi-disclosure__toggle:focus {
  border: solid #ffdd00 4px;
  outline: 4px solid #050505;
  outline-offset: 0px;
  position: relative;
  z-index: 1;
}
.gi-disclosure--body .gi-disclosure__toggle:focus::after {
  border-bottom: solid #050505 3px;
  color: #050505;
  background-color: #ffdd00;
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20width='12'%20height='8'%20viewBox='0%200%2012%208'%20fill='none'%3E%3Cpath%20d='M1.41%200.579956L6%205.16996L10.59%200.579956L12%201.99996L6%207.99996L0%201.99996L1.41%200.579956Z'%20fill='%23050505'/%3E%3C/svg%3E");
}

.gi-disclosure--body .gi-disclosure__toggle[aria-expanded]:focus::after {
  border-bottom: solid #050505 3px;
  color: #050505;
  background-color: #ffdd00;
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20width='12'%20height='8'%20viewBox='0%200%2012%208'%20fill='none'%3E%3Cpath%20d='M10.59%207.41992L6%202.82992L1.41%207.41992L1.2414e-07%205.99992L6%20-7.87258e-05L12%205.99992L10.59%207.41992Z'%20fill='%23050505'/%3E%3C/svg%3E");
}

.gi-disclosure--body .gi-disclosure__toggle::after {
  content: "Show";
  font-family: "Assistant", "Open Sans", sans-serif;
  font-size: 1.25rem;
  font-weight: 700;
  background-color: transparent;
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20width='12'%20height='8'%20viewBox='0%200%2012%208'%20fill='none'%3E%3Cpath%20d='M1.41%200.579956L6%205.16996L10.59%200.579956L12%201.99996L6%207.99996L0%201.99996L1.41%200.579956Z'%20fill='%232D5AB4'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: 95% 50%;
  background-size: 18px 18px;
  display: inline-block;
  top: 50%;
  transform: translateY(-50%);
  padding-right: 28px;
  border-bottom: solid 3px transparent;
  color: #36c;
}

.gi-disclosure--body .gi-disclosure__toggle[aria-expanded]::after {
  content: "Hide";
  font-family: "Assistant", "Open Sans", sans-serif;
  font-size: 1.25rem;
  font-weight: 700;
  background-color: transparent;
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20width='12'%20height='8'%20viewBox='0%200%2012%208'%20fill='none'%3E%3Cpath%20d='M10.59%207.41992L6%202.82992L1.41%207.41992L1.2414e-07%205.99992L6%20-7.87258e-05L12%205.99992L10.59%207.41992Z'%20fill='%232D5AB4'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: 95% 50%;
  background-size: 18px 18px;
  display: inline-block;
  top: 50%;
  transform: translateY(-50%);
  padding-right: 28px;
  border-bottom: solid 3px transparent;
  color: #36c;
}

/*
Variables to change:
  - $list-panel-link-color
  - $list-panel-link-color-hover
*/
.a-panel.a-panel--carousel .a-panel__title {
  color: #fff;
}

.a-panel.a-panel--hasbackground .a-panel__title {
  color: #fff;
}

.imagebanner__title {
  color: #fff;
}

.imagebanner__searchholder .searchform__inputtxt {
  width: 100%;
}

.grid.grid--list.grid--4col {
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
}

.grid.grid--feature.grid--4col {
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
}

.grid__cell.grid__cell--feature.grid__cell--cols1 {
  padding: 0px;
}

.a-panel--feature .grid__cell--feature .grid__cellwrap {
  height: 100%;
  padding: 10px;
}
.a-panel--feature .item.item--article {
  background-color: #fff;
  height: 100%;
  border: solid #B0B0B0 1px;
  border-radius: 15px;
  overflow: hidden;
}
.a-panel--feature .item.item--article .item__content {
  padding: 10px;
}
.a-panel--feature .item.item--article .gi-responsiveimage__fallback, .a-panel--feature .item.item--article .gi-responsiveimage__image {
  -o-object-fit: cover;
     object-fit: cover;
  max-height: 125px;
}
.a-panel--feature .item.item--article .gi-responsiveimage.gi-responsiveimage--item.gi-responsiveimage--loaded {
  margin: 0px;
}

.a-panel.a-panel--hasbackground .a-panel__title {
  color: #050505;
  font-weight: 700;
}

h2.a-panel__title, .a-panel__title.h2 {
  color: #050505;
  font-weight: 700;
  font-size: 2rem;
}

.item.item--article .item__title a {
  color: #006666;
  border-bottom: solid 2px transparent;
  text-decoration: none;
}
.item.item--article .item__title a:hover {
  color: #006666;
  border-bottom: solid 2px #006666;
  text-decoration: none;
}
.item.item--article .item__title a:focus {
  color: #050505;
  background-color: #ffdd00;
  border-bottom: solid 2px #050505;
  text-decoration: none;
}

.a-panel--hasbackground .item__sublink {
  color: #36c;
  border-bottom: solid 1px transparent;
}
.a-panel--hasbackground .item__sublink:hover {
  color: #2952a3;
  border-bottom: solid 1px #066;
  text-decoration: none;
}
.a-panel--hasbackground .item__sublink:focus {
  color: #050505;
  background-color: #ffdd00;
  border-bottom: solid 1px #050505;
  text-decoration: none;
}

@media only screen and (max-width: 600px) {
  .a-panel__content {
    padding: 30px 10px;
  }
}
.a-panel.a-panel--related .a-panel__content .grid--related {
  display: flex;
  align-items: stretch;
}

.a-panel.a-panel--related .grid__cellwrap {
  height: 100%;
}

.a-panel__link {
  background-color: #036eb2;
}

.ra-block {
  height: 100%;
}

.ra-block .ra-block__content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.a-relimage {
  display: none;
}

.item.item--article {
  border: 1px solid #fff;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.12), 0 0 2px rgba(0, 0, 0, 0.12);
  padding: 0 20px;
  margin: 0;
  text-align: left;
}

.item.item--article .item__title {
  font-weight: 700;
  margin: 15px 0px 10px 0px;
}

.item.item--article .item__title a {
  font-size: 1.25rem;
}

.item.item--article .item__body {
  margin-block-end: 16px;
}

.a-panel--pt.a-panel--parallax .a-panel__content {
  background-color: transparent;
  color: #050505;
  text-shadow: none;
}

@media only screen and (max-width: 1200px) {
  .a-panel--pt.a-panel--parallax .fa-block {
    margin: 10px;
  }
}
.a-panel--pt.a-panel--parallax .fa-block {
  background-color: #fff;
  border: 1px solid #fff;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.12), 0 0 2px rgba(0, 0, 0, 0.12);
}
.a-panel--pt.a-panel--parallax .fa-block .fa-block__imagecontainer + .fa-block__details {
  width: 100%;
  padding: 0;
}
.a-panel--pt.a-panel--parallax .fa-block .fa-block__content * {
  background-color: #fff;
  color: #050505;
}

.grid--2col > .grid__cell {
  width: 33.3%;
}

.grid--2col > .grid__cell:nth-child(2n+1) {
  clear: none;
}

h1, .h1 {
  font-size: 2.5rem;
  font-weight: 700;
  color: #050505;
}

h2, .h2 {
  font-size: 2rem;
  font-weight: 700;
  color: #050505;
}

h3, .h3 {
  font-size: 1.75rem;
  font-weight: 700;
  color: #050505;
}

h4, .h4 {
  font-size: 1.5rem;
  font-weight: 700;
  color: #050505;
}

h5, .h5 {
  font-size: 1.25rem;
  font-weight: 700;
  color: #050505;
}

h6, .h6 {
  font-size: 1.125rem;
  font-weight: 700;
  color: #050505;
}

p, ul, ol, li, a, div, span {
  font-size: 1.125rem;
}

a {
  text-decoration: none;
}

.a-body__link, .a-body__inner a {
  color: #36c;
}
.a-body__link:hover, .a-body__inner a:hover {
  color: #2952a3;
  border-bottom: 2px solid #2952a3;
}

.a-heading__title {
  font-weight: 700;
  color: #050505;
}

.maincontent .a-heading, .maincontent .a-intro, .maincontent .a-body {
  max-width: 750px;
}

.a-heading__title {
  font-weight: 700;
  font-size: 2.5rem;
  color: #050505;
  border-bottom: none;
  padding-bottom: 0px;
}

h5, .h5 {
  margin-bottom: 20px;
}

.a-intro__content {
  line-height: 1.3;
  font-weight: 500;
}

.gi-responsiveimage__caption {
  font-size: 1rem;
  font-weight: 500;
}

.block--cookie-consent-prompt {
  margin-bottom: 0;
  border: 0px;
  max-width: 90%;
  top: 50%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

#cookie-consent-prompt {
  content: "";
  position: fixed;
  background: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 99;
}

.block--cookie-consents-updated-confirmation {
  position: relative;
  padding-right: 70px;
  z-index: 9999;
  top: auto !important;
  left: auto !important;
  transform: translateX(0px) translateY(0px) !important;
  width: 100% !important;
  max-width: 100% !important;
  bottom: 0;
  position: fixed !important;
}/*# sourceMappingURL=norfolk.css.map */