@import "variables";

$header-color: #FFFFFF;
$header-text-color: #050505;
$header-utilitymenu-color: #FFFFFF;

$burger-menu-color: #0A96B5;

$breadcrumb-color: #F0F5F3;
$breadcrumb-text-color: #006666;
$breadcrumb-border-color: #F0F5F3;
$breadcrumb-chevron: $breadcrumb-chevron-gray;

$button-search-background-color: #1C995D;
$search-border-color: #767676;

$feature-panel-border-radius: 15px;
 
@import 
"global-import";