@import "global/functions";
@import "variables";

$header-color: #FFFFFF;
$header-text-color: #050505;
$header-utilitymenu-color: #FFFFFF;

$burger-menu-color: #0A96B5;

$breadcrumb-color: #F0F5F3;
$breadcrumb-text-color: #006666;
$breadcrumb-border-color: #F0F5F3;
$breadcrumb-chevron: $breadcrumb-chevron-gray;

$button-search-background-color: #1C995D;
$search-border-color: #767676;

$panel-backdrop-border-radius: 12px;
$panel-border-radius: 12px;
$feature-panel-border-radius: 12px;
$list-border-radius: 12px;
$promo-border-radius: 12px;
$card-border-radius: 12px;

$header-utilitymenu-color: $grey-3;
//$feature-card-border-radius: 12px;
 
@import "global-import";
@import "global/wide-sites";

//================================================================
// General page size setup
//================================================================

.container {
    max-width: 1480px;
}

.maincontent > .container {
    max-width: 900px;
    margin: 0 0 0 0;
}

.container {
    max-width: 1480px;
}

//================================================================================================================================
// Header
//================================================================================================================================

.header {
    padding: 0px;

    > .container {
        display: flex;
        /*flex-wrap: wrap;*/
        justify-content: space-between;
    }
}

.gi-sitelogo--header {
    display: flex;
    padding: 15px 0px;
  }


.gi-sitelogo--header { 
    float: none;
}

.header>.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between
}

.gi-sitelogo,.gi-sitelogo__link {
    padding-bottom: 15px;
}

//******************************************
//******************************************
// top right menu and search box
//******************************************
//******************************************

.header__menu { 
    float: none;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

//******************************************
// sign in menu

.utilitymenu--top { 
    //margin-left: auto;
    padding-bottom: 0px;
    //display:inline-block;
}
/*
.utilitymenu--top .utilitymenu__link, .utilitymenu--top .utilitymenu__text {
    border: 0px;
    display: inline;
    padding: 5px 10px;
}*/

//******************************************
// search

.gi-sitesearch.gi-sitesearch--dynamic.gi-sitesearch--top {

    margin-left: auto;
}

.gi-sitesearch__button--search:focus, .gi-sitesearch--dynamic[data-collapsed=false] .btn--search, .gi-sitesearch--dynamic[data-collapsed=true] .btn--search:focus {
    background: $focus-color;
    color: #000 !important;
}
.gi-sitesearch__button--search:focus, .gi-sitesearch--dynamic[data-collapsed=false] .btn--search, .gi-sitesearch--dynamic[data-collapsed=true] .btn--search:focus:after {
    color: #000;
}

.gi-sitesearch--dynamic {
    margin-top: 10px;
}

//=================================================================================
// Header drop-down menu site navigation e.g.
//  School management | Admin | Pupil safety and behaviour | Teaching and learning | Pupil needs | School Finanace | Early learning and childcare
//=================================================================================

#headermainmenu {
    background: #fff;     
    border-bottom: 1px solid #ebebeb; 
    border-top: 1px solid #ebebeb;     
    min-height: 70px;
}

//---------------------------------------------------------------------------------

.gi-sitenav__link { 
    color: #000;
    &:hover {
        color: #066;
    }
}

.gi-sitenav__link.gi-sitenav__link--lvl1 {
    text-align: center;
    font-size: 1rem;
    padding: 24px 12px;
    padding-right: 20px;
    margin: 0px;
}
.gi-sitenav__link[aria-haspopup="true"]::after {
    padding-top: 3px;
    font-size: 1rem; 
    margin-left: 7px;
}

.gi-sitenav__list.gi-sitenav__list--lvl1 {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.gi-sitenav__item.gi-sitenav__item--lvl1:first-child {
    .gi-sitenav__link.gi-sitenav__link--lvl1 {
        padding-left: 0px;
    }
}

.gi-sitenav__item--lvl1:first-child {

    .gi-sitenav--lvl2 {
        left: 0;
        transform: translateX(0);
    }

}
.gi-sitenav__item--lvl1:last-child {

    .gi-sitenav--lvl2 {
        left: auto;
        transform: translateX(0);
        right: 0;
    }

}

.gi-sitenav--lvl2 {
    background: #fff;
    columns: 2;
    left: 50%;
    transform: translateX(-50%);
    width: 400px;
    border-radius: 6px;
    box-shadow: 0 16px 40px rgba(0, 0, 0, 0.12);   
     z-index: 100;
}

.gi-sitenav--lvl2 {
    padding: 15px 5px;
}

.gi-sitenav__item--lvl2 {
    border-bottom: 0; padding: 10px 10px;
    margin: 0 0px;
    display: inline-block;
    width: 100%;
    a {
        font-weight: 600;
        color: #006666; //3832 - TODO - this colour isn't applied because there is another style with greater specificity overwriting this (added color: $teal in the class below to fix this)
        text-align: left;
    }
}

//3832
.gi-sitenav__list.gi-sitenav__list--lvl2 .gi-sitenav__item.gi-sitenav__item--lvl2 .gi-sitenav__link.gi-sitenav__link--lvl2 {
    color: $teal;
    &:focus {
        color: $black;
    }
}

//================================================================================================================================


//=================================================================================
// Breadcrumb bar
//=================================================================================

.breadcrumb__nav {
    padding: 0;
    border: solid #fff 1px;
    background-color: #fff; 
}

.breadcrumb .breadcrumb__crumb a {
    color: #066;

    &:hover { 
        color: #4840E3;
        text-decoration: none;
        border-bottom: solid #4840E3 2px;
    }
    //3832
    &:focus:hover {
        color: $black;
        border-bottom: none;
    }
} 

//=================================================================================
// Mobile Menu
//=================================================================================
.gi-mobilenav--mobilemenu {
    background: #f2f2f2;
}

.sitemenu__link {
    color: #000;
    text-decoration: none;
    display: none; 
}

.submenu__link, .submenu__text, .submenu__link:hover, .sitemenu__link:hover {
    color: #000 !important;
}

.utilitymenu--mobile .utilitymenu__link, .sitemenu--mobile .sitemenu__link, .sitemenu--mobile .sitemenu__text {
    color: #000 !important;
    &:hover {
        color: #4840E3 !important;
        text-decoration: underline;
    }
}

.sitemenu__btnimage {
    filter: invert(1);
}

.sitemenu--mobile .submenu {
    border-bottom: 1px solid #000;
}

.utilitymenu--mobile .utilitymenu__item:last-child .utilitymenu__link, .utilitymenu--mobile .utilitymenu__item:last-child .utilitymenu__text {
    border-bottom: 1px solid #000;
}

/*//3909 - overwrite 2991 changes so that standard and large images display correctly but image captions are now not the same width
.a-body__image .gi-responsiveimage__caption, .a-body__image .gi-responsiveimage {
    display: block;
}*/



/*=================================================================*/
//start mobile view
/*=================================================================*/
// @media (max-width: 1300px)
@include mq(xxl, max)
{
    .gi-sitenav__link[aria-haspopup=true]::after {
        
        margin-left: 5px;
    }

    .gi-sitenav__link.gi-sitenav__link--lvl1 {
       
        padding: 12px 12px;
    }

    .gi-sitenav__list.gi-sitenav__list--lvl1 {
        justify-content: space-around;
    }

}
/*=================================================================*/
//end
/*=================================================================*/


/* For screens smaller than 900px, mobile view is applied */

// @media (max-width: 900px)
@include mq(md, max) {
    .header {  
        > .container {
            padding-bottom: 20px;
        }
    }

    .gi-sitelogo--header {
        justify-content: flex-start;
        margin: initial;
    }
  
    .gi-mobilenavtoggle.gi-mobilenavtoggle--mobilemenu {
        display: block;
        top: 20px;
    }

    .header__menu {
        width: 100%;
    }

    #headermainmenu, .header__menu .utilitymenu--top {
        display: none;
        width: 100%;
    }
    
    .gi-mobilenav--mobilemenu { 
        top: 65px !important;
    }
    
    .gi-sitelogo, .gi-sitelogo__link {
        
        width: 100px;
    }
    
    .gi-sitesearch.gi-sitesearch--dynamic.gi-sitesearch--top {
        width: 100%; //formely 100% - 168px
        float: left;

        margin-top: 0px;
        margin-right: 0px;
    }

    .gi-sitesearch--dynamic[data-collapsed=false] .btn--search::after {
        content: "\e800";
        color: $black;
    }
    /*** commented out 3/6/24 by KO - 3248 ***/
    // .gi-sitesearch--dynamic[data-collapsed=true] .btn--search::after {
    //     content: "\e800";
    //     color: #fff;
    // }
    // .gi-sitesearch--top .gi-sitesearch__searchtoggle, .gi-sitesearch--top .gi-sitesearch__button {
    //     width: 40px;
    // }
    .gi-sitesearch--top[data-collapsible=true] .gi-sitesearch__searchfield {
        width: calc(100% - 40px);
    }
}


// @media (min-width: 820px)
@include mq(sm, min) {

    .gi-sitenav__item--lvl1:nth-child(n+6):not(.gi-sitenav__item--lvl1:last-child), .gi-sitenav__item--lvl2:not(.gi-sitenav__item--lvl2:nth-child(n+6)) {
        display: block;
    }
    
    } 

/*==================================================
5161 Mobile nav - white chevron on grey background
==================================================*/
.sitemenu__btn--haschildren::after{
    color: $black;
}


//=================================================================================
// BODY
//=================================================================================

.template--list .container {
    max-width: 1480px;
    margin: 0 auto;
}

.template--panel.body--aside, .template--list.body--aside, .template--blog, .template--default, .template--documentsection, .template--formsservice {
    .container.container--fullwidth {
        max-width: 1480px;

        .maincontent > .container {
            max-width: 1900px; // was 900px - just needed a big number not 1900px specifically
            margin: 0 0 0 auto;
        }
    }
}

// @media (min-width: 840px)
@include mq(md, min) {

    .template--default .maincontent > .container{
        max-width: 1170px;
        margin: 0 auto;
    }

    .template--list .maincontent > .container, .template--panel .maincontent > .container, .template--search .maincontent > .container, .template--stage .maincontent > .container {
        max-width: 1480px;
        margin: 0 auto; 
    } 

    .template--list aside, .template--panel aside{
    display: block;
    float: right;
    width: 100%;
    padding-left: 0px;
    }

    .template--list .container { 
        .a-heading, .a-intro, .a-body {
            margin: 0 0 0 0%;
        }
    } 

    .template--panel.body--aside, .template--list.body--aside, .template--blog, .template--default, .template--documentsection, .template--formsservice {
        .container.container--fullwidth aside.aside {
              width: 30%;
            padding-left: 10px;
        }
    }
}

//========================================================================
//Blog page - copied from Intranet
//========================================================================

.template--blog  {
    .a-heading {
        margin-bottom: 0;
        padding: 0 20px 20px 0;
        display: flex;
        flex-direction: row; 
    }

    .a-heading::before {
        $string: "data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='40' width='40' viewBox='0 0 24 24' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cg%3E%3Cpath d='M4 7V19H19V21H4C2 21 2 19 2 19V7H4M21.3 3H7.7C6.76 3 6 3.7 6 4.55V15.45C6 16.31 6.76 17 7.7 17H21.3C22.24 17 23 16.31 23 15.45V4.55C23 3.7 22.24 3 21.3 3M8 5H13V11H8V5M21 15H8V13H21V15M21 11H15V9H21V11M21 7H15V5H21V7Z' /%3E%3C/g%3E%3C/svg%3E";
        $string2: str-replace($string, ' ', '%20');
        $string3: url($string2);
        background-image: $string3;

        content: "";
        background-repeat: no-repeat;
        background-size: contain;
        width: 50px;
        height: 50px;
        min-width: 50px;
        margin-top: 8px;
    }

    .a-heading__title{
        display: flex;
        flex-direction: column;
        justify-content: start;
        margin: 0 0 0 20px;

        &::before {
            padding-left: 0.6em;
            padding-right: 0.6em;
            border-radius: 10rem;
            font-size: 1rem;
            font-weight: 700;
            width: fit-content;
            margin: 0;
            margin-bottom: 10px;
            width: fit-content;
        }
    }

    .over-three-months {
        background-color: #FFE0CE;
        border-left: solid #BE4600 5px;
        padding: 3px 13px 3px 8px;
        margin-left: 10px;
        margin-right: 10px;
        font-size: 0.9rem;
        white-space: nowrap;

        // @media (max-width: 600px)
        @include mq(xs, max) {
            margin-left: 0px;
        }
    }

    .nvp--blog-author, .nvp--blog-created, .nvp--blog-categories::before, .nvp--blog-categories a {
        margin-top: 4px;
        margin-bottom: 4px;
        display: inline-block;
    }

    .nvp--blog-categories {
        display: none;

        /*a:first-of-type, .nvp__value+.nvp__value:before, &::before {
            display: none; 
        }
        .nvp__value {
            padding: 0 3px;
            background: #f2f2f2;
            border: 1px solid #ccc;
            text-align: center;
            display: inline-block;
            border-radius: 4px;
        }*/
    }

    .a-pagination {
        display: none;
    }
}


// @media (max-width: 600px)
@include mq(xs, max) {
    .template--blog .a-heading {
        flex-direction: column;
        padding: 0px;
    }

    .template--blog .a-heading__title, .template--blog .over-three-months {
        margin: 0px;
    }
}




.template--panel.body--aside, .template--list.body--aside, .template--blog, .template--formsservice {
    .container.container--fullwidth {
        max-width: 1480px;

        .maincontent > .container {
            max-width: 1900px; // was 900px - just needed a big number not 1900px specifically
            margin: 0 0 0 auto;
        }
    }
}

.template--blog, .template--documentsection, .template--formsservice {
    .container.container--fullwidth {
        max-width: 1170px;

        .maincontent > .container {
            max-width: 1900px; // was 900px - just needed a big number not 1900px specifically
            margin: 0 0 0 auto;
        }
    }
}


//.template--blog .maincontent > .container, .template--documentsection .maincontent > .container - can be deletd

// @media (min-width: 840px)
@include mq(md, min) {

    .template--default .maincontent > .container {
        max-width: 1170px !important;
        margin: 0 auto;
    }

    .template--list .maincontent > .container, .template--panel .maincontent > .container, .template--search .maincontent > .container, .template--stage .maincontent > .container {
        max-width: 1480px;
        margin: 0 auto; 
    } 

    .template--list aside, .template--panel aside{
    display: block;
    float: right;
    width: 100%;
    padding-left: 0px;
    }

    .template--list .container { 
        .a-heading, .a-intro, .a-body {
            margin: 0 0 0 0%;
        }
    } 

    .template--panel.body--aside, .template--list.body--aside, .template--blog, .template--default, .template--documentsection, .template--formsservice {
        .container.container--fullwidth aside.aside {
              width: 30%;
            padding-left: 10px;
        }
    }
}

.template--list .container {
    max-width: 1480px;
    margin: 0 auto;

    
}


/*====================================================================================
Share this page - 3448 uncomment from 20/11/2024
====================================================================================*/
.a-share {
    display: block;
    text-align: left;
    max-width: 1480px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 20px;
    float: none;
}

.a-share__link:focus{
    display: inline-block;    
}
//========================================================================
// end of blog copied from intranet
//========================================================================


footer.footer {
    background: linear-gradient(219deg, rgba(246, 246, 246, 0.02) 0%, rgba(246, 246, 246, 0.02) 20%, rgba(225, 225, 225, 0.02) 20%, rgba(225, 225, 225, 0.02) 40%, rgba(136, 136, 136, 0.02) 40%, rgba(136, 136, 136, 0.02) 60%, rgba(216, 216, 216, 0.02) 60%, rgba(216, 216, 216, 0.02) 80%, rgba(35, 35, 35, 0.02) 80%, rgba(35, 35, 35, 0.02) 100%), linear-gradient(299deg, rgba(213, 213, 213, 0.02) 0%, rgba(213, 213, 213, 0.02) 20%, rgba(150, 150, 150, 0.02) 20%, rgba(150, 150, 150, 0.02) 40%, rgba(161, 161, 161, 0.02) 40%, rgba(161, 161, 161, 0.02) 60%, rgba(186, 186, 186, 0.02) 60%, rgba(186, 186, 186, 0.02) 80%, rgba(28, 28, 28, 0.02) 80%, rgba(28, 28, 28, 0.02) 100%), linear-gradient(50deg, rgba(157, 157, 157, 0.02) 0%, rgba(157, 157, 157, 0.02) 16.667%, rgba(147, 147, 147, 0.02) 16.667%, rgba(147, 147, 147, 0.02) 33.334%, rgba(42, 42, 42, 0.02) 33.334%, rgba(42, 42, 42, 0.02) 50.001%, rgba(214, 214, 214, 0.02) 50.001%, rgba(214, 214, 214, 0.02) 66.668%, rgba(34, 34, 34, 0.02) 66.668%, rgba(34, 34, 34, 0.02) 83.335%, rgba(211, 211, 211, 0.02) 83.335%, rgba(211, 211, 211, 0.02) 100.002%), linear-gradient(278deg, rgba(79, 79, 79, 0.03) 0%, rgba(79, 79, 79, 0.03) 20%, rgba(217, 217, 217, 0.03) 20%, rgba(217, 217, 217, 0.03) 40%, rgba(5, 5, 5, 0.03) 40%, rgba(5, 5, 5, 0.03) 60%, rgba(200, 200, 200, 0.03) 60%, rgba(200, 200, 200, 0.03) 80%, rgba(125, 125, 125, 0.03) 80%, rgba(125, 125, 125, 0.03) 100%), linear-gradient(274deg, rgba(235, 235, 235, 0.03) 0%, rgba(235, 235, 235, 0.03) 12.5%, rgba(100, 100, 100, 0.03) 12.5%, rgba(100, 100, 100, 0.03) 25%, rgba(44, 44, 44, 0.03) 25%, rgba(44, 44, 44, 0.03) 37.5%, rgba(228, 228, 228, 0.03) 37.5%, rgba(228, 228, 228, 0.03) 50%, rgba(36, 36, 36, 0.03) 50%, rgba(36, 36, 36, 0.03) 62.5%, rgba(72, 72, 72, 0.03) 62.5%, rgba(72, 72, 72, 0.03) 75%, rgba(30, 30, 30, 0.03) 75%, rgba(30, 30, 30, 0.03) 87.5%, rgba(109, 109, 109, 0.03) 87.5%, rgba(109, 109, 109, 0.03) 100%), linear-gradient(90deg, #242424, #242424);
}



