@import "global/functions";
@import "variables";

$header-color: #B32017;
$header-text-color: #fff;
$header-utilitymenu-color: #B32017;

$burger-menu-color: #fff;

$breadcrumb-color: #f6f6f6;
$breadcrumb-text-color: #215bbb;
$breadcrumb-border-color: #f6f6f6;
$breadcrumb-chevron: $breadcrumb-chevron-blue;

$button-search-background-color: #B32017;
$search-border-color: #FFFFFF;

$button-panel-color: #B32017;
$button-dark-panel-color: $button-panel-color;

$footer-background-color: #B32017;
$footer-color: #fff;
$footer-border-color: #B32017;
 
@import 
"global-import";

@import 
"museums-navbar";
