@mixin ani { transition: all 0.3s cubic-bezier(.25,.8,.25,1);}
@mixin ani2 { transition: all 0.3s cubic-bezier(.25,.8,.25,1);}


@mixin aspect-ratio {aspect-ratio: 3 / 2; }

/** 3832 - Text links state indicator standardisation **/
@mixin a-link-hover {
    color: $link-color-darken;
    text-decoration: underline;
    -webkit-text-decoration-skip-ink: none;
    text-decoration-skip-ink: none;
    text-underline-offset: .1578em;
    -webkit-tap-highlight-color: transparent; //5331
}
      
%a-link-hover {
    @include a-link-hover;
}

@mixin a-link-underline-hover {
    color: $link-color-darken;
    text-decoration: underline;
    text-decoration-thickness: max(3px, 0.1875rem, 0.12em);
    -webkit-text-decoration-skip-ink: none;
    text-decoration-skip-ink: none;
    text-underline-offset: .1578em; 
    -webkit-tap-highlight-color: transparent; //5331 
}
      
%a-link-underline-hover {
    @include a-link-underline-hover;
}

@mixin a-link-focus {
    color: $black;
    background: $focus-color;
    outline: 3px solid rgba(0,0,0,0);
    box-shadow: 0 -2px $focus-color, 0 4px $black;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent; //5331 
}

%a-link-focus {
    @include a-link-focus;
}

//5468 - focus style for form inputs and image links
@mixin element-focus($box-shadow1: 3px, $box-shadow2: 6px, $outline: none) {
    box-shadow: 0px 0px 0px $box-shadow1 $black, 0px 0px 0px $box-shadow2 $focus-color;
    border-color: $black;
    outline: $outline;
}

// Media queries (to be used with breakpoints variables)

@mixin mq($width, $type: min) {
    @if map_has_key($breakpoints, $width) {
        $width: map_get($breakpoints, $width);
        // @if $type == max {
        //     $width: $width - 1px;
        // }
        @media only screen and (#{$type}-width: $width) {
            @content;
        }
    }
}

/* 4632 Text links state indicator standardisation (Chill template)*/
@mixin chill-sitenav-focus-styles {
    box-shadow: none;
    outline: none;
    background: $focus-color;
    color: $black;
    text-decoration: underline;
    text-underline-offset: 0.2578em; //4632 .1578em
    text-decoration-thickness: max(3px, 0.1875rem, 0.12em);
  }
  
  @mixin chill-sitenav-focus {
    @include chill-sitenav-focus-styles;
  
    &:hover {
      @include chill-sitenav-focus-styles;
    }
  }
  
  // ==== MIXIN for hover state ====
  
  @mixin chill-sitenav-hover {
    box-shadow: none;
    text-decoration: underline;
    text-underline-offset: 0.1578em;
  }